<div class="modal">
    <h3>Подписка на БЕСПЛАТНУЮ рассылку приглашений в тендеры БЕЗ РЕГИСТРАЦИИ</h3>
    <section class="send-offer">
        {{ form_start(form, {'action' : path('subscribe'), 'attr' : {'id' : 'subscribe_form'}}) }}
        <div class="input" style="width: 43%; float: left;">
            <input type="text" id="first_name" placeholder="Фамилия" required="required">
        </div>
        <div class="input" style="width: 44%; float: left;">
            <input type="text" id="second_name" placeholder="Имя" required="required">
        </div>
        {{ form_row(form.fio) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.category) }}
        {{ form_row(form._token) }}

        <div class="subcategories">
            {% for subcat in form.subcategory %}
                <div class="checkbox checkbox_triple">
                    <label for="">
                        {{ form_widget(subcat) }}
                        {{ form_label(subcat) }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <div style="clear: both; display: flex; padding: 15px 0;">
            <div class="region" style="width: 50%;float: left;">
                <div class="select-block">
                    <span class="opt-link">Регион<span class="red">*</span></span>: <span class="opt-text">Все регионы</span>

                    <div class="sub">
                        <ul class="many region-block">
                            <li value=""><a href="#">Регион</a></li>
                            {% for region in regions %}
                                <li value="{{ region.id }}"><a href="#">{{ region }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <span class="red" id="city_error" style="display: none;">Укажите регион и город</span>

        <div class="submit" style="clear: both;">
            <button class="btn" type="submit" id="send-but">Подписаться</button>
        </div>
        {{ form_widget(form.city) }}
        </form>
    </section>
    <span class="close" id="close_modal"></span>
</div>

<script type="text/javascript" src="{{ asset('bundles/easybmain/js/jquery.maskedinput.min.js') }}"></script>
<script>
    $("#subscribe_phone").mask("+7 (999) 999-99-99");

    $(document).on('submit', '#subscribe_form', function () {
        $("#subscribe_fio").val(function () {
            return $("#first_name").val() + " " + $("#second_name").val();
        });
    });

    function reloadCategories($field, target) {
        var $form = $("#subscribe_form");
        var data = {};
        data[$field.attr('name')] = $field.val();
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function (html) {
                $(target).replaceWith(function () {
                            return $(html).find(target);
                        }
                );
            }
        });
    }

    $(document).ready(function () {
        reloadCategories($("#subscribe_category"), '.subcategories');
    });

    $(document).on('change', "#subscribe_category", function () {
        reloadCategories($(this), '.subcategories');
    });

    $(document).on("submit", "#subscribe_form", function() {
        if ($("#{{  form.city.vars.id }}").val() == 0) {
            $("#city_error").show();
            return false;
        }
    });




    $(document).on("click", "#subscribe_form .region-block li", function(){
        debugger;
        $("#subscribe_city").val($(this).val());
    });
</script>