{% if wo_breadcrumbs()|length %}
    {% spaceless %}
        <div xmlns:v="http://rdf.data-vocabulary.org/#">
        {% for b in breadcrumbs %}
                {% if b.url and not loop.last %}
                    <span typeof="v:Breadcrumb">
                    <a class="breadcrumbs-color" {% if b.text == 'Компании' %} rel="nofollow" {% endif %} href="{{ b.url }}" rel="v:url" property="v:title">{{- b.text | trans(b.translationParameters, translation_domain, locale) -}}</a>
                    </span>
                {% endif %}
                {% if loop.last %}
                    <span typeof="v:Breadcrumb">
                    <a class="breadcrumbs-color" property="v:title">{{- b.text | truncate(40, true) | trans(b.translationParameters, translation_domain, locale) -}}</a>
                    </span>
                {% endif %}
            {% if separator is not null and not loop.last %}<span class='{{ separatorClass }}'>></span>{% endif %}
        {% endfor %}
        </div>
    {% endspaceless %}
{% endif %}
