<form data-easyb="form" action="{{ path('improve', {'id': form.vars.value.id}) }}" {{ form_enctype(form) }}>
    {{ form_widget(form._token) }}
    {{ form_label(form.notes) }}
    <div style="text-align: center" class="note-label">Какие правила нарушены?</div>
    <div class="rules">
        <div class="rule">
            <span class="rule-check">
                {{ form_widget(form.rule1) }}
            </span>
            <span class="rule-label">
                {{ form_label(form.rule1) }}
            </span>
        </div>
        <div class="rule">
            <span class="rule-check">
                {{ form_widget(form.rule4) }}
            </span>
            <span class="rule-label">
                {{ form_label(form.rule4) }}
            </span>
        </div>
        <div class="rule">
            <span class="rule-check">
                {{ form_widget(form.rule5) }}
            </span>
            <span class="rule-label">
                {{ form_label(form.rule5) }}
            </span>
        </div>
    </div>
    {{ form_widget(form.notes) }}
</form>
