<form data-easyb="form" action="{{ path('improve', {'id': form.vars.value.id}) }}" {{ form_enctype(form) }}>
    {{ form_widget(form._token) }}
    {{ form_label(form.notes) }}
    {{ form_widget(form.notes) }}
</form>
