{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/easybadvert/js/upload.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.advert.initialize();
            $('#sonata-ba-field-container-{{ admin.uniqid }}_job').parent().hide();
            $('#sonata-ba-field-container-{{ admin.uniqid }}_fromAdmin').parent().hide();

            var prevVal = $("#{{ admin.uniqid }}_user_autocompleter_value").val();
            if (prevVal) getJobTemplate(prevVal);
            setInterval(function(){
                var curVal = $("#{{ admin.uniqid }}_user_autocompleter_value").val();
                if (curVal !== '' && prevVal !== curVal) {
                    // value changed
                    getJobTemplate(curVal);

                    prevVal = curVal;
                }
            }, 100)
        });

        function getJobTemplate(curVal)
        {
            jQuery.ajax({
                type: "POST",
                url: '{{ path('get_userjob_ajax') }}',
                data: {
                    userId: curVal
                },
                success: function(data){
                    if (data.job) {
                        jQuery('#company-del').remove();
                        jQuery('#sonata-ba-field-container-{{ admin.uniqid }}_user').parent().after('<div id="company-del" class="formRow"><div class="control-group"><div class="grid3"><label class="control-label"> Наименование организации </label></div><div class="controls sonata-ba-field sonata-ba-field-standard-natural"><div class="grid9"><input disabled="disabled" class=" span5" type="text" value="'+data.job+'" ></div></div></div><div class="clear"></div></div>');
                    } else {
                        jQuery('#company-del').remove();
                    }
                }
            });
        }
        /*
         var name = jQuery('.editor').attr('name');
        CKEDITOR.replace(name, {
            forcePasteAsPlainText : false,
            toolbar: [
                { name: 'Full', items: [ 'Bold', 'Italic', 'Underline'] },
                { name: 'Full', items: [ 'NumberedList', 'BulletedList', 'Link', 'Unlink', 'RemoveFormat' ] },
            ]
         });*/
    </script>
{% endblock %}