{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {{ parent() }}


    <script type="text/javascript">
        $(document).ready(function () {
            // add new buttons
            {#$('#validate').attr('action', '{{ path('approve', {'id' : object.getId()}) }}');#}
            $('.widget').append('<div id="my-but" class="formRow noBorderB">' +
                    '<input class="buttonS bBlue" type="submit" value="Подтвердить" name="btn_update_and_list">' +
                    //'<a href="{{ path('approve', {'id' : object.getId()}) }}" class="buttonS bBlue">Подтвердить</a>' +
                    '&nbsp' +
                    '<a href="{{ path('decline', {'id' : object.getId()}) }}" class="buttonS bRed">Отклонить</a>' +
            '</div>'
            );
            $('#my-but').prev().hide();

            $('#sonata-ba-field-container-{{ admin.uniqid }}_job').parent().hide();
            $('#sonata-ba-field-container-{{ admin.uniqid }}_fromAdmin').parent().hide();

            var prevVal = $("#{{ admin.uniqid }}_user_autocompleter_value").val();
            if (prevVal) getJobTemplate(prevVal);
            setInterval(function(){
                var curVal = $("#{{ admin.uniqid }}_user_autocompleter_value").val();
                if (curVal !== '' && prevVal !== curVal) {
                    // value changed
                    getJobTemplate(curVal);

                    prevVal = curVal;
                }
            }, 100)
        });

        function getJobTemplate(curVal)
        {
            jQuery.ajax({
                type: "POST",
                url: '{{ path('get_userjob_ajax') }}',
                data: {
                    userId: curVal
                },
                success: function(data){
                    if (data.job) {
                        jQuery('#company-del').remove();
                        jQuery('#sonata-ba-field-container-{{ admin.uniqid }}_user').parent().after('<div id="company-del" class="formRow"><div class="control-group"><div class="grid3"><label class="control-label"> Наименование организации </label></div><div class="controls sonata-ba-field sonata-ba-field-standard-natural"><div class="grid9"><input disabled="disabled" class=" span5" type="text" value="'+data.job+'" ></div></div></div><div class="clear"></div></div>');
                    } else {
                        jQuery('#company-del').remove();
                    }
                }
            });
        }

        var name = jQuery('.ckeditor').attr('name');
        CKEDITOR.replace(name, {
            forcePasteAsPlainText : false,
            toolbar: [
                { name: 'Full', items: [ 'Bold', 'Italic', 'Underline'] },
                { name: 'Full', items: [ 'NumberedList', 'BulletedList', 'Link', 'Unlink', 'RemoveFormat' ] },
            ]
        });
    </script>
{% endblock %}