<a data-easyb="modal-open-link" data-modal-content-url="{{ path('improve', {'id' : object.getId()}) }}" class="tablectrl_small bDefault tipS" original-title="Доработать" href="#">
    <span data-icon="" class="iconb">

    </span>
</a>
