<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}">
    {% set text = delete_tags(object.getText(), true) %}
    {% spaceless %}
	<a class="sonata-link-identifier" href="{{ admin.generateObjectUrl(field_description.options.route.name, object, field_description.options.route.parameters) }}">
        {{ text|truncate(300, true) }}
	</a>
    {% endspaceless %}
</td>