{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block title %}
    <title>Страница не найдена</title>
{% endblock %}

{% block header %}
    <header class="header">
        <div class="logo"><a  href="{{ path('homepage') }}"><img src="{{ asset('/bundles/easybmain/img/logo.png')}}" width="137" height="53" alt="EasyB"></a></div>
        {% if app.user is not null %}
            <nav class="top-nav"><a  class="opt-link" href="{{ path("fos_user_profile_edit") }}">{% if app.user.getFio() %}{{ app.user.getFio() }}{% else %}{{ app.user.getEmail() }}{% endif %}</a> <span>/</span> <a class="opt-link" href="{{ path("_security_logout") }}">Выход</a></nav>
        {% else %}
            <nav class="top-nav"><a  class="opt-link thickbox" href="{{ path("login") }}?height=750&width=500&modal=true">Вход</a> <span>/</span> <a class="opt-link thickbox" href="{{ path("login") }}?height=750&width=500&modal=true">Регистрация</a></nav>
        {% endif %}
        <ul class="menu">
            {% if app.user is not null %}
                <li>
                    <a  class="arr" href="{{ path('demands') }}">Мой тендер</a>
                    {% if app.user.getDemandNotification() %}
                        <a  href="{{ path('my_demand') }}"><em class="exclam" id="demand-notification"></em></a>
                    {% endif %}
                    <ul class="sub">
                        <li><a  href="{{ path('demands') }}">Мои тендеры</a></li>
                        <li><a  href="{{ path('my_demand') }}">Отклики</a></li>
                    </ul>
                </li>
                <li><a  class="arr" href="{{ path('offers') }}">Мое предложение</a>
                    {% if app.user.getOfferNotification() %}
                        <a  href="{{ path('my_offer') }}"><em class="exclam" id="offer-notification"></em></a>
                    {% endif %}
                    <ul class="sub">
                        <li><a  href="{{ path('offers') }}">Мое предложение</a></li>
                        <li><a  href="{{ path('my_offer') }}">Отклики</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a  class="arr thickbox" href="{{ path("login") }}?height=750&width=500&modal=true">Мой тендер</a>
                    <div class="sub text">
                        <p>Этот функционал доступен только<br>
                            авторизированным пользователям</p>
                        <a  class="opt-link thickbox" href="{{ path("login") }}?height=750&width=500&modal=true">Регистрация</a> </div>
                </li>
                <li><a  class="arr thickbox" href="{{ path("login") }}?height=750&width=500&modal=true">Мое предложение</a>
                    <div class="sub text">
                        <p>Этот функционал доступен только<br>
                            авторизированным пользователям</p>
                        <a  class="opt-link thickbox" href="{{ path("login") }}?height=750&width=500&modal=true">Регистрация</a> </div>
                </li>
            {% endif %}
            <li><a  href="/page/about">О портале</a></li>
            <li><a  href="/page/advertisers">Рекламодателям</a></li>
        </ul>
    </header>
{% endblock %}

{% block content %}
    <table class="error404-table">
        <tr>
            <td class="error404-td1"><div class="error404-text1">Страница не найдена</div></td>
            <td class="error404-img">
                <img src="{{ asset('bundles/easybmain/images/404.jpg') }}">
            </td>
            <td class="error404-td2"><div class="error404-text2">Перейти на <p></p></p><a href="{{ path('homepage') }}">главную страницу</a> сайта</div></td>
        </tr>
    </table>
{% endblock %}




