{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block title %}
    <title>An Error Occurred: {{ status_text }}</title>
{% endblock %}

{% block content %}
    <table class="error505-table">
        <tr>
            <td class="error505-img" >
                <img src="{{ asset('bundles/easybmain/images/505.jpg') }}">
                <p></p>
                <p class="error505-text">Приносим свои извинения, ошибка скоро будет устранена.</p>
                <p class="error505-text">Перейти на <a href="{{ path('homepage') }}">главную страницу</a> сайта.</p>
            </td>
        </tr>
    </table>
{% endblock %}
