{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block content %}
    {{ render(controller('EasybMainBundle:Banners:upBanner')) }}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>

    <table class="article-center">
        <tr>
            <td >
                <section class="mainContent">
                    {% include '@EasybMain/Article/showMaterials.html.twig' with {'path' : 'useful', 'count' : ['5','10','20', '50', '100'] } %}
                    <section class="mainContent-article-table">
                        <section class="articles">
                            {% for article in articles%}
                                <div class="article-main">
                                    <h4 class="article-h4"><a  href="{{ path('show_useful', {'slug' : article.getSlug()}) }}">{{ article.getName()|truncate(76, true) }}</a></h4>
                                    <p class="grey">Дата cоздания статьи: {{ article.getPublicationAt()|date('d.m.Y') }}</p>
                                    <div class="info-article">
                                        {% set text = delete_tags(article.getText(), true) %}
                                        {% spaceless %}
                                        {{ text|truncate(260, true)|raw }}
                                    </div>
                                    {% endspaceless %}
                                </div>
                                <nav class="actions2">
                                    <table>
                                        <tr>
                                            <td><a href="{{ path('show_useful', {'slug' : article.getSlug()}) }}"><span class="dash">Читать дальше</span></a></td>
                                        </tr>
                                    </table>
                                </nav>
                                <hr>
                            {% endfor %}
                            {% if articles is empty %}
                                <div class="text-align-center">На данный момент статей нет</div>
                            {% else %}
                                {{ pagerfanta(articles, 'pager') }}
                            {% endif %}
                        </section>
                    </section>
                </section>
            </td>
        </tr>
    </table>
    {{ render(controller('EasybMainBundle:Banners:sideBanner')) }}
    {{ render(controller('EasybMainBundle:Banners:downBanner')) }}
{% endblock %}

