{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block content %}
    {{ render(controller('EasybMainBundle:Banners:upBanner')) }}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <table class="article-center">
        <tr>
            <td >
                <section class="mainContent">
                    <h1>{{ article.getName() }}</h1>
                    <p>{{ article.getPublicationAt()|date('d.m.Y') }}</p>
                    {% set text = article.getText() %}
                    {{ text|raw }}
                    <div class="hr"></div>
                    {% if files is not empty %}
                    {% for file in files %}
                        <div class="file"><strong>{{ file.getDisplayName() }}</strong> | <a  href="{{ path('save_article_file', {'id' : file.getId()}) }}">Скачать</a></div>
                        {% if loop.last %}
                            <div class="hr"></div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    <br/><br/>
                </section>
            </td>
        </tr>
    </table>
    {{ render(controller('EasybMainBundle:Banners:sideBanner')) }}
    {{ render(controller('EasybMainBundle:Banners:downBanner')) }}
{% endblock %}

