{% extends "EasybAdminBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}


<!-- Login wrapper begins -->
<div class="loginWrapper">


    <form action="{{ url('_admin_check') }}" method="POST" id="login">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="loginPic">
            <a href="#" title=""><img src="/bundles/easybadmin/images/userLogin2.png" alt="" /></a>
            <span>{{ last_username }}</span>
            <div class="loginActions">
                <div><a href="#" title="Change user" class="logleft flip"></a></div>
                <div><a href="#" title="Forgot password?" class="logright"></a></div>
            </div>
        </div>
        {% if error %}
        <div class="nNote nError">
            <span>{{ error |trans({}, 'FOSUserBundle') }}</span>
        </div>
        {% endif %}
        <input type="text" id="username" name="_username" class="loginUsername" placeholder="{{'security.login.username'| trans({},'FOSUserBundle')}}"/>
        <input type="password" id="password" name="_password" placeholder="{{'security.login.password'| trans({},'FOSUserBundle')}}" class="loginPassword"/>

        <div class="logControl">
            <input type="checkbox" class="check" id="remember1" name="_remember_me" value="on" checked="checked"/>
            <label for="remember1">{{'security.login.remember_me'| trans({},'FOSUserBundle')}}</label>
            <input type="submit" id="_submit" name="_submit" value="{{'layout.login'| trans({},'FOSUserBundle')}}" class="buttonM bBlue"/>
            <div class="clear"></div>
        </div>

    </form>

</div>
<!-- Login wrapper ends -->




{% endblock fos_user_content %}
