<script type="text/javascript" src="{{ asset('bundles/easybadvert/js/upload.js') }}"></script>
<div class="modal">
    {% block h3_send %}
        <h3>Редактировать заявку</h3>
    {% endblock %}
    <section class="send-offer">
        {{ form_start(form, {'action' : path('edit_reaction', {'id' : reaction.id, 'class' : 'reaction_form' }) }) }}
        <fieldset>
            <div class="">
                Вы можете прикрепить к своей заявке Презентацию, Прайс-лист и тд.<br/>
                Внимание! Прикреплению подлежат файлы расширений Word, Excel, Power Point, PDF-документы и Фотоизображения.<br/>
                Суммарный объем файлов не должен превышат 30 Мб<br/>
                Объем одного файла не дложен превышать 10 Мб<br/>
            </div>
            <div id="files">
                <label for="">Обязательное приложение к заявке</label>
                {{ form_widget(form.files) }}
            </div>

            <hr>
            {{ form_label(form.job) }}
            {{ form_widget(form.job) }}
            <hr>

            {{ form_widget(form.message) }}

            {% block send_button %}
                <button class="btn" type="submit" id="send-but">Сохранить изменения</button>
            {% endblock %}
        </fieldset>
        {{ form_end(form) }}
    </section>
    <span class="close" id="close_modal"></span>
</div>

<script>
    window.advert.initialize("#files");

    var editor = CKEDITOR.instances['reaction_offer_type_message'];
    if (editor) {
        editor.destroy(true);
    }
    CKEDITOR.replace('reaction_offer_type_message');
    $("#TB_window").css("position", "absolute");
    $(document).on("submit", "{{ advert.id }}", window.advert.submit);

</script>

{% block script_send %}
    <script>
        function validate_form() {
            var isValid = true;
            if ($("#reaction_offer_type_message").val() == "") {
                isValid = false;
            }

            if (isValid) {

                return true;
            } else {
                $("#send-but")
                        .before($("<div/>", {
                            class: "red",
                            text: "Составьте сопроводительное письмо для заявки на участие в тендере"
                        }));
                return false;
            }

        }

        $(document).on("submit", ".reaction_form", function () {
            if (!validate_form()) return false;
            var form = $(this);
            var data = new FormData(this);
            $.ajax({
                type: "POST",
                url: "{{ path('send_reaction', {'id' : reaction.id }) }}",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    if (response.responseVal == "success") {
                        form.replaceWith(response.message);
                    }
                }
            });

            return false;
        });

        function choice(id) {
            if (jQuery('#my-offer-' + id).hasClass('bg-green')) {
                jQuery('.bg-green').removeClass();
                jQuery("#send-but").attr('disabled', true).addClass('active');
            } else {
                jQuery('.bg-green').removeClass();
                jQuery('#my-offer-' + id).addClass('bg-green');
                jQuery("#send-but").removeAttr('disabled').removeClass('active');
            }
            jQuery('#reaction_type_proposal').val(id);
        }
    </script>
{% endblock %}
