{% extends "EasybAdvertBundle:Advert:show.html.twig" %}


{% block message %}
    {% if reaction.getMessage() %}
        <div class="quote">
            <p>{{ reaction.getMessage() }}</p>
            <div class="arr"></div>
        </div>
    {% endif %}
{% endblock %}

{% block button %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user != advert.getUser() and (reaction.getStatus() == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_START') or reaction.getStatus() == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_CONSIDERED') ) %}
        <a  class="btn big-btn" href="{{ path('demand_approve', {'id' : reaction.getId()}) }}">Одобрить</a>  <a class="btn big-btn" href="{{ path('demand_decline', {'id' : reaction.getId()}) }}">Отклонить</a> <span class="info-pic"></span>
    {% endif %}
{% endblock %}