<div class="modal">
    {% block h3_send %}
        <h3>Подтвердите, пожалуйста, действие: {{ proposal.reaction.job.name }} выбирается победителем в тендере {{ proposal.reaction.demand.name }}</h3>
    {% endblock %}
    <section class="send-offer">
        <fieldset>
            <a class="btn" href="{{ path('select_winner', {'id' : proposal.id }) }}">Подтверждаю</a>
            <a class="btn" href="javascript: tb_remove();">Не подтверждаю</a>
        </fieldset>
    </section>
    <span class="close" id="close_modal"></span>
</div>