<script type="text/javascript" src="{{ asset('bundles/easybadvert/js/upload.js') }}"></script>
<div class="modal">
    {% block h3_send %}
        <h3>Отправка коммерческого предложения на тедер: {{ reaction.demand.name }}</h3>
    {% endblock %}
    <section class="send-offer">
        {{ form_start(form, {'action' : path('send_proposal', {'id' : reaction.id }), 'attr' : {'class' : 'proposal_form', "id" :  reaction.id }}) }}
        <fieldset>

            {% if form.children["job"] is defined %}
            <div class="jobs">
                {{ form_row(form.job) }}
            </div>
            {% endif %}

            <div class="">
                Вы можете прикрепить к своему предложению Презентацию, Прайс-лист и тд.<br/>
                Внимание! Прикреплению подлежат файлы расширений Word, Excel, Power Point, PDF-документы и Фотоизображения.<br/>
                Суммарный объем файлов не должен превышат 30 Мб<br/>
                Объем одного файла не дложен превышать 10 Мб<br/>
            </div>
            <div id="files">
            {{ form_widget(form.files) }}
            </div>
            <hr>
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }} руб. с НДС
            <hr>
            <h4>Сопроводительное письмо</h4>
            {{ form_widget(form.message) }}
            <hr>
            <div class="submit">
                <button class="btn" type="submit" id="send-but">Отправить заявку</button>
            </div>
        </fieldset>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </section>
    <span class="close" id="close_modal"></span>
</div>

<script>
    var required = {{ constant('Easyb\\AdvertBundle\\Entity\\Demand::REQUIRED_DOCS_ARRAY') | json_encode | raw }};
    window.advert.initialize("#files");

    var editor = CKEDITOR.instances['proposal_type_message'];
    if (editor) {
        editor.destroy(true);
    }
    CKEDITOR.replace('proposal_type_message');

    $("#TB_window").css("position", "absolute");
    $(document).on("submit", "{{ reaction.id }}", window.advert.submit);

    function format(comma, period) {
        comma = comma || ',';
        period = period || '.';
        var split = this.toString().split('.');
        var numeric = split[0];
        var decimal = split.length > 1 ? period + split[1] : '';
        var reg = /(\d+)(\d{3})/;
        while (reg.test(numeric)) {
            numeric = numeric.replace(reg, '$1' + comma + '$2');
        }
        return numeric + decimal;
    }

    $('#{{ form.price.vars.id }}').on('keyup', function(){
        $(this).val(format.call($(this).val().split(' ').join(''), ' ', '.'));
    });

</script>

{% block script_send %}
    <script>

        function validate_form() {
            var isValid = true;
            if ($("#proposal_message").val() == "") {
                isValid = false;
            }
            if (isValid) {
                return true;
            } else {
                $("#send-but")
                        .before($("<div/>", {
                            class: "red",
                            text: "Составьте сопроводительное письмо для заявки на участие в тендере"
                        }));
                return false;
            }

        }

        function choice(id) {
            if ($('#my-offer-' + id).hasClass('bg-green')) {
                $('.bg-green').removeClass();
                $("#send-but").attr('disabled', true).addClass('active');
            } else {
                $('.bg-green').removeClass();
                $('#my-offer-' + id).addClass('bg-green');
                $("#send-but").removeAttr('disabled').removeClass('active');
            }
            $('#reaction_type_proposal').val(id);
        }
    </script>
{% endblock %}
