<div class="modal ajax-content">
    <h3>Связаться с компанией</h3>
    <section class="complain">
        <form action="{{ path('send_fromadmin', {'id' : advert.getId()}) }}" method="POST">
            <fieldset>
                {{ form_widget(form) }}
                <input value="Отправить" type="submit">
            </fieldset>
            {{ form_rest(form) }}
        </form>
    </section>
    <span class="close" id="close_modal"></span>
</div>
