<div class="modal">
    {% block h3_send %}
        <h3>Коммерческое предложение на тендер: {{ proposal.reaction.demand.name }}</h3>
    {% endblock %}
    <section class="show-offer">

        {% for file in proposal.files %}
            <div class="file">
                <strong>{{ file.displayName }}</strong> |
                <a href="{{ path('save_file', {'id' : file.id}) }}">Скачать</a> |
                <a href="{{ path('preview_file', {'id' : file.id }) }}" target="_blank">Просмотр</a>
            </div>
            {% if loop.last %}
                <div class="hr"></div>
            {% endif %}
        {% endfor %}

        <h2>Финальная стоимость лота</h2>
        <p>
            {{ proposal.price }} руб. с НДС
        </p>

        <h2>Сопроводительное письмо</h2>
        <p>
            {{ proposal.message | raw }}
        </p>


    </section>
    <span class="close" id="close_modal"></span>
</div>