<div class="modal">
    {% block h3_send %}
        <h3>Заявка на тендер: {{ reaction.demand.name }}</h3>
    {% endblock %}
    <section class="show-offer">

        {% for file in reaction.files %}
            <div class="file">
                <strong>{{ file.getDisplayName() }}</strong> |
                <a href="{{ path('save_file', {'id' : file.getId()}) }}">Скачать</a> |
                <a href="{{ path('preview_file', {'id' : file.id }) }}" target="_blank">Просмотр</a>
            </div>
            {% if loop.last %}
                <div class="hr"></div>
            {% endif %}
        {% endfor %}

        {% if reaction.status != constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DIRECT') %}
            <h2>Сопроводительное письмо</h2>
            <p>
                {{ reaction.message | raw }}
            </p>
        {% endif %}
    </section>
    <span class="close" id="close_modal"></span>
</div>