{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <nav class="path"><a  href="{{ path('homepage') }}">EasyB</a> <span>></span> Восстановление пароля</nav>
    <h1>Восстановление пароля</h1>
    <h3>На ваш почтовый ящик отправлено письмо</h3>
{% endblock %}