{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
{{ get_custom_mail_subject(constant('Easyb\\UserBundle\\Entity\\Mail::TYPE_RESETTING'), user.username, confirmationUrl) }}
{% endblock %}

{% block body_text %}
{{ get_custom_mail_text(constant('Easyb\\UserBundle\\Entity\\Mail::TYPE_RESETTING'), user.username, confirmationUrl) }}
{% endblock %}

{% block body_html %}{% endblock %}
