{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <nav class="path"><a  href="{{ path('homepage') }}">EasyB</a> <span>></span> Восстановление пароля</nav>
    <h1>Восстановление пароля</h1>
    <h3>Ошибка!</h3>
    Пароль для данного пользователя уже запрашивался за последние 24 часа
{% endblock %}