<div class="modal">
    <h3>Восстановление пароля</h3>
    <p>На ваш Email будет отправлено письмо, которое позволит переустановить пароль заново</p>
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
        <fieldset>
            {% if invalid_username is defined %}
                <p>Такой пользователь не зарегистрирован</p>
            {% endif %}
            <ul class="form">
                <li>
                    <div class="input">
                        <input placeholder="Email" type="text" id="username" name="username" required="required" />
                    </div>
                </li>
                <li class="submit">
                    <input value="Отправить письмо" type="submit">
                </li>
            </ul>
        </fieldset>
    </form>
    <span class="close" id="close_modal"></span>
</div>
