{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <nav class="path"><a  href="{{ path('homepage') }}">EasyB</a> <span>></span> Восстановление пароля</nav>
    <!-- end .path-->
    <h1>Восстановление пароля</h1>
    <div class="parts">
        <section class="half">
            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
                {{ form_widget(form) }}
                <br/>
                <div>
                    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                </div>
            </form>
        </section>
    </div>
{% endblock %}