{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block show %}
    {{ parent() }}
    <div class="grid6">
        <a  class="buttonS bRed  mt10" href="{{ admin.generateUrl('delete_user', {'id' : object.getUser().getId()}) }}">Удалить пользователя</a>
    </div>
{% endblock %}