{% block subject %}
{%- autoescape false -%}
    {{ subject }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{%- autoescape false -%}
    {{ text }}
{%- endautoescape -%}
{% endblock %}

{% block body_html %}
    {{ text | raw }}
{% endblock %}