{% extends "EasybMainBundle:Frontend:ajax.html.twig" %}

{% block content %}
    {% spaceless %}
    <div class="modal">
        {% if document.getH1Title is not empty %}
            <h3>{{ document.getH1Title() }}</h3>
        {% endif %}
        <section>
            {{ document.getText()|raw }}
        </section>
        <span class="close" id="close_modal"></span>
    </div>
    {% endspaceless %}
{% endblock %}