<section class="show"> <span>Показывать по</span>
    <select class="small" id="count_on_page">
        {% for number in count %}
            <option {% if app.request.get('count') == number %}selected{% endif %} value="{{ path(path, {'url': url,'count' : number}) }}">{{ number }}</option>
        {% endfor %}
    </select>
    <span>объявлений</span>
</section>