<nav class="sections">
    <ul>
    {% for category in categories %}
        <li><a target="_self" href="{{ path('catalog_offer', {'url':category.getSlug()}) }}" >{{ category.getName() }}</a></li>
        {% if loop.index == count or loop.index == count+count %}
        </ul><ul>
        {% endif %}
        {% if loop.last %}</ul>{% endif %}
    {% endfor %}
</nav>
