<section class="index-block">
    {#<h1>Твой легкий бизнес</h1>#}
    <form method="post" {{ form_enctype(form) }} action="{{ path('catalog') }}" id="search-form">
        <div class="tabs">
            <a class="opt-link" href="#" value="{{ constant('Easyb\\AdvertBundle\\Entity\\AbstractAdvert::DEMAND') }}">Открытые тендеры</a><span>|</span><a class="top-link active" href="#" value="{{ constant('Easyb\\AdvertBundle\\Entity\\AbstractAdvert::OFFER') }}">Коммерческие предложения</a>
        </div>
        <div class="search">
            <div class="input">
                {{ form_widget(form.text, {'attr' : {'placeholder' : 'Введите текст для поиска', 'class' : 'search_text', 'autocomplete' : 'off'}}) }}
            </div>
            <input class="small-btn" value="Найти" type="submit">

            <div class="sub">
            </div>
        </div>
        <div class="filter">
            <div class="select-block">
                <span class="opt-link">Регион</span>: <span class="opt-text">Все регионы</span>
                <div class="sub">
                    <ul class="many region-block">
                        <li value=""><a href="#">Все регионы</a></li>
                        {% for region in regions %}
                            <li value="{{ region.id }}"><a href="#">{{ region }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="select-block">
                <span class="opt-link">Город</span>: <span class="opt-text">Все города</span>
                <div class="sub">
                    <ul class="many city-block">
                        <li value=""><a href="#">Все города</a></li>
                        {#{% for city in cities %}
                            <li value="{{ city.id }}"><a href="#">{{ city }}</a></li>
                        {% endfor %}#}
                    </ul>
                </div>
            </div>

            <div class="select-block">
                <span class="opt-link">Раздел</span>: <span class="opt-text">Все разделы</span>

                <div class="sub">
                    <ul class="many category-block">
                        <li value=""><a href="#">Все разделы</a></li>
                        {% for category in categories %}
                            <li value="{{ category.id }}"><a href="#">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="select-block">
                <span class="opt-link">Подраздел</span>: <span class="opt-text">Все подразделы</span>

                <div class="sub">
                    <ul class="many subcategory-block">
                        <li value=""><a href="#">Все подразделы</a></li>
                    </ul>
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span class="opt-link" onclick='location.href = "{{ path('autosearch') }}"'>Автопоиск</span>
            {% endif %}
        </div>
        {{ form_rest(form) }}
    </form>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        window.search.initialize('{{ path('search_ajax') }}', '{{ form.text.vars.id }}', '{{ form.categoryId.vars.id }}', '{{ form.cityId.vars.id }}', '{{ form.advertTypeId.vars.id }}', '{{ form.subcategoryId.vars.id }}');
        window.search.initializeListeners();
    });
</script>