<section class="index-stat-block">
    <span class="demands">Тендеров: <strong>{{ demandsCount }}</strong></span>
    <span class="companies">Компаний: <strong>{{ companiesCount }}</strong></span>
    <span class="offers">Коммерческих предложений: <strong>{{ offersCount }}</strong></span>
    <span class="users">Зарегистрированных пользователей: <strong>{{ usersCount }}</strong></span>
</section>