<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">

<head>
   <title>Скоро easyb</title>
   <style type="text/css">
       body {
           width: 400px;
           margin: 100px auto;
           font: 300 120% "OpenSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
       }

       h1 {
           font-weight: 300;
       }
       </style>
</head>

<body>

    <h1>Скоро запуск easyb</h1>

    <p>Скоро запуск проекта easyb<br></p>

    <p>Осталось совсем немного.</p>

</body>
</html>