/* jQuery UI Autocomplete 1.8.19
*
* Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT or GPL Version 2 licenses.
* http://jquery.org/license
*
* http://docs.jquery.com/UI/Autocomplete#theming
*/
.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index: 10000 !important;
}

/* workarounds */
* html .ui-autocomplete {
    width: 1px;
    z-index: 10000 !important
}

/* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu @VERSION
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    float: left;
    z-index: 10000 !important;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 205px;
    background: #FFFFFF;
    margin-left: -3px;
    cursor: pointer;
    border-left: 1px solid !important;
    border-right: 1px solid !important;
    border-bottom: 1px solid !important;
    border-color: #CCCCCC !important;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
    background: #444444;
    color: #FFFFFF;
}

.ui-autocomplete-loading {
    background-image: url(../images/ajax-loader.gif) !important;
    background-position: right 50% !important;
    background-repeat: no-repeat !important;
}

