{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {%- if value is empty -%}
        &nbsp;
    {%- else -%}
        {% if value == constant('Easyb\\MainBundle\\Entity\\Spam::TYPE_WAITING')%}
            Ожидает рассылки
        {% elseif value == constant('Easyb\\MainBundle\\Entity\\Spam::TYPE_DONE')%}
            Выполненная рассылка
        {% endif %}
    {%- endif -%}
{% endblock %}