{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% if form.parent is empty %}
                {{ form_errors(form) }}
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}


{% block form_row %}
    {% spaceless %}
        {{ form_label(form) }}
        <div class="input  {% if errors|length > 0 %} error {% endif %}">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="err-text">
                {% for error in errors %}
                    {{ error.message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('label'))|trim}) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('label') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} >
                {{ label|trans({}, translation_domain) -}}
                {%- if required %}
                    <span class="red">*</span>
                {%- endif -%}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block job_choice_widget %}
    {% spaceless %}
        {% if expanded %}
            {{ block('choice_widget_expanded') }}
        {% else %}
            {{ block('choice_widget_collapsed') }}
        {% endif %}
    {% endspaceless %}
    {#<br/>
    <div class="job_info"></div>
    {% if form.parent.children["category"] is defined %}
        {% set widget_id = form.parent.children["category"].vars.id %}
    {% else %}
        {% set widget_id = "form" %}
    {% endif %}
    <script type="text/javascript">
        $('form').ready(function () {
            $.ajax({
                type: "POST",
                url: '{{ path('get_job_ajax') }}',
                data: {
                    jobId: $(this).find(":selected").attr('value')
                },
                success: function (data) {
                    if (data.jobInfoTemplate) {
                        $('.job_info').html(data.jobInfoTemplate);
                    } else {
                        $('.job_info').empty();
                    }

                    updateCategories(data);
                }
            });
        });

        function updateCategories(data) {
            var newOptions = data.categories;

            var $el = $("#offer_type_category");
            $el.empty(); // remove old options
            $.each(newOptions, function (value, key) {
                $el.append($("<option></option>")
                        .attr("value", value).text(key));
            });
            $el.parent().find(".selectArea").remove();
            $el.removeClass("outtaHere").customSelect();
        }

        $('#{{ id }}').on('change', function () {
            $.ajax({
                type: "POST",
                url: '{{ path('get_job_ajax') }}',
                data: {
                    jobId: $(this).find(":selected").attr('value')
                },
                success: function (data) {
                    if (data.jobInfoTemplate) {
                        $('.job_info').html(data.jobInfoTemplate);
                    } else {
                        $('.job_info').empty();
                    }
                    updateCategories(data);
                }
            });
        });
    </script>#}
{% endblock job_choice_widget %}

{% block file_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <table class="file_collection" {% if prototype is defined %}data-prototype="{{ attr['data-prototype'] }}{% endif %}">
            {% for rows in form %}
                <tr class="file_form">
                    {% set fieldNum = 1 %}
                    {% for row in rows %}
                        {{ block('file_row_widget') }}
                    {% endfor %}
                </tr>
                {{ form_errors(rows.displayName) }}
            {% endfor %}
            {{ form_rest(form) }}
        </table>
    {% endspaceless %}
{% endblock %}

{% block collection_rest %}
{% endblock %}

{% block collection_item_widget %}
    {% spaceless %}
        {% set fieldNum = 1 %}
        {% for row in prototype %}
            {{ block('file_row_widget') }}
            {{ form_errors(row) }}
        {% endfor %}
        {{ form_errors(prototype.displayName) }}
    {% endspaceless %}
{% endblock %}

{% block file_widget %}
    {% if file_id is defined and file_id is not null and get_required is defined %}
        <td class="file_info" data-size="{{ file_size }}" data-ext="jpg" data-required="{{ get_required }}">
            {#<a href="{{ path('save_file', {'id' : file_id}) }}" target="_blank">
                {{- file_name | truncate(30) -}}
            </a>#}
            <span class="opt-link">{{ file_name }}</span>
            <span> | </span>
            <span>
                {{- _self.bytesToSize(file_size) -}}
            </span>
        </td>
        <td class="file_actions">
            <div class="action">
                <a href="{{ path('preview_file', {'id' : file_id}) }}" target="_blank">Просмотр</a>
            </div>
        </td>
    {% else %}
        <td class="file_info">
            <span class="opt-link">Загрузить файл</span>
            <input type="file" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
        </td>
        <td class="file_actions">

        </td>
    {% endif %}
{% endblock %}

{% block file_row_widget %}
    {% if row.vars.name == 'file' %}
        {{ form_widget(row) }}
    {% elseif row.vars.name == 'required' %}
        {{ form_widget(row) }}
    {% else %}
        <td class="file_name">
            {{- form_widget(row) -}}
        </td>
    {% endif %}
    {% set fieldNum = fieldNum + 1 %}
{% endblock file_row_widget %}

    {% block uploadify_widget %}
        {% spaceless %}
            <a href="#" {{ block('widget_attributes') }}></a>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#{{ id }}').uploadify({
                        'hideButton': true,
                        'wmode': 'transparent',
                        'height': '20',
                        'width': '60',
                        'removeTimeout': 0,
                        'successTimeout': 10,
                        'fileObjName': 'filedata',
                        'swf': '{{ asset(swfPath) }}',
                        'uploader': '{{ path(uploaderPath) }}',
                        'formData': {
                            {% for key,data in formData %}
                            '{{ key }}': {{ data }},
                            {% endfor %}
                        },
                        'multi': {% if multi %}true{% else %}false{% endif %},
                        'fileTypeExts': '{{ fileTypeExts }}',
                        'fileSizeLimit': '5MB',
                        'buttonText': '<span class="opt-link" id="load-photo">Загрузить</span>',
                        'onUploadSuccess': function (file, data, response) {
                            data = $.parseJSON(data);
                            addPhoto(data);
                        },
                        'onUploadError': function (file, errorCode, errorMsg, errorString) {
                            console.log(errorMsg);
                            console.log(errorString);
                            if (errorString == 'Cancelled') {
                                alert('Загрузка фото прервана');
                            } else {
                                $('body').append($('#popupError'));
                                $('#popupError').show();
                            }
                        }
                    });
                });
            </script>
            <div class="modal" id="popupError" style="display: none">
                Ошибка
            </div>
        {% endspaceless %}
    {% endblock %}


    {% macro bytesToSize(bytes) %}
        {% spaceless %}
            {% set kilobyte = 1024 %}
            {% set megabyte = kilobyte * 1024 %}
            {% set gigabyte = megabyte * 1024 %}
            {% set terabyte = gigabyte * 1024 %}

            {% if bytes < kilobyte %}
                {{ bytes ~ ' B' }}
            {% elseif bytes < megabyte %}
                {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
            {% elseif bytes < gigabyte %}
                {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
            {% elseif bytes < terabyte %}
                {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
            {% else %}
                {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
            {% endif %}
        {% endspaceless %}
    {% endmacro %}

{#
{% block choice_widget_options %}
{% spaceless %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option value="{{ choice.value }}"
            {% if choice is selectedchoice(value) %}
            selected="selected"
            {% endif %}
            {% if choice.attr is defined %}
                {% for attrname, attrvalue in choice.attr %}
                    {% if attrname in ['title'] %}
                        {{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
                    {% else %}
                        {{ attrname }}="{{ attrvalue }}"
                        {% endif %}
                    {% endfor %}
            {% endif %}
            >
            {{ choice.label|trans({}, translation_domain) }}
            </option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_options %}
#}