<footer class="footer">
    <div class="container">
        <ul class="l">
            <li style="margin-left: 50px;"><a  href="/page/about">О портале</a></li>
            <li><a  href="{{ path('help') }}">Написать нам / Сообщить об ошибке</a></li>
            <li><a  href="/page/contacts">Контакты</a></li>
            <li><a  href="{{ path('catalog_only_offer') }}">Все объявления</a></li>
            <li style="margin-right: 10px"><a  href="/page/rules">Пользовательское соглашение</a></li>
        </ul>
    </div>
</footer>