<div class="modal">
    <form id="get_contacts" method="POST" action="{{ path('get_contacts') }}">
        {{ form_widget(form.captcha) }}
        {{ form_row(form._token) }}
        <button type="submit">Отправить</button>
    </form>
    <span class="close" id="close_modal"></span>
    <script>
        $(document).ready(function(){
            Recaptcha.create('6LeKpBoTAAAAAC8JT-VORxdK3IUByfsCXhCDXsGI', 'get_contacts_captcha_div', {"lang":"ru"});
        });
        $(document).on("submit", "#get_contacts", function () {
            $.ajax({
                url: "{{ path('get_contacts') }}",
                type: "POST",
                data: $("#get_contacts").serialize(),
                success: function (response) {
                    if (response != "") {
                        $("#userhead").replaceWith($(response).find("#userhead"));
                        tb_remove();
                    } else {
                        Recaptcha.reload();
                    }
                },
            });
            return false;
        });
    </script>
</div>