<header class="header">
    <div class="logo"><a href="{{ path('homepage') }}"><img src="{{ asset('/bundles/easybmain/img/logo.png') }}" width="137" height="53" alt="EasyB"></a></div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
        <nav class="top-nav">
            <a class="opt-link thickbox" href="{{ path("login") }}?height=270&width=670&modal=true">Вход</a>
            <span>/</span>
            <a class="opt-link thickbox" href="{{ path("login") }}?height=270&width=670&modal=true">Регистрация</a></nav>
    {% else %}
        <nav class="top-nav">
            <a class="opt-link" href="{{ path("fos_user_profile_edit") }}">
                {% if app.user.fio %}
                    {{ app.user.getFio() }}
                {% else %}
                    {{ app.user.email }}
                {% endif %}
            </a>
            <span>работает в компании</span>
            {% if app.user.jobs is not empty %}
                <a href="{{ path('jobs_list') }}" class="opt-link" >{{ app.user.jobs[0].name }}</a>
            {% else %}
                <a href="{{ path('job_add') }}" class="opt-link">Добавить место работы</a>
            {% endif %}
            <span>/</span>
            <a class="opt-link" href="{{ path("_security_logout") }}">
                Выход
            </a>
        </nav>
    {% endif %}
    <ul class="menu">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>
                <a class="arr" href="{{ path('demands') }}">Мой тендер</a>
                {% if app.user.getDemandNotification() %}
                    {#<a  href="{{ path('my_demand') }}"><em class="exclam" id="demand-notification"></em></a>#}
                {% endif %}
                <ul class="sub">
                    <li><a href="{{ path('demands') }}">Мои тендеры</a></li>
                    <li><a href="{{ path('my_demand') }}">Статус моих тендеров</a></li>
                </ul>
            </li>
            <li><a class="arr" href="{{ path('offers') }}">Мое предложение</a>
                {% if app.user.getOfferNotification() %}
                    {#<a  href="{{ path('my_offer') }}"><em class="exclam" id="offer-notification"></em></a>#}
                {% endif %}
                <ul class="sub">
                    <li><a href="{{ path('offers') }}">Мое предложение</a></li>
                    <li><a href="{{ path('my_offer') }}">Статус моего участия в тендерах</a></li>
                </ul>
            </li>
        {% else %}
            <li><a class="arr thickbox" href="{{ path("login") }}?height=270&width=670&modal=true">Мой тендер</a>

                <div class="sub text">
                    <p>Этот функционал доступен только<br>
                        авторизированным пользователям</p>
                    <a class="opt-link thickbox" href="{{ path("login") }}?height=270&width=670&modal=true">Регистрация</a></div>
            </li>
            <li><a class="arr thickbox" href="{{ path("login") }}?height=270&width=670&modal=true">Мое предложение</a>

                <div class="sub text">
                    <p>Этот функционал доступен только<br>
                        авторизированным пользователям</p>
                    <a class="opt-link thickbox" href="{{ path("login") }}?height=270&width=670&modal=true">Регистрация</a></div>
            </li>
        {% endif %}
        <li><a href="/page/about">О портале</a></li>
        <li><a href="{{ path('useful') }}">Полезная информация</a></li>
    </ul>
</header>