<div class="modal">
    <h3>Ваше сообщение отправлено администратору. Спасибо.</h3>
     <span class="close" onclick="location.href = '{{ url('homepage') }}'" ></span>
</div>
<div class="fader"></div>
