{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block content %}
    <nav class="path"><a  href="{{ path('homepage') }}">EasyB</a> <span>></span> Написать нам / Сообщить об ошибке</nav>
    <h1>Написать нам / Сообщить об ошибке</h1>
    <div class="parts ajax-content">
        <section class="half">
            <form action="{{ path("help") }}" method="POST" class="ajax">
                <fieldset>
                    <ul class="form">
                        <li>
                            {{ form_row(form['email']) }}
                        </li>
                        <li>
                            {{ form_row(form['text']) }}
                        </li>
                        <li class="submit">
                            <input value="Написать" type="submit">
                        </li>
                    </ul>
                </fieldset>
                {{ form_rest(form) }}
            </form>
        </section>
    </div>
{% endblock %}