{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block content %}
    <div class="subscribe" style="text-align: center;">
        <a href="{{ path('subscribe') }}?height=500&width=670&modal=true" class="btn thickbox" style="background: #78b618; color: #fff;">Подписаться на БЕСПЛАТНУЮ рассылку приглашений в тендеры БЕЗ РЕГИСТРАЦИИ</a>
    </div>
    {{ render(controller('EasybMainBundle:Components:searchOnMain')) }}
    {{ render(controller('EasybMainBundle:Components:searchOnMainStat')) }}
    {{ render(controller('EasybMainBundle:Components:category')) }}
    {% include 'EasybMainBundle:Frontend:footerShow.html.twig' %}
    {% for flashMessage in app.session.flashbag.get('subscribe') %}
        {% if flashMessage %}
            <div id="TB_overlay" class="TB_overlayBG"></div>
            <div id="TB_window" style="margin-left: -265px; width: 530px; margin-top: -90px; display: block;">
                <div id="TB_ajaxContent" class="TB_modal" style="width: 500px; height: 150px;">
                    <div class="modal">
                        <section>
                            {{ flashMessage | raw }}
                        </section>
                        <span class="close" id="close_modal"></span></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}