<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name='yandex-verification' content='4690d3d8e50ac32c' />

    {% block metadata %}
        {% include 'EasybMainBundle:Frontend:metadata.html.twig' %}
    {% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('/bundles/easybmain/css/style.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('/bundles/easybmain/css/thickbox.css')}}" rel="stylesheet" type="text/css">
        <!--[if lte IE 7]><link href="{{ asset('/bundles/easybmain/css/ie7.css')}}" rel="stylesheet" type="text/css" /><![endif]-->
        <!--[if lte IE 8]>
        <link href="css/ie8.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ asset('/bundles/easybmain/js/PIE.js')}}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/easybmain/js/html5support.js')}}"></script>
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
        <link href="{{ asset('/bundles/easybmain/css/custom.css')}}" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('/bundles/easybmain/js/jquery.js')}}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/easybmain/js/jquery-migrate-1.1.1.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/easybmain/js/jquery.main.js')}}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/easybmain/js/main.js')}}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/easybmain/js/thickbox-compressed.js')}}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/easybmain/js/search.js')}}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/easybmain/js/swfobject/swfobject.js')}}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/easybmain/js/jquery.flash.js')}}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/easybmain/js/jquery.poshytip.min.js')}}"></script>
    {% endblock %}

    <!-- Google.analitics counter -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-42587504-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- end Google.analitics counter -->

</head>
<body>
<div class="wrapper">
    <a name="up"></a>
    <div class="container">

        {% block header %}
            {% include 'EasybMainBundle:Frontend:header.html.twig' %}
        {% endblock %}
        <div class="hr subheader"></div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer-place"></div>
    </div>
    {% block up_button %}
        <a  class="up-link" href="#up" style="display:none;" id="Go_Top"></a>
    {% endblock %}
</div>
{% block footer %}
    {% include 'EasybMainBundle:Frontend:footer.html.twig' %}
{% endblock %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter21828868 = new Ya.Metrika({id:21828868,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21828868" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
