{% if metadata is defined %}
<title>{% if metadata['title'] is defined %} {{ metadata['title'] }} {% endif %}</title>
<meta name="keywords" content="{% if metadata['keywords'] is defined %}{{ metadata['keywords'] }}{% endif %}">
<meta name="description" content="{% if metadata['description'] is defined %}{{ metadata['description'] }}{% endif %}">
{% endif %}