<aside class="aside">
    {% for key,banner in banners %}
        {% if banner.image is defined %}
            <a  target="_blank" href="{{ banner.link }}"><img src="{{ banner.image }}" width="240" height="400" alt=" "></a>
        {% endif %}
        {% if banner.html is defined %}
            {{ banner.html | raw }}
        {% endif %}
        {% if flash is defined %}
            <div class="place">
                <object>
                    <param name="wmode" value="opaque"/>
                    <embed src="{{ banner.flash }}" quality="high" name="logo" type="application/x-shockwave-flash" wmode="opaque" width="240" height="400"/>
                </object>
            </div>
        {% endif %}
        {% if not loop.last %}
            <br/><br/><br/>
        {% endif %}
    {% endfor %}
</aside>