{% if image is defined %}
    <div class="place"><a  target="_blank" href="{{ link }}"><img src="{{ image }}" width="728" height="90" alt=" "></a></div>
{% endif %}

{% if html is defined %}
    <div class="place">
        {{ html | raw }}
    </div>
{% endif %}

{% if flash is defined %}
    <div class="place">
        <object>
            <param name="wmode" value="opaque"/>
            <embed src="{{ flash }}" quality="high" name="logo" type="application/x-shockwave-flash" wmode="opaque" width="728" height="90px"/>
        </object>
    </div>
{% endif %}