{% extends 'EasybAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/easybadvert/js/upload.js') }}"></script>

    <script>
        var name = jQuery('.ckeditor').attr('name');
        CKEDITOR.replace(name, {
            forcePasteAsPlainText: false,
            toolbar: [
                {name: 'Full', items: ['Bold', 'Italic', 'Underline']},
                {name: 'Full', items: ['NumberedList', 'BulletedList', 'Link', 'Unlink', 'RemoveFormat']},
            ]
        });
        window.advert.initialize();
    </script>
{% endblock %}

{% block actions %}
{% endblock %}
