{% extends 'EasybAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {{ parent() }}

    <script>
        ckeditorConfig(jQuery('.ckone').attr('name'));
        ckeditorConfig(jQuery('.cktwo').attr('name'));
        ckeditorConfig(jQuery('.ckthree').attr('name'));
        ckeditorConfig(jQuery('.ckfour').attr('name'));


        function ckeditorConfig(name) {
            CKEDITOR.replace(name, {
                forcePasteAsPlainText : false,
                toolbar: [
                    { name: 'Full', items: [ 'Bold', 'Italic', 'Strike', 'Source', 'Styles', 'Format', 'Font', 'FontSize' ] },
                    { name: 'Full', items: [ 'TextColor', 'BGColor', 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', 'Blockquote', 'CreateDiv' ] },
                    { name: 'Full', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Print',    'SpellChecker', 'Scayt'] },
                    { name: 'Full', items: ['Undo', 'Redo', '-', 'Find', 'Replace', '-', 'SelectAll', 'RemoveFormat'] },
                    { name: 'Full', items: ['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField'] },
                    { name: 'Full', items: ['BidiLtr', 'BidiRtl'] },
                    { name: 'Full', items: ['JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] }
                ]
            });
        }
    </script>
{% endblock %}

{% block actions %}
{% endblock %}