{% extends 'EasybMainBundle:Frontend:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/easybadvert/js/upload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/easybmain/js/uploadify/jQuery.uploadify.ru.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/easybmain/js/jquery.maskedinput.min.js') }}"></script>
{% endblock %}

{% block content %}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <h1>{% if job is defined %}Редактирование места работы{% else %}Добавление места работы{% endif %}</h1>
    <div class="parts">
        <section class=""> {# class="half" #}
            {#<form method="POST" action="{{ job is defined ? path('job_edit', {'id': job.getId()}) : path('job_add') }}" {{ form_enctype(form) }}>#}
            {{ form_start(form) }}
            <fieldset>
                <ul class="form">
                    <li class="">
                        <div class="half" style="margin-right: 15px;">
                            {{ form_row(form['name']) }}
                        </div>
                        <div class="half">
                            <div style="width: 40%;float: left;margin-right: 15px;">
                                {{ form_label(form['organizationType']) }}
                                {{ form_widget(form['organizationType']) }}
                            </div>
                            <div style="width: 50%;float: left;">
                                <label class="label required" for="job_organizationId">
                                    ИНН
                                    <span>(<span id="inn_digits">10</span> цифр)</span>
                                    <span class="red">*</span>
                                </label>
                                {{ form_widget(form['organizationId']) }}
                                <p id="job_organizationId_error" class="red" style="display: none;">Неверный ИНН</p>
                            </div>
                        </div>
                    </li>
                    <li class="res-input categories">
                        {{ form_label(form['categories']) }}
                        {% for category in form['categories'] %}
                            <div class="checkbox category">
                                <label>
                                    {{ form_widget(category) }}
                                    {{ form_label(category) }}
                                </label>
                            </div>
                        {% endfor %}
                        {{ form_errors(form['categories']) }}
                        <div class="err-text" style="clear: both;float: none;"></div>
                    </li>
                    
                    <li class="res-input">
                        {{ form_row(form.position) }}
                    </li>
                    {#<li>
                        {% spaceless %}
                            Кратко опишите компанию. Сообщите о сильных сторонах предприятия, преимуществах, участии в каких-либо рейтингах, клиентах, достижениях, опыте. Пожалуйста соблюдайте <a class="thickbox" href="{{ path('show_page', {'link': 'add_rules'}) }}?height=750&width=500&modal=true">правила</a> по заполнению информации на сайте.
                            <span class="red">*</span>
                            <div class="input  {% if errors|length > 0 %} error {% endif %}">
                                {{ form_widget(form['description']) }}
                                {{ form_errors(form['description']) }}
                            </div>
                        {% endspaceless %}
                    </li>#}
                    <li class="html-input">
                        {% spaceless %}
                            Кратко опишите компанию. Сообщите о сильных сторонах предприятия, преимуществах, участии в каких-либо рейтингах, клиентах, достижениях, опыте. Пожалуйста соблюдайте <a class="thickbox" href="{{ path('show_page', {'link': 'add_rules'}) }}?height=750&width=500&modal=true">правила</a> по заполнению информации на сайте.
                            <span class="red">*</span>
                            <div class="{% if errors is not empty %} error {% endif %}">
                                {{ form_widget(form.description) }}
                                {{ form_errors(form.description) }}
                            </div>
                        {% endspaceless %}
                    </li>
                    <li class="">
                        <div class="">
                            {% block advert_files_help -%}
                                К описанию компании Вы можете прикрепить презентацию, портфолио и др.<br/>
                                Внимание! Прикреплению подлежат файлы расширений Word, Excel, Power Point, PDF-документы и Фотоизображения.<br/>
                                Суммарный объем файлов не должен превышат 30 Мб<br/>
                                Объем одного файла не должен превышать 10 Мб
                            {%- endblock %}
                            <span>Выберите файл и дайте ему имя</span>

                            <div id="files">
                                {{ form_widget(form['files']) }}
                                {{ form_errors(form['files']) }}
                            </div>
                            {% for error in form.vars.errors %}
                                <div class="red">{{ error.getMessage() }}</div>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="parts">
                        <div class="half">
                            {{ form_row(form['site']) }}
                        </div>
                    </li>
                    <li class="res-input">
                        <div class="half">
                            {{ form_row(form['work_email']) }}
                        </div>
                        <div class="half">
                            {{ form_row(form['email']) }}
                        </div>
                    </li>
                    <li class="parts">
                        <div class="half">
                            {{ form_row(form['phone']) }}
                        </div>
                        <div class="half">
                            {{ form_row(form['phoneMobile']) }}
                        </div>
                    </li>
                    <li class="parts">
                        <div class="half">
                            {{ form_row(form['skype']) }}
                        </div>
                    </li>
                    <li class="parts">
                        <div class="half">
                            {{ form_row(form['linkedin']) }}
                            <div class="err-text linkedin-error" style="display: none;">Внимание! Размещению подлежит только ссылка на социальную сеть LinkedIn.</div>
                        </div>
                    </li>
                    <li class="parts">
                        <div class="region half">
                            <div class="select-block">
                                <span class="opt-link">Регион</span>: <span class="opt-text">
                                    {% if job is defined %}
                                        {% if job.city %}
                                            {{ job.city.parent.name }}
                                        {% endif %}
                                    {% else %}
                                        Все регионы
                                    {% endif %}
                                    </span>

                                <div class="sub">
                                    <ul class="many region-block">
                                        <li value=""><a href="#">Регион</a></li>
                                        {% for region in regions %}
                                            <li value="{{ region.id }}"><a href="#">{{ region }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="city half">
                            <div class="select-block">
                                {#<span class="opt-link">Город</span>: <span class="opt-text">{% if city %}{{ city }}{% else %}Все города{% endif %}</span>#}
                                {% if job is defined %}
                                    {% if job.city %}
                                        <span class="opt-link" data-region="{{ job.city.parent.id }}">Город<span class="red">*</span></span>: <span class="opt-text">{{ job.city.name }}</span>
                                    {% endif %}
                                {% else %}
                                    <span class="opt-link" data-region="">Город<span class="red">*</span></span>: <span class="opt-text">Все города</span>
                                {% endif %}

                                <div class="sub">
                                    <ul class="many city-block">
                                        <li value=""><a href="#">Все города</a></li>
                                    </ul>
                                </div>
                            </div>
                            {{ form_row(form.city) }}
                        </div>
                        <p class="red" id="city_error" style="display: none;">Укажите регион и город</p>
                    </li>
                    <li class="parts">
                        <label class="label">Логотип</label>

                        <div class="photo"> <span class="cell"><!--[if lte IE 7]><span><span><![endif]-->
                                {% if job is defined and job.logo %}
                                <img src="{{ job.getWebLogo('show') }}">
                                <!--[if lte IE 7]></span></span><![endif]--></span>
                            {% endif %}
                        </div>
                        <br/>

                        <div class="city half" id="change-delete">
                            {{ form_widget(form.file) }}
                            <div id="del-photo" {% if job is defined and job.getLogo() %}{% else %}style="display: none"{% endif %}>
                                <br/><a onclick="sure('{{ path('delete_photo') }}?logo={% if job is defined and job.getLogo() %}{{ job.getLogo() }}{% endif %}')" class="thickbox" href="#TB_inline?height=750&width=500&inlineId=hiddenModalContent&modal=true"><span class="opt-link">Удалить</span></a>
                            </div>
                        </div>

                    </li>
                    <li class="submit">
                        <input type="submit" value="{{ job is defined ? 'Сохранить' : 'Добавить' }}" class="btn active">
                        <input type="reset" value="Отмена">
                    </li>
                    {{ form_widget(form.logo) }}
                </ul>
                {{ form_rest(form) }}
            </fieldset>
            </form>
        </section>
    </div>

    <div id="hiddenModalContent" style="display: none">
        <div class="modal">
            <h3>Удаление логотипа</h3>

            <p>Вы точно хотите удалить логотип?</p>
            <nav class="actions2">
                <table>
                    <tr>
                        <td><a onclick="deletePhoto(); return false;" id="take-url" class="bg-delete" href="#"><span class="dash">Удалить</span></a></td>
                    </tr>
                </table>
            </nav>
            <span class="close" id="close_modal"></span>
        </div>
    </div>
    <script>
        var inn_digit_limit = 10;

        $(document).ready(function () {

            {% if job is defined and job.getLogo() %}
            $('#load-photo').html('Изменить');

            {% endif %}
            window.search.initialize(null, null, null, "{{ form.city.vars.id }}", null);
            window.search.initializeListeners();

            //validateCategories();
            getInnDigitLimit();
            if ($("#job_organizationId").val() != '') {
                validateInnDigits();
            }


        });

        $(".phone").mask("+7 (999) 999-99-99");

        $(document).on("change", ".categories", function () {
            validateCategories(false);
        });

        $(document).on("change", "#job_organizationType", function () {
            getInnDigitLimit();
            validateInnDigits();
        });

        $(document).on("keyup change", "form", function () {
            //validateCategories(false);
            //validateInnDigits();
        });

        function getInnDigitLimit() {
            if ($("#job_organizationType").val() == "ИП") {
                inn_digit_limit = 12;
            } else {
                inn_digit_limit = 10;
            }
            $("#inn_digits").text(inn_digit_limit);
            $("#job_organizationId").mask((Math.pow(10, inn_digit_limit) - 1).toString());
        }


        function validateInnDigits() {
            if ($("#job_organizationId").val().length != inn_digit_limit) {
                $("#job_organizationId_error").show();
                $("input[type=submit]").attr('disabled', 'disabled').addClass("active");
            } else {
                $("#job_organizationId_error").hide();
                $("input[type=submit]").removeAttr("disabled").removeClass("active");
            }
        }

        function validateCategories() {
            if ($(".category input[type=checkbox]:checked").length < 1) {
                $("input[type=submit]").attr('disabled', 'disabled').addClass("active");
                $(".categories .err-text").text("Вы должны узказать хотя бы одну сферу деятельности").show();
            }
            else if ($(".category input[type=checkbox]:checked").length > 3) {
                $("input[type=submit]").attr('disabled', 'disabled').addClass("active");
                $(".categories .err-text").text("Вы можете указать не более трех сфер деятельности").show();
            }
            else {
                $("input[type=submit]").removeAttr("disabled").removeClass("active");
                $(".categories .err-text").hide();
            }
        }

        function addPhoto(data) {
            if (data.errorMessage !== undefined) {
                $('body').append($('#popupError'));
                $('#popupError').show();
            } else {
                $('.cell').html('<img src="' + data.photo + '">');
                $('#load-photo').html('Изменить');
                $('#job_logo').val(data.name);
                url = '{{ path('delete_photo') }}?logo=' + data.name;
                $('#del-photo').html('<br/><a onclick="sure(' + "'" + url + "'" + ')" class="thickbox"  href="#TB_inline?height=750&width=500&inlineId=hiddenModalContent&modal=true"><span class="opt-link" id="load-photo">Удалить</span></a>');
                $('#del-photo').show();
                tb_init('#del-photo a.thickbox');
            }
        }
        function sure(url) {
            $('#take-url').attr('value', url);
        }
        function deletePhoto() {
            delUrl = $('#take-url').val();
            $('#load-photo').html('Загрузить');
            $.ajax({
                url: delUrl,
                type: 'POST',
                success: function (data) {
                    if (data.success === true) {
                        $('#del-photo').hide();
                        $('.close').click();
                        $('.cell').html('');
                        $('#job_logo').val('');
                    }
                }
            });
        }
        $("#job_linkedin").on("change keyup", function () {
            if (!this.checkValidity()) {
                $(".linkedin-error").show();
            } else {
                $(".linkedin-error").hide();
            }
        });

        $("form").on("submit", function () {
            if ($("#{{  form.city.vars.id }}").val() == 0) {
                $("#city_error").show();
                return false;
            }
            validateCategories();
            validateInnDigits();

        });


        window.advert.initialize("#files");

    </script>
{% endblock %}


