{% if job.getCity() %}Город: {{ job.getCity() }} <br />{% endif %}
{% if job.getPhone() %}Телефон: {{ job.getPhone() }} <br />{% endif %}
{% if job.getEmail() %}Email: {{ job.getEmail() }} <br />{% endif %}
{% if job.getSkype() %}Skype: {{ job.getSkype() }} <br />{% endif %}
{% if job.getSite() %}Сайт: {{ job.getSite() }} <br />{% endif %}