<a data-easyb="modal-open-link" data-modal-content-url="{{ path('job_improve', {'id' : object.id }) }}" class="tablectrl_small bDefault tipS" original-title="Доработать" href="#">
    <span data-icon="" class="iconb">

    </span>
</a>