{% extends 'EasybMainBundle:Frontend:layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>

    <div class="add-more"><a href="{{ path('job_add') }}" class="opt-link">Добавить место работы</a></div>
    <section class="companies parts">
        {% for job in app.user.jobs %}
            <article class="half">
                {% if job.logo %}
                    <div class="photo">
                        <span class="cell">
                            <!--[if lte IE 7]><span><span><![endif]-->
                            <img src="{{ job.getWebLogo('show') }}">
                            <!--[if lte IE 7]></span></span><![endif]-->
                        </span>
                    </div>
                {% else %}
                    <div class="photo"> <span class="cell"><!--[if lte IE 7]><span><span><![endif]-->
                            <img src="{{ job.getDefaultLogo() }}">
                            <!--[if lte IE 7]></span></span><![endif]--></span></div>
                {% endif %}
                <h3><a href="{{ path('show_job', {'slug' : job.slug }) }}">{{ job.name }}</a></h3>
                {% if not job.isApproved and job.notes is same as (null) and job.invalidRules is empty %}
                    <p><strong style="color: red;">Ожидает проверки администратором</strong></p>
                {% elseif not job.isApproved and job.notes is not same as (null) or job.invalidRules is not empty %}
                    <div class="invalid-rules">
                        {% for invalidRule in job.invalidRules %}
                            <p>
                                <strong style="color: red;">{{ invalidRule | raw }}</strong>
                            </p>
                        {% endfor %}

                        {% if job.notes is not empty %}
                            <p>
                                <strong style="color: red;">{{ job.notes | raw }}</strong>
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
                <p>{{ job.position }}<br>
                    {% if  job.phone %}Телефон: {{ job.phone }}<br>{% endif %}
                    {% if  job.city %}{{ job.city.getRegion() }}<br>{% endif %}
                    {% if  job.site %}Сайт: <a target="_blank" href="http://{{ job.link }}">{{ job.site }}</a><br>{% endif %}
                    {% if  job.skype %}Skype: {{ job.skype }}<br>{% endif %}
                    {% if  job.email %}Email: <a href="mailto:{{ job.email }}">{{ job.email }}</a></p>{% endif %}

                <p class="small grey"><em>{{ job.description | striptags('<strong><u><em>') | truncate(250, true) | raw }}</em></p>

                <div class="actions">
                    <div class="l"><a href="{{ path('job_edit', {'id': job.getId()}) }}" class="opt-link">Редактировать</a></div>
                    <div class="r"><a href="#TB_inline?height=750&width=500&inlineId=hiddenModalContent&modal=true" onclick="sure('{{ path('job_delete', {'id': job.id } ) }}')" class="opt-link thickbox">Удалить</a></div>
                </div>
            </article>
        {% endfor %}
    </section>

    <div id="hiddenModalContent" style="display: none">
        <div class="modal">
            <h3>Удаление места работы</h3>

            <p>Одновременно с удалением места работы будут удалены все коммерческие предложения и тендеры, созданные Вами. Вы уверены, что хотите удалить страницу компании?</p>
            <nav class="actions2">
                <table>
                    <tr>
                        <td><a id="take-url" class="bg-delete" href=""><span class="dash">Удалить</span></a></td>
                    </tr>
                </table>
            </nav>
            <span class="close" id="close_modal"></span>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('newJob') %}
        {% if flashMessage %}
            <div id="TB_overlay" class="TB_overlayBG"></div>
            <div id="TB_window" style="margin-left: -265px;width: 530px;margin-top: -90px;display: block;">
                <div id="TB_ajaxContent" class="TB_modal" style="width: 500px; height: 745px;">
                    <div class="modal">
                        <section>
                            {{ flashMessage | raw }}
                        </section>
                        <span class="close" id="close_modal"></span></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div id="hiddenFirstJobAddedContent" style="display: none">
        {{ render_new_job_added_modal() }}
    </div>

    <script>
        function sure(url) {
            $('#take-url').attr('href', url);
        }
        $(document).ready(function () {
            {% if app.request.get('first') %}
            tb_show("hiddenFirstJobAddedContent", "#TB_inline?height=750&amp;width=500&amp;inlineId=hiddenFirstJobAddedContent&amp;modal=true", null);
            {% endif %}
        });

        $("#fos_user_profile_form_linkedin").on("change keyup", function () {
            if (!this.checkValidity()) {
                $(".linkedin-error").show();
            } else {
                $(".linkedin-error").hide();
            }
        });
    </script>
{% endblock content %}
