{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha.js"></script>
{% endblock %}

{% block content %}
    {{- render(controller('EasybMainBundle:Banners:upBanner')) -}}
    <nav class="path">
        {{- wo_render_breadcrumbs() -}}
    </nav>
    <section class="mainContent">
        <div class="similar-jobs-height">
            <h1>Компания: {{ job.getName() -}}, {{ job.organizationType }}</h1>
            <section class="user-head" id="userhead">
                {% if job.logo %}
                    <div class="photo"><span class="cell"><!--[if lte IE 7]><span><span><![endif]--><img src="{{- job.getWebLogo(constant('Easyb\\UserBundle\\Entity\\Job::UPLOAD_DIR_LOGO')) -}}"><!--[if lte IE 7]></span></span><![endif]--></span></div>
                {% else %}
                    <div class="photo"><a href="#"><span class="nophoto"></span></a></div>
                {% endif %}
                <div class="text">
                    <div class="info">
                        <div id="contact_tabs">
                            {% if showContact %}
                                <span class="tab">Контакты Компании</span>
                                <span class="tab active">Контакты менеджера</span>
                            {% else %}
                                <span class="tab active">Контакты Компании</span>
                                <a href="{{ path("get_contacts") }}?height=250&width=500&modal=true" class="thickbox">Контакты менеджера</a>
                            {% endif %}
                        </div>
                        <div class="contacts" id="public_contact" {% if showContact %}style="display: none;"{% endif %}>
                            <ul>
                                <li class="stat" id="pcity" data-title="{{- job.city.region -}}">
                                    {{- job.city.region | truncate(28) -}}
                                </li>
                                {% for cat in job.categories %}
                                    <li>
                                        <a href="{{ path('catalog_offer', { 'url' : cat.slug }) }}">
                                            {{ cat | truncate(25) }}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% if job.organizationId -%}
                                    <li class="bg-inn">
                                        {{- job.organizationId -}}
                                    </li>
                                {% endif %}
                                <li class="bg-phone" id="pphone" data-title="{{ job.phone }}">
                                    <a target="_blank" rel="nofollow" href="tel: {{ job.phone }}">{{ job.phone }}</a>
                                </li>
                                <li class="bg-site" id="psite" data-title="{{ job.site }}">
                                    <a target="_blank" rel="nofollow" href="http://{{ job.link }}">{{ job.site  | truncate(25) }}</a>
                                </li>
                                {% if job.linkedin -%}
                                    <li class="bg-linkedin" id="plinked" data-hint="always" data-title="{{ job.linkedin }}">
                                        <a rel="nofollow" target="_blank" href="{{ job.linkedin }}">{{- job.name | truncate(25) -}}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        {% if showContact %}
                            <div class="contacts" id="private_contact">
                                <ul>
                                    <li class="name" id="pname" data-title="{{ job.user.fio }}" style="margin-left: -30px;">
                                        {{- job.user.fio  | truncate(18) | replace({' ': '&nbsp;'}) | raw -}}
                                    </li>
                                    <li class="stat" id="pjob" data-title="{{ job.position }}">
                                        {{ job.position | truncate(25) }}
                                    </li>
                                    {%- if job.workEmail %}
                                        <li class="bg-mail" id="pemail" data-title="{{ job.workEmail }}">
                                            <a href="mailto:{{ job.workEmail }}">{{ job.workEmail |truncate(25) }}</a>
                                        </li>
                                    {% endif -%}
                                    {%- if job.email %}
                                        <li class="bg-mail" id="pemail" data-title="{{ job.email }}">
                                            <a href="mailto:{{ job.email }}">{{ job.email |truncate(25) }}</a>
                                        </li>
                                    {% endif -%}
                                    {%- if job.phoneMobile is not null %}
                                        <li class="bg-phone" id="pphone">
                                            <a target="_blank" rel="nofollow" href="tel: {{ job.phoneMobile }}">{{ job.phoneMobile }}</a>
                                        </li>
                                    {% endif -%}
                                    {%- if job.user.linkedIn %}
                                        <li class="bg-linkedin" id="plinked" data-hint="always" data-title="{{ job.user.linkedin }}">
                                            <a rel="nofollow" target="_blank" href="{{ job.user.linkedin }}">{{ job.user.fio | truncate(25) }}</a>
                                        </li>
                                    {% endif -%}
                                    {%- if job.skype %}
                                        <li class="bg-skype" id="pskype" data-title="{{ job.skype }}">
                                            {{ job.skype |truncate(25) }}
                                        </li>
                                    {% endif -%}
                                </ul>
                            </div>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user != job.getUser() %}
                            <div class="complain-link"><a class="btn thickbox" href="{{- path('report', {'id' : job.getId()}) -}}?height=750&width=500&modal=true">Отправить жалобу на пользователя</a></div>
                        {% endif %}
                    </div>
                </div>
            </section>
            <div class="demand_wrapper">
                <div class="demand_tabs">
                    <span class="tab active" id="company_tab">О компании</span>
                </div>
                <div class="tab_content">
                    <div class="tab_item" id="company">
                        {% set text = delete_tags(job.getDescription()) %}
                        <p>{{- text|raw -}}</p>
                        {% for file in job.files %}
                            <div class="file">
                                <strong>{{ file.displayName }}</strong> |
                                <a href="{{ path('save_file', {'id' : file.id}) }}">Скачать</a> |
                                <a href="{{ path('preview_file', {'id' : file.id }) }}" target="_blank">Просмотр</a>
                            </div>
                            {% if loop.last %}
                                <div class="hr"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>
    {#{{- render(controller('EasybMainBundle:Banners:sideBanner')) -}}#}

    <div class="company-ads">
        <div>
            <p>
                <strong>Компания:</strong>
                {#<a href="{{- path( 'show_job', {'slug' : job.slug }) -}}">
                    {{ job.name }}, {{ job.organizationType }}
                </a>#}
                <span>{{ job.name }}, {{ job.organizationType }}</span>
            </p>
        </div>
        {% if offers is not empty %}
            <div class="company-offers-title">
                <p><strong>Коммерческие предложения: </strong></p>
                <ul>
                    {% for offer in offers %}
                        <li>
                            <a href="{{- path( "show_offer", {'category' : offer.category.slug, 'city' : offer.job.city.slug,'slug' : offer.slug}) -}}">{{ offer.name | truncate(39) }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        {% endif %}
        {% if demands is not empty %}
            <div class="company-offers-title">
                <p><strong>Тендеры: </strong></p>
                <ul>
                    {% for demand in demands %}
                        <li>
                            <a href="{{- path( 'show_demand', {'category' : demand.category.slug, 'city' : demand.job.city.slug,'slug' : demand.slug }) -}}">{{ demand.name | truncate(39) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="job-title">
            <p>Похожие компании</p>
        </div>
        <div class="similar-jobs-scroll">
            {% for sjob in similarJobs %}
                {% if sjob.logo %}
                    <a href="{{ path( "show_job", {'slug' : sjob.slug }) }}">
                        <div class="photo" align="center"><span class="cell"><!--[if lte IE 7]><span><span><![endif]--><img class="job-picture" src="{{ sjob.getWebLogo(constant('Easyb\\UserBundle\\Entity\\Job::UPLOAD_DIR_LOGO')) }}"><!--[if lte IE 7]></span></span><![endif]--></span></div>
                    </a>
                {% else %}
                    <a href="{{ path( "show_job", { 'slug' : sjob.slug }) }}">
                        <div class="photo" align="center"><span class="cell"><!--[if lte IE 7]><span><span><![endif]--><img class="job-picture" src="{{ asset('bundles/easybmain/images/no-img.jpg') }}"><!--[if lte IE 7]></span></span><![endif]--></span></div>
                    </a>
                {% endif %}
                <div class="job-name"><a href="{{ path( "show_job", {'slug' : sjob.slug}) }}">{{ sjob.name | truncate(85,true) }}</a></div>
            {% endfor %}
        </div>
        {#<div class="similar-jobs-scroll">
            {{- render(controller('EasybMainBundle:Banners:downBanner')) -}}
        </div>#}

        <script>
            //$("div.company-ads").height($("div.similar-jobs-height").height());

            $(document).on("click", "#contact_tabs .tab", function () {
                $("#contact_tabs .tab").removeClass("active").eq($(this).index()).addClass("active");
                $(".contacts").hide().eq($(this).index()).fadeIn();
            }).eq(0).addClass("active");

            $(document).ready(function () {
                $(".contacts li").each(function () {
                    if ($(this).text().trim().slice(-3) === "...") {
                        applyAdvancedTooltip($(this));
                    }
                    if ($(this).data("hint") == "always") {
                        applyAdvancedTooltip($(this));
                    }
                });

                $(document).on("click", ".copy", function () {
                    copyToClipboard($(this).data("text"));
                    return false;
                });

                function copyToClipboard(text) {
                    var $temp = $("<input>");
                    $("body").append($temp);
                    $temp.val(text).select();
                    document.execCommand("copy");
                    $temp.remove();
                }

                function applyAdvancedTooltip(element_id) {
                    var tooltip = $('<div/>');

                    var value = $('<span/>');
                    if (element_id.data('hint') == "always") {
                        value.html("");
                    } else value.html(element_id.data('title'));
                    value.appendTo(tooltip);

                    $('<span/>').html('&nbsp;').appendTo(tooltip);

                    var anchor = $('<a/>', {
                        'class': 'copy',
                        href: '#'
                    });

                    anchor.data("text", element_id.data("title"));

                    anchor.html('Копировать');
                    anchor.appendTo(tooltip);

                    element_id.poshytip({content: tooltip});
                }
            });
        </script>
    </div>
{% endblock %}
