{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block content %}
    {{ render(controller('EasybMainBundle:Banners:upBanner')) }}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <section class="mainContent">
        <h1>Объявления: Мое предложение</h1>

        <div class="autosearch"><a class="btn" href="{{ path('autosearch') }}">Автопоиск</a> <span class="info-pic"><span class="pic"></span><span class="popup">Включите функцию уведомления, чтобы получать сообщения о новых объявлениях<span class="arr"></span></span></span>
            <a class="btn right-button" href="{{ path('add_offer') }}">Добавить коммерческое предложение</a>
        </div>

        {% include 'EasybMainBundle:Common:showMaterials.html.twig' with {'path' : 'offers', 'count' : ['50', '100'], 'url' : '' } %}
        <section class="articles2">
            {% for advert in adverts %}
                {% if not advert.isDeleted %}
                    <article id="advert_{{ advert.getId() }}">
                        {% include 'EasybAdvertBundle:Offer:offer.html.twig' %}
                    </article>
                    {% if loop.last and loop.index0 > constant('Easyb\\AdvertBundle\\Entity\\AbstractAdvert::COUNT_ON_LIST_PAGE') %}
                        {{ pagerfanta(adverts, 'pager') }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if adverts is empty %}
                <div class="text-align-center">Вы еще не разместили ни одного коммерческого предложения</div>
            {% endif %}
        </section>
    </section>
    {{ render(controller('EasybMainBundle:Banners:sideBanner')) }}
    {{ render(controller('EasybMainBundle:Banners:downBanner')) }}

    <div id="hiddenModalContent" style="display: none">
        <div class="modal">
            <h3>Удаление объявления</h3>

            <p>Вы точно хотите удалить данное объявление?</p>
            <nav class="actions2">
                <table>
                    <tr>
                        <td><a id="take-url" class="bg-delete" href=""><span class="dash">Удалить</span></a></td>
                    </tr>
                </table>
            </nav>
            <span class="close" id="close_modal"></span>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('newAdvert') %}
        {% if flashMessage %}
            <div id="TB_overlay" class="TB_overlayBG"></div>
            <div id="TB_window" style="margin-left: -265px;width: 530px;margin-top: -90px;display: block;">
                {#<div id="TB_ajaxContent" class="TB_modal" style="width: 500px; height: 745px;">
                    {{ render_new_advert_added_modal('offer') }}
                </div>#}
                <div id="TB_ajaxContent" class="TB_modal" style="width: 500px;">
                    <div class="modal">
                        <section>
                            {{ flashMessage | raw }}
                        </section>
                        <span class="close" id="close_modal"></span></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <script>
        $(document).on('click', '.ajax-link', function () {
            $.ajax({
                url: this.href,
                type: 'POST',
                success: function (data) {
                    $('#advert_' + data.id).html(data.newTemplate);
                }
            });
            return false;
        });
        function sure(url) {
            $('#take-url').attr('href', url);
        }
    </script>
{% endblock %}