{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
    {{ render(controller('EasybMainBundle:Banners:upBanner')) }}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <section class="mainContent-article">
        <h1>Статус моего участия в тендерах</h1>
        <section class="show nobg"><span>Показывать по</span>
            <select class="small" onchange="count()" id="count_on_page">
                <option {% if app.request.get('count') == '50' %}selected{% endif %} value="{{ path('my_demand', {'count' : '50'}) }}">50</option>
                <option {% if app.request.get('count') == '100' %}selected{% endif %} value="{{ path('my_demand', {'count' : '100'}) }}">100</option>
            </select>
            <span>тендеров на странице</span></section>
        <form action="{{ path('delete_offer_reactions') }}" method="POST">
            <div class="action-btn">
                <input value="Удалить выбранные" type="submit">
            </div>
            <section class="responds">
                <header>
                    <div class="fl">Тендер</div>
                    <div class="fl">Сбор заявок</div>
                    <div class="fl">Сбор КП</div>
                    <div class="fl">Принятие решения</div>
                    <div class="check">
                        <input type="checkbox" value="" id="check-all">
                    </div>
                </header>
                {% for reaction in reactions %}
                    <article>
                        {% include "@EasybAdvert/Offer/reaction.html.twig" with {'reaction' : reaction} %}
                    </article>
                {% endfor %}

            </section>
            {{ pagerfanta(reactions, 'pager') }}
            <div class="action-btn">
                <input value="Удалить выбранные" type="submit">
            </div>
        </form>
    </section>
    {{ render(controller('EasybMainBundle:Banners:sideBanner')) }}
    {{ render(controller('EasybMainBundle:Banners:downBanner')) }}
    <script>
        function count() {
            location.href = jQuery('#count_on_page').attr("selected", "selected").val();
        }
        jQuery(document).ready(function () {
            jQuery("#check-all").click(function () {
                if (jQuery('#check-all').attr('checked')) {
                    jQuery('.one-check:enabled').attr('checked', true);
                } else {
                    jQuery('.one-check:enabled').attr('checked', false);
                }
            });
        });
        function changeOfferNotification(id) {
            jQuery.ajax({
                url: '{{ path('check_offer_notification') }}',
                data: {'id': id},
                type: 'POST',
                success: function (data) {
                    if (data.offerNotification <= 0) {
                        jQuery('#offer-notification').remove();
                    }
                }
            });
            return false;
        }
    </script>
{% endblock %}