<div class="modal">
    <h3>Отправить предложение</h3>
        К сожалению, у Вас нет подходящего предложения. Для того чтобы отклинуться на это объявление, Вам необходимо <a  href="{{ path('offers') }}">создать предложение</a>.
    <span class="close" id="close_modal"></span>
</div>