<h4><a href="{{ advert_show_route(advert) }}">{{ advert.getName()|truncate(66, true) }}</a></h4>
{% if not advert.isApproved() and advert.notes is same as (null) and advert.invalidRules is empty %}
    <p><strong style="color: red;">Ожидает проверки администратором</strong></p>
{% elseif not advert.isApproved() and advert.notes is not same as (null) or advert.invalidRules is not empty %}
    <div class="invalid-rules">
        {% for invalidRule in advert.invalidRules %}
            <p>
                <strong style="color: red;">{{ invalidRule|raw }}</strong>
            </p>
        {% endfor %}

        {% if advert.notes is not empty %}
            <p>
                <strong style="color: red;">{{ advert.notes|raw }}</strong>
            </p>
        {% endif %}
    </div>
{% endif %}
<p class="section"><a href="{{ path('catalog') }}?categoryId={{ advert.getCategory().getId() }}&advertTypeId={{ constant('Easyb\\AdvertBundle\\Entity\\AbstractAdvert::OFFER') }}&cityId={{ advert.getJob().getCity().getId() }}">{{ advert.getCategory().getName() }}</a></p>
<p class="grey">Дата последнего обновления публикации: {{ advert.getPublicationAt()|date('H:i d.m.Y') }}<br>
    {{ advert.views }} просмотров</p>
{% if advert.getIsActive() %}
    <p class="green">Опубликовано</p>
{% else %}
    <p class="red">Не опубликовано</p>
{% endif %}
<nav class="actions2">
    <table>
        <tr>
            <td class="sep">&nbsp;</td>
            {% if advert.isApproved() %}
                <td>
                    {% if advert.checkUpTime() %}
                        <a class="bg-refresh ajax-link" href="{{ path('offer_up', {'id' : advert.getId()}) }}"><span class="dash">Обновить дату публикации</span></a>
                    {% else %}
                        <strong class="bg-refresh">Обновить дату публикации <span class="popup">Обновление станет возможным через<br>
                                {{ advert.whenUpTime() }}<em class="arr"></em></span> </strong>
                    {% endif %}
                </td>
            {% else %}
                <td>
                    <strong class="bg-refresh">Обновить дату публикации <span class="popup">Обновление станет возможным после<br>
                            проверки администратором<em class="arr"></em></span> </strong>
                </td>
            {% endif %}
            <td class="sep">&nbsp;</td>
            <td><a class="bg-edit" href="{{ path('offer_edit', {'id' : advert.getId()}) }}"><span class="dash">Редактировать</span></a></td>
            <td class="sep">&nbsp;</td>
            <td><a class="bg-disable ajax-link" href="{{ path('offer_active', {'id' : advert.getId()}) }}"><span class="dash">{% if advert.getIsActive() %}Снять с публикации{% else %}Опубликовать{% endif %}</span></a></td>
            <td class="sep">&nbsp;</td>
            <td><a id="dele-{{ advert.getId() }}" class="bg-delete thickbox" href="#TB_inline?height=750&width=500&inlineId=hiddenModalContent&modal=true" onclick="sure('{{ path('offer_delete', {'id' : advert.getId()}) }}')"><span class="dash">Удалить</span></a></td>
        </tr>
    </table>
</nav>
<script>
    tb_init('#dele-{{ advert.getId() }}');
</script>

