<!-- first col -->
<div class="fl">
    <a class="gray" href="{{ advert_show_route(reaction.demand) }}">
        {{ reaction.demand.name }}
    </a>

    <p class="info">
        <a href="{{ path('show_job', {'slug' : reaction.demand.job.slug}) }}">
            {{ reaction.demand.job.name }}
        </a>
    </p>

    <div class="info">
        {% if reaction.demand.isPublic %}
            <p>
                Сбор заявок до {{ reaction.demand.expireAt | date("d.m.Y, H:i") }}
            </p>
        {% endif %}

        <p>
            Сбор КП до {{ reaction.demand.expireProposalAt | date("d.m.Y, H:i") }}
        </p>

        {% if reaction.demand.expireSubProposalAt %}
            <p>
                Сбор КП (2 этап) до {{ reaction.demand.expireSubProposalAt | date("d.m.Y, H:i") }}
            </p>
        {% endif %}

        <p>
            Принятие решения до {{ reaction.demand.expireDecisionAt | date("d.m.Y, H:i") }}
        </p>
    </div>
</div>

<!-- second col -->
<div class="fl">
    {% if reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DIRECT') %}
        <p class="green">
            <a href="{{ path('show_reaction', {'id' : reaction.id }) }}?width=600&modal=true" class="thickbox">
                Закрытый тендер
            </a>
        </p>
    {% elseif reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_START') %}
        {% if date("now") < reaction.demand.expireAt %}
            <p class="grey">
                <a href="{{ path('show_reaction', {'id' : reaction.id }) }}?width=600&modal=true" class="thickbox">
                    Заявка на рассмотрении
                </a>
                <a href="{{ path('edit_reaction', {'id' : reaction.id }) }}?width=800&height=800&modal=true" class="thickbox">
                    (Редактировать)
                </a>
            </p>
        {% else %}
            <p class="red">
                <a href="{{ path('show_reaction', {'id' : reaction.id }) }}?width=600&modal=true" class="thickbox">
                    Заявка отклонена
                </a>
            </p>
        {% endif %}
    {% elseif reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_APPROVE') %}
        <p class="green">
            <a href="{{ path('show_reaction', {'id' : reaction.id }) }}?width=600&modal=true" class="thickbox">
                Заявка одобрена
            </a>
        </p>
        <div id="hidden-{{ reaction.id }}" style="display: none">
            <div class="modal">
                {{ render(controller(
                'EasybAdvertBundle:Offer:getMailMessage',{ 'id': reaction.id }
                )) }}
                <span class="close" id="close_modal"></span>
            </div>
        </div>
    {% elseif reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DECLINE') %}
        <p class="red">
            <a class="thickbox " href="{{ path('show_reaction', {'id' : reaction.id }) }}?width=600&modal=true">
                Заявка отклонена
            </a>
        </p>
    {% elseif  reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DISQUALIFIED') %}
        <p class="green">
            <a class="thickbox " href="{{ path('show_reaction', {'id' : reaction.id }) }}?width=600&modal=true">
                Заявка одобрена
            </a>
        </p>
    {% endif %}

    <p class="info">
        <a href="{{ path("show_job", {"slug" : reaction.job.slug }) }}">
            {{ reaction.job.name }}, {{ reaction.job.organizationType }}
        </a>
    </p>

    <p class="info">
        Заявка подана {{ reaction.createdAt | date("d.m.Y, в H:i") }}
    </p>
</div>

<!-- third col -->
<div class="fl">
    {% if reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DISQUALIFIED') %}
        <p class="red">
            Дисквалифицирован
        </p>
    {% elseif reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_APPROVE') or reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DIRECT') %}
        {% if reaction.demand.isFinished %}
            {% if reaction.proposal  | length == 0 %}
                <p class="red">
                    Дисквалифицирован
                </p>
            {% else %}
                {% if reaction.proposal[0] is defined %}
                    {% set proposal = reaction.proposal[0] %}
                    <p>
                        <a class="thickbox green" href="{{ path('show_proposal', { 'id' : proposal.id }) }}?width=600&modal=true">КП отправлено</a>
                    </p>
                    <p class="info">
                        Финальная стоимость лота: <br>
                        {{ proposal.price }} руб. с НДС
                    </p>
                    <p class="info">
                        Отправлено {{ proposal.createdAt | date("d.m.Y, в H:i") }}
                    </p>
                {% endif %}
                {% if reaction.proposal[1] is defined %}
                    {% set proposal = reaction.proposal[1] %}
                    <hr>
                    <p>
                        <a class="thickbox green" href="{{ path('show_proposal', { 'id' : proposal.id }) }}?width=600&modal=true">КП отправлено</a>
                    </p>
                    <p class="info">
                        Финальная стоимость лота: <br>
                        {{ proposal.price }} руб. с НДС
                    </p>
                    <p class="info">
                        Отправлено {{ proposal.createdAt | date("d.m.Y, в H:i") }}
                    </p>
                {% endif %}
            {% endif %}
        {% else %}
            {% if reaction.proposal is empty %}
                {% if (date("now") > reaction.demand.expireAt) and (date("now") < reaction.demand.expireProposalAt) %}
                    <p>
                        <a class="thickbox" href="{{ path('send_proposal', { 'id' : reaction.id }) }}?width=800&height=800&modal=true">Отправить КП</a>
                    </p>
                {% elseif date("now") > reaction.demand.expireProposalAt %}
                    <p class="red">Дисквалифицирован</p>
                {% else %}
                    <p> Отправить КП Вы сможете сразу после начала процедуры сбора КП</p>
                {% endif %}
            {% else %}
                {% if reaction.proposal[0] is defined %}
                    <p>
                        <a class="thickbox green" href="{{ path('show_proposal', { 'id' : reaction.proposal[0].id }) }}?width=600&modal=true">КП отправлено</a>
                        {% if date("now") < reaction.demand.expireProposalAt %}
                            <a class="thickbox" href="{{ path('edit_proposal', { 'id' : reaction.proposal[0].id }) }}?width=800&height=800&modal=true">(редактировать)</a>
                        {% endif %}
                    </p>
                    <p class="info">
                        Финальная стоимость лота: <br>
                        {{ reaction.proposal[0].price }} руб. с НДС
                    </p>
                    <p class="info">
                        Отправлено {{ reaction.proposal[0].createdAt | date("d.m.Y, в H:i") }}
                    </p>
                {% endif %}
                {% if reaction.demand.expireSubProposalAt != null %}
                    {% if (date("now") > reaction.demand.expireProposalAt) and (date("now") < reaction.demand.expireSubProposalAt) %}
                        {% if reaction.proposal[1] is defined %}
                            <hr>
                            <p>
                                <a class="thickbox green" href="{{ path('show_proposal', { 'id' : reaction.proposal[1].id }) }}?width=600&modal=true">КП отправлено (2 этап)</a>
                                {% if date("now") < reaction.demand.expireSubProposalAt %}
                                    <a class="thickbox" href="{{ path('edit_proposal', { 'id' : reaction.proposal[1].id }) }}?width=800&height=800&modal=true">(редактировать)</a>
                                {% endif %}
                            </p>
                            <p class="info">
                                Финальная стоимость лота: <br>
                                {{ reaction.proposal[1].price }} руб. с НДС
                            </p>
                            <p class="info">
                                Отправлено {{ reaction.proposal[1].createdAt | date("d.m.Y, в H:i") }}
                            </p>
                        {% else %}
                            <hr>
                            <p>
                                <a class="thickbox" href="{{ path('send_proposal', { 'id' : reaction.id }) }}?width=800&height=800&modal=true">Отправить КП (2 этап)</a>
                            </p>
                        {% endif %}
                    {% elseif date("now") > reaction.demand.expireSubProposalAt %}

                        {% if reaction.proposal[1] is defined %}
                            <hr>
                            <p>
                                <a class="thickbox green" href="{{ path('show_proposal', { 'id' : reaction.proposal[1].id }) }}?width=600&modal=true">КП отправлено (2 этап)</a>
                            </p>
                            <p class="info">
                                Финальная стоимость лота: <br>
                                {{ reaction.proposal[1].price }} руб. с НДС
                            </p>
                            <p class="info">
                                Отправлено {{ reaction.proposal[1].createdAt | date("d.m.Y, в H:i") }}
                            </p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        &nbsp;
    {% endif %}
</div>

<!-- fourth col -->
<div class="fl">
    {% if reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DISQUALIFIED') %}
        &nbsp;
    {% elseif reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_APPROVE') or reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DIRECT') %}
        {% if reaction.demand.isFinished %}
            {% if reaction.demand.winner is not null %}
                {% if reaction.proposal | length != 0 %}
                    {% set proposal = reaction.proposal[(reaction.proposal | length) - 1] %}
                    {% if proposal.status == constant('Easyb\\AdvertBundle\\Entity\\Proposal::STATUS_WINNER') %}
                        <p class="green">
                            Вы победили в тендере
                        </p>
                    {% elseif proposal.status == constant('Easyb\\AdvertBundle\\Entity\\Proposal::STATUS_LOSER') %}
                        <p class="red">
                            Ваше КП не выбрали
                        </p>
                    {% endif %}
                {% else %}
                    {% set proposal = null %}
                {% endif %}
            {% else %}
                <p class="red">
                    Тендер не состоялся
                </p>
            {% endif %}
        {% else %}
            <p class="">
                Организатор тендера примет решение и выберет лучшее КП до окончания этой процедуры
            </p>
        {% endif %}
    {% else %}
        &nbsp;
    {% endif %}
</div>
<div class="check">
    <input type="checkbox" value="{{ reaction.id }}" name="reactions[]" class="one-check">
</div>