{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block metadata %}
    {{ parent() }}
    <meta property="og:title" content="{{ offer.name }}"/>
    <meta property="og:image" content="{{ offer.job.getWebLogo(constant('Easyb\\UserBundle\\Entity\\Job::UPLOAD_DIR_LOGO')) }}"/>
    <meta property="og:description" content="{{ delete_tags(offer.text, true) }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha.js"></script>
{% endblock %}

{% block content %}
    {% set route_params = app.request.attributes.get('_route_params') %}
    {% set job = offer.job %}

    {{ render(controller('EasybMainBundle:Banners:upBanner')) }}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <div class="job-content-td">
        <section class="mainContent">
            <div class="similar-jobs-height">
                <h1 id="offer_name">{{ offer.name }}</h1>

                <h1 id="company_name" style="display: none;">Компания: {{ job.name -}}, {{ job.organizationType }}</h1>
                <section class="user-head" id="userhead">
                    {% if offer.job.logo %}
                        <div class="photo">
                            <span class="cell">
                                <!--[if lte IE 7]><span><span><![endif]-->
                                <img src="{{ offer.job.getWebLogo(constant('Easyb\\UserBundle\\Entity\\Job::UPLOAD_DIR_LOGO')) }}">
                                <!--[if lte IE 7]></span></span><![endif]-->
                            </span>
                        </div>
                    {% else %}
                        <div class="photo">
                            <a href="#">
                                <span class="nophoto"></span>
                            </a>
                        </div>
                    {% endif %}
                    <div class="text">
                        <div class="info">
                            <div id="contact_tabs">
                                {% if showContact %}
                                    <span class="tab">Контакты Компании</span>
                                    <span class="tab active">Контакты менеджера</span>
                                {% else %}
                                    <span class="tab active">Контакты Компании</span>
                                    <a href="{{ path("get_contacts") }}?height=250&width=500&modal=true" class="thickbox">Контакты менеджера</a>
                                {% endif %}
                            </div>
                            <div class="contacts" id="public_contact" {% if showContact %}style="display: none;"{% endif %}>
                                <ul>
                                    <li class="stat" id="pcity" data-title="{{- job.city.region -}}">
                                        {{- job.city.region | truncate(28) -}}
                                    </li>
                                    {% for cat in job.categories %}
                                        <li>
                                            <a href="{{ path('catalog_offer', { 'url' : cat.slug }) }}">
                                                {{ cat | truncate(25) }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    {% if job.organizationId -%}
                                        <li class="bg-inn">
                                            {{- job.organizationId -}}
                                        </li>
                                    {% endif %}
                                    <li class="bg-phone" id="pphone" data-title="{{ offer.job.phone }}">
                                        <a target="_blank" rel="nofollow" href="tel: {{ offer.job.phone }}">{{ offer.job.phone }}</a>
                                    </li>
                                    <li class="bg-site" id="psite" data-title="{{ offer.job.site }}">
                                        <a target="_blank" rel="nofollow" href="http://{{ offer.job.link }}">{{ offer.job.site  | truncate(25) }}</a>
                                    </li>
                                    {% if job.linkedin -%}
                                        <li class="bg-linkedin" id="plinked" data-hint="always" data-title="{{ job.linkedin }}">
                                            <a rel="nofollow" target="_blank" href="{{ job.linkedin }}">{{- job.name | truncate(25) -}}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% if showContact %}
                                <div class="contacts" id="private_contact">
                                    <ul>
                                        <li class="name" id="pname" data-title="{{ offer.user.fio }}" style="margin-left: -30px;">
                                            {{- offer.user.fio  | truncate(18) | replace({' ': '&nbsp;'}) | raw -}}
                                        </li>
                                        <li class="stat" id="pjob" data-title="{{ offer.job.position }}">
                                            {{ offer.job.position | truncate(25) }}
                                        </li>
                                        {% if job.workEmail %}
                                            <li class="bg-mail" id="pemail" data-title="{{ job.workEmail }}">
                                                <a href="mailto:{{ job.workEmail }}">{{ job.workEmail | truncate(25) }}</a>
                                            </li>
                                        {% endif %}
                                        {% if job.email %}
                                            <li class="bg-mail" id="pemail" data-title="{{ job.email }}">
                                                <a href="mailto:{{ job.email }}">{{ job.email | truncate(25) }}</a>
                                            </li>
                                        {% endif %}
                                        {% if offer.job.phoneMobile -%}
                                            <li class="bg-phone" id="pphone">
                                                <a target="_blank" rel="nofollow" href="tel: {{ offer.job.phoneMobile }}">{{ offer.job.phoneMobile }}</a>
                                            </li>
                                        {% endif %}
                                        {% if offer.user.linkedIn -%}
                                            <li class="bg-linkedin" id="plinked" data-hint="always" data-title="{{ offer.user.linkedin }}">
                                                <a rel="nofollow" target="_blank" href="{{ offer.user.linkedin }}">{{ offer.user.fio | truncate(25) }}</a>
                                            </li>
                                        {% endif %}
                                        {% if offer.job.skype -%}
                                            <li class="bg-skype" id="pskype" data-title="{{ offer.job.skype }}">
                                                {{ offer.job.skype |truncate(25) }}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </section>

                {% block message %}
                {% endblock %}

                <div class="offer_wrapper">
                    <div class="offer_tabs">
                        {#<span class="tab" id="company_tab">О компании</span>#}
                        <span class="tab">Предложение</span>
                    </div>
                    <div class="tab_content">
                        {#<div class="tab_item" id="company">
                            <div class="similar-jobs-height">
                                {% set text = delete_tags(job.description) %}
                                <p>{{- text|raw -}}</p>
                                {% for file in job.files %}
                                    <div class="file">
                                        <strong>{{ file.displayName }}</strong> |
                                        <a href="{{ path('save_file', {'id' : file.id}) }}">Скачать</a> |
                                        <a href="{{ path('preview_file', {'id' : file.id }) }}" target="_blank">Просмотр</a>
                                    </div>
                                    {% if loop.last %}
                                        <div class="hr"></div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>#}

                        <div class="offer_text tab_item">
                            {% set text = delete_tags(offer.text) %}
                            {{ text|raw }}
                            {#{{ offer.getText()|striptags('<strong><u><em>')|raw|nl2br }}#}
                            <div class="hr"></div>

                            {% for file in files %}
                                <div class="file">
                                    <strong>{{ file.displayName }}</strong> |
                                    <a href="{{ path('save_file', {'id' : file.id }) }}">Скачать</a> |
                                    <a href="{{ path('preview_file', {'id' : file.id }) }}" target="_blank">Просмотр</a>
                                </div>
                                {% if loop.last %}
                                    <div class="hr"></div>
                                {% endif %}
                            {% endfor %}

                            {% block button %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user != offer.user %}
                                    {% if offer.fromAdmin %}
                                        <a class="btn big-btn thickbox" href="{{ path('send_fromadmin', {'id' : offer.id}) }}?height=800&width=800&modal=true">Связаться с компанией</a>
                                    {% else %}
                                        {% if isOffer %}
                                            <a class="btn big-btn thickbox" href="{{ path('send_demand', {'id' : offer.id}) }}?height=800&width=800&modal=true">Одобрить предложение</a>
                                        {% else %}
                                            {% if date("now") < offer.expireAt %}
                                                {% if canAnswer %}
                                                    <a class="btn big-btn thickbox" href="{{ path('send_reaction', {'id' : offer.id}) }}?height=800&width=800&modal=true">Подать заявку на участие в тендере</a>
                                                {% else %}
                                                    <span class="btn big-btn active">Подать заявку на участие в тендере</span>
                                                {% endif %}
                                                {% if hasReactions %}
                                                    <a class="btn big-btn" href="{{ path('my_offer') }}">Редактирование заявок</a>
                                                {% endif %}


                                            {% else %}
                                                <span class="btn big-btn active">Процедура сбора заявок истекла</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% elseif not is_granted('IS_AUTHENTICATED_FULLY') and app.user != offer.user %}
                                    {% if offer.fromAdmin %}
                                        <a class="btn big-btn thickbox" href="{{ path('login') }}?height=270&width=670&modal=true">Связаться с компанией</a>
                                    {% else %}
                                        <a class="btn big-btn thickbox" href="{{ path('login') }}?height=270&width=670&modal=true">
                                            {% if isOffer %}Одобрить предложение{% else %}Подать заявку на участие в тендере{% endif %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>

                <script>
                    $(document).on("click", "#contact_tabs .tab", function () {
                        $("#contact_tabs .tab").removeClass("active").eq($(this).index()).addClass("active");
                        $(".contacts").hide().eq($(this).index()).fadeIn();
                    }).eq(0).addClass("active");


                    $(".offer_tabs .tab").click(function () {
                        $(".offer_tabs .tab").removeClass("active").eq($(this).index()).addClass("active");
                        $(".tab_item").hide().eq($(this).index()).fadeIn();

                        {#if ($(this).attr("id") == "company_tab") {
                            $("#company_name").show();
                            $("#offer_name").hide();
                        } else {
                            $("#company_name").hide();
                            $("#offer_name").show();
                        }#}
                    }).eq(0).addClass("active");
                    if (location.hash != '') {
                        $(location.hash).click();
                    } else {
                        $(".demand_tabs .tab:nth-child(2)").click();
                    }
                </script>
            </div>
            {% set url = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            <a href="#" onclick="Share.facebook('{{ url }}','{{ offer.job.name }}, {{ offer.name }} at Easyb.ru.','','{{ delete_tags(offer.text, true) |truncate(50) }}');return false;"><img src="{{ asset('bundles/easybmain/images/btn_fcb.png') }}"/></a>
            <a href="#" onclick="Share.google('http://easyb.ru{{ url }}');return false;"><img src="{{ asset('bundles/easybmain/images/btn_googl.png') }}"/></a>
            <a href="#" onclick="Share.twitter('http://easyb.ru{{ url }}','{{ offer.job.name }}, {{ offer.name }}, ');return false;"><img src="{{ asset('bundles/easybmain/images/btn_twit.png') }}"/></a>
            <a href="#" onclick="Share.vkontakte('http://easyb.ru{{ url }}', '{{ offer.name }}', '', '{{ delete_tags(offer.text, true) |truncate(100) }}');return false;"><img src="{{ asset('bundles/easybmain/images/btn_vk.png') }}"/></a>
            <script>
                // social share buttons
                Share = {
                    facebook: function (purl, ptitle, pimg, text) {
                        url = 'http://www.facebook.com/sharer.php?s=100';
                        url += '&p[title]=' + encodeURIComponent(ptitle);
                        url += '&p[summary]=' + encodeURIComponent('');
                        url += '&p[url]=' + encodeURIComponent(purl);
//                    url += '&p[images][0]=' + encodeURIComponent(pimg);
                        Share.popup(url);
                    },
                    twitter: function (purl, ptitle) {
                        url = 'http://twitter.com/share?';
                        url += 'text=' + encodeURIComponent(ptitle);
                        url += '&url=' + encodeURIComponent(purl);
                        url += '&counturl=' + encodeURIComponent(purl);
                        url += '&via=' + encodeURIComponent('easyb.ru');
                        Share.popup(url);
                    },
                    vkontakte: function (purl, ptitle, pimg, text) {
                        url = 'http://vkontakte.ru/share.php?';
                        url += 'url=' + encodeURIComponent(purl);
                        url += '&title=' + encodeURIComponent(ptitle);
                        url += '&description=' + encodeURIComponent(text);
//                    url += '&image='       + encodeURIComponent(pimg);
                        url += '&noparse=true';
                        Share.popup(url);
                    },
                    google: function (purl) {
                        url = 'https://plus.google.com/share?';
                        url += 'url=' + encodeURIComponent(purl);
                        Share.popup(url);
                    },

                    popup: function (url) {
                        window.open(url, '', 'toolbar=0,status=0,width=626,height=436');
                    }
                };

                $(".contacts li").each(function () {
                    if ($(this).text().trim().slice(-3) === "...") {
                        applyAdvancedTooltip($(this));
                    } else {

                    }
                    if ($(this).data("hint") == "always") {
                        applyAdvancedTooltip($(this));
                    }
                });

                $(document).on("click", ".copy", function () {
                    copyToClipboard($(this).data("text"));
                    return false;
                });

                function copyToClipboard(text) {
                    var $temp = $("<input>");
                    $("body").append($temp);
                    $temp.val(text).select();
                    document.execCommand("copy");
                    $temp.remove();
                }

                function applyAdvancedTooltip(element_id) {
                    var tooltip = $('<div/>');

                    var value = $('<span/>');
                    if (element_id.data('hint') == "always") {
                        value.html("");
                    } else value.html(element_id.data('title'));
                    value.appendTo(tooltip);

                    $('<span/>').html('&nbsp;').appendTo(tooltip);

                    var anchor = $('<a/>', {
                        'class': 'copy',
                        href: '#'
                    });

                    anchor.data("text", element_id.data("title"));

                    anchor.html('Копировать');
                    anchor.appendTo(tooltip);

                    element_id.poshytip({content: tooltip});
                }

            </script>
        </section>
    </div>
    {% if isOffer %}
        {% set similar_route = 'show_offer' %}
    {% else %}
        {% set similar_route = 'show_demand' %}
    {% endif %}
    <div class="job-td">
        <div>
            <p>
                <strong>Компания:</strong>
                <a href="{{- path( 'show_job', {'slug' : job.slug }) -}}">
                    {{ job.name }}, {{ job.organizationType }}
                </a>
            </p>
        </div>

        {% if offers is not empty %}
            <div class="company-offers-title">
                {% set baseOffer = offer %}
                <p><strong>Коммерческие предложения: </strong></p>
                <ul>
                    {% for soffer in offers %}
                        {% if soffer != baseOffer %}
                            <li>
                                <a href="{{- path( "show_offer", {'category' : soffer.category.slug, 'city' : soffer.job.city.slug, 'slug' : soffer.slug }) -}}">{{ soffer.name | truncate(39) }}</a>
                            </li>
                        {% else %}
                            <li>
                                {{ soffer.name | truncate(39) }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if demands is not empty %}
            <div class="company-offers-title">
                <p><strong>Тендеры: </strong></p>
                <ul>
                    {% for demand in demands %}
                        <li>
                            <a href="{{- path( 'show_demand', {'category' : demand.category.slug, 'city' : demand.job.city.slug,'slug' : demand.slug }) -}}">{{ demand.name | truncate(39) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if similarAds is not empty %}
            <div class="job-title">
                <p>Похожие коммерческие предложения</p>
            </div>
            <div class="similar-jobs-scroll" {#style="overflow: auto; height: 800px; border: solid 0px white;"#}>
                {% for similarAd in similarAds %}
                    {% if similarAd.job.logo %}
                        <a href="{{ path( similar_route, {'category' : similarAd.getCategory().slug, 'city' : similarAd.job.getCity().slug,'slug' : similarAd.slug}) }}">
                            <div class="photo" align="center"><span class="cell"><!--[if lte IE 7]><span><span><![endif]--><img class="job-picture" src="{{ similarAd.job.getWebLogo(constant('Easyb\\UserBundle\\Entity\\Job::UPLOAD_DIR_LOGO')) }}"><!--[if lte IE 7]></span></span><![endif]--></span></div>
                        </a>
                    {% else %}
                        <a href="{{ path( similar_route, {'category' : similarAd.getCategory().slug, 'city' : similarAd.job.getCity().slug,'slug' : similarAd.slug}) }}">
                            <div class="photo" align="center"><span class="cell"><!--[if lte IE 7]><span><span><![endif]--><img class="job-picture" src="{{ asset('bundles/easybmain/images/no-img.jpg') }}"><!--[if lte IE 7]></span></span><![endif]--></span></div>
                        </a>
                    {% endif %}
                    <div class="job-name"><a href="{{ path( similar_route, {'category' : similarAd.getCategory().slug, 'city' : similarAd.job.getCity().slug,'slug' : similarAd.slug}) }}">{{ similarAd.name|truncate(85,true) }}</a></div>
                {% endfor %}
                {{ render(controller('EasybMainBundle:Banners:downBanner')) }}
            </div>
        {% endif %}
        {#<script>
            //$("div.job-td").height($("div.similar-jobs-height").height() - 39)
        </script>#}
    </div>

    {% for flashMessage in app.session.flashbag.get('newReaction') %}
        {% if flashMessage %}
            <div id="TB_overlay" class="TB_overlayBG"></div>
            <div id="TB_window" style="margin-left: -265px; width: 530px; margin-top: -90px; display: block;">
                <div id="TB_ajaxContent" class="TB_modal" style="width: 500px; height: 150px;">
                    <div class="modal">
                        <section>
                            {{ flashMessage | raw }}
                        </section>
                        <span class="close" id="close_modal"></span></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}