{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {%- if value is empty -%}
        &nbsp;
    {%- else -%}
        {% autoescape false %}
            {{value}}
        {% endautoescape %}
    {%- endif -%}
{% endblock %}