{% block em_autocompleter_widget %}
{% spaceless %}
    {{form_widget(form.autocompleter_value)}}
    {{form_widget(form.autocompleter_name,{'attr': attr})}}
    {%if ajax%}
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                jQuery("#{{ form.autocompleter_name.vars.id }}").autocomplete({
                    source: function( request, response ) {
                        jQuery.ajax({
                            url: '{{ path(route_name) }}',
                            dataType: "json",
                            data: {
                                q: request.term
                            },
                            success: function( data ) {
                                response( jQuery.map( data, function( item ) {
                                    return {
                                        value: item.value,
                                        id: item.result
                                    }
                                }));
                            }

                        });
                    },
                    select: function(event, ui){
                        if (jQuery("#{{ form.autocompleter_value.vars.id }}")) {
                            jQuery("#{{ form.autocompleter_name.vars.id }}").unbind('change');
                            var hidden = jQuery("#{{ form.autocompleter_value.vars.id }}");
                            hidden.val(ui.item.id);
                            jQuery("#{{ form.autocompleter_name.vars.id }}").bind('change', function(){
                                jQuery("#{{ form.autocompleter_value.vars.id }}").val('');
                            })
                        }
                        {%- if success -%}
                        {% autoescape false %}
                        {{-success-}}
                        {% endautoescape %}
                        {%endif%}
                    }
                });

                jQuery("#{{ form.autocompleter_name.vars.id }}").bind('change', function(){
                    jQuery("#{{ form.autocompleter_value.vars.id }}").val('');
                })
            });
        </script>
    {% endif %}
{% endspaceless %}
{% endblock em_autocompleter_widget %}

{% block em_jquery_multiselect_widget %}
    {% spaceless %}
        {{form_widget(form)}}
        <script type="text/javascript">
            jQuery(function () {
                {% autoescape false %}
                tags = {{choices|json_encode()}};
                {% endautoescape %}
                jQuery("#{{ id }}").multiselect({completions:tags,enable_new_options:{{enable_new_options|json_encode()}}});
            });
        </script>
    {% endspaceless %}
{% endblock em_jquery_multiselect_widget %}

