{% block form_javascript %}
{% spaceless %}
{% for child in form %}
{{ form_javascript(child) }}
{% endfor %}
{% endspaceless %}
{% endblock form_javascript %}

{% block field_javascript "" %}

{% block genemu_multiselect_javascript %}

{% endblock genemu_multiselect_javascript %}


{% block genemu_jqueryautocompleter_javascript %}

{% endblock genemu_jqueryautocompleter_javascript %}