<div class="modal">
    <p>На ваш почтовый ящик <span class="blue">{{ user.getEmail() }}</span> выслано активационное письмо.
    Внимание! Активационное письмо может попасть в папку "Спам".</p> <span class="close" id="close_modal"></span></div>