{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block content %}
    <nav class="path"><a  href="{{ path('homepage') }}">EasyB</a> <span>></span> Завершение регистрации</nav>
    <!-- end .path-->
    <h1>Завершение регистрации</h1>
    <div class="parts">
        <section class="half">
            <form action="{{ path("confirmed") }}" method="POST">
                <fieldset>
                    <ul class="form">
                        <li>
                           {{ form_row(form['fio']) }}
                        </li>
                        <li class="parts">
                            <div class="half">
                                {{ form_row(form['plainPassword']['first']) }}
                            </div>
                            <div class="half">
                                {{ form_row(form['plainPassword']['second']) }}
                            </div>
                        </li>
                        <li class="submit">
                            <input value="Сохранить и завершить регистрацию" type="submit">
                        </li>
                    </ul>
                </fieldset>
                {{ form_rest(form) }}
            </form>
        </section>
    </div>
{% endblock %}