{% trans_default_domain 'FOSUserBundle' %}

{% set check = mail_have_custom_template(constant('Easyb\\UserBundle\\Entity\\Mail::TYPE_REGISTRATION')) %}
{% block subject %}
{%- autoescape false -%}
    {%- if check -%}
        {{ get_custom_mail_subject(constant('Easyb\\UserBundle\\Entity\\Mail::TYPE_REGISTRATION'), user.username, confirmationUrl) }}
    {%- else -%}
        {{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {%- endif -%}
{%- endautoescape -%}
{% endblock %}
{%- block body_text -%}
{%- autoescape false -%}
    {%- if check -%}
        {{- get_custom_mail_text(constant('Easyb\\UserBundle\\Entity\\Mail::TYPE_REGISTRATION'), user.username, confirmationUrl) -}}
    {%- else -%}
        {{- 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) -}}
    {%- endif -%}
{%- endautoescape -%}
{%- endblock -%}

{% block body_html %}{% endblock %}