@charset "utf-8";

.cell {
	display:block;
}

.cell span {
	display:inline-block;
	position:relative;
	top:50%;
	width:100%;
}

.cell span span {
	top:-50%;
}

div.half {
	display:inline;
}

.half {
	margin-right:30px;
}
