@charset "utf-8";

input[type="text"],
input[type="password"],
textarea,
select,
.selectIn {
	background:#fff url(../img/input-shad.png) repeat-x;
	border-color:#e6e6e6;
}

.sub {
	box-shadow:0 2px 7px #a7a7a7;
}
.sections{
	box-shadow:0 0 40px #f2f2f2;}