<div class="modal ajax-content">
    <h3>Отправить жалобу</h3>
    <section class="complain">
        <form action="{{ path('report', {'id' : job.getId()}) }}" method="POST" class="ajax">
            <fieldset>
                Вы собиратетесь отправить жалобу на пользователя
                <div class="user-mini">
                    <div class="name">{{ user.getFio() }}</div>
                    {{ job.getPosition() }}<br>
                    <a  href="#">{{ job.getName() }}</a>{% if job.getCity() %}, {{ job.getCity().getName() }}{% endif %}</div>
                <div class="hr"></div>
                <p>Изложите суть жалобы.</p>
                <p>Приложение ссылок облегчит и ускорит рассмотрение жалобы администратором</p>
                <div class="input">
                    {{ form_widget(form['text']) }}
                    {% if form.text.vars.errors|length %}
                        {{ form_errors(form['text']) }}
                    {% endif %}
                </div>
                <input value="Отправить жалобу" type="submit">
            </fieldset>
            {{ form_rest(form) }}
        </form>
    </section>
    <span class="close" id="close_modal"></span>
</div>
