{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span6">
            {% block counters -%}
                <div class="counters">
                    <h4>Информация</h4>
                    <div class="offers">
                        <div class="offers-title">Предложения не одобренные: <strong>{{ counters.offers }}</strong></div>
                    </div>
                    <div class="demands">
                        <div class="demands-title">Тендеры не одобренные: <strong>{{ counters.demands }}</strong></div>
                    </div>
                    <div class="demands">
                        <div class="demands-title">Компании не одобренные: <strong>{{ counters.company }}</strong></div>
                    </div>
                </div>
            {%- endblock %}
            {% for block in blocks %}
                {% if block.position == 'left' %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="span6">
            {% for block in blocks %}
                {% if block.position == 'right' %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}