/**/
/*Uploadify*/
/*Copyright (c) 2012 Reactive Apps, Ronnie Garcia*/
/*Released under the MIT License <http://www.opensource.org/licenses/mit-license.php>*/
/**/

/*.uploadify {*/
    /*position: relative;*/
    /*margin-bottom: 1em;*/
    /*width: 50px !important;*/
    /*height: 294px !important;*/
/*}*/
/*.uploadify-button-text {*/
    /*width: 50px;*/
    /*height: 294px;*/
/*}*/
/*.uploadify-button {*/
    /*width: 100% !important;;*/
    /*height: 294px !important;;*/
/*}*/
