{% extends 'EasybAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
    {{ parent() }}

    <script>
        var name = jQuery('.ckeditor').attr('name');
        CKEDITOR.replace(name, {
            forcePasteAsPlainText : false,
            toolbar: [
                { name: 'Full', items: [ 'Bold', 'Italic', 'Strike', 'Source' ] }
            ]
        });

        var actionHref = jQuery('#validate').attr('action');
        var uniqId = actionHref.split('uniqid=');
        var select = jQuery('#'+uniqId[1]+'_type option:selected').val();
        showRows(select);

        function showRows(select) {
            // GIF баннеры, изображение
            if (select == 1) {
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_attach').parent().hide();
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_contents').parent().hide();
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_link').parent().show();
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_file').parent().show();
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_file').after('<div id="ban-img"><br/><br/><div style="text-align:center;"><a  target="_blank" href="'+jQuery('#'+uniqId[1]+'_link').val()+'"><img src="/upload/banners/'+ jQuery('#'+uniqId[1]+'_attach').val() +'"></a></div></div>');
                jQuery('#flash-me').remove();
            }
            //HTML-баннеры и Java баннеры
            if (select == 2) {
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_attach').parent().hide();
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_file').parent().hide();
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_link').parent().hide();
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_contents').parent().show();
                jQuery('#ban-img').remove();
                jQuery('#flash-me').remove();
                // если Google
                if (jQuery('#'+uniqId[1]+'_name').val() == 'Google') {
                    jQuery('#'+uniqId[1]+'_type').attr('disabled',true);
                }
            }
            //Flash
            if (select == 3) {
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_contents').parent().hide();
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_attach').parent().hide();
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_link').parent().hide();
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_file').parent().show();
                jQuery('#sonata-ba-field-container-'+uniqId[1]+'_file').after('<br/><br/><div style="text-align:center;" id="flash-me"> <object><param name="wmode" value="opaque"/><embed src="/upload/banners/'+ jQuery('#'+uniqId[1]+'_attach').val() +'" quality="high" name="logo" type="application/x-shockwave-flash" wmode="opaque"/></object> </div>');
                jQuery('#ban-img').remove();
            }

            return false;
        }

        jQuery('#'+uniqId[1]+'_type').change(function () {
            var selectNow = jQuery('#'+uniqId[1]+'_type option:selected').val();
            showRows(selectNow);

            return false;
        });

        function addBanner(data) {
            if (data.errorMessage !== undefined) {
                jQuery('body').append(jQuery('#popupError'));
                jQuery('#popupError').show();
            } else {
                selectNow = jQuery('#'+uniqId[1]+'_type option:selected').val();
                if (selectNow == 1) {
                    jQuery('#sonata-ba-field-container-'+uniqId[1]+'_file').after('<br/><br/><div style="text-align:center;"><a  target="_blank" href="'+jQuery('#'+uniqId[1]+'_link').val()+'"><img src="'+ data.banner +'"></a></div>');
                    jQuery('#'+uniqId[1]+'_attach').val(data.name);
                }
                if (selectNow == 3) {
                    jQuery('#sonata-ba-field-container-'+uniqId[1]+'_file').after('<br/><br/><div style="text-align:center;" id="flash-me"> <object><param name="wmode" value="opaque"/><embed src="'+ data.banner +'" quality="high" name="logo" type="application/x-shockwave-flash" wmode="opaque"/></object> </div>');
                    jQuery('#'+uniqId[1]+'_attach').val(data.name);
                }
            }

            return false;
        }
    </script>
{% endblock %}

{% block actions %}
{% endblock %}