{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {%- if value is empty -%}
        &nbsp;
    {%- else -%}
        {% if value == constant('Easyb\\MainBundle\\Entity\\Banner::TYPE_IMAGE')%}
            GIF баннеры, изображение
        {% elseif value == constant('Easyb\\MainBundle\\Entity\\Banner::TYPE_HTML_JAVA')%}
            HTML-баннеры и Java баннеры
        {% elseif value == constant('Easyb\\MainBundle\\Entity\\Banner::TYPE_FLASH')%}
            Flash
        {% elseif value == constant('Easyb\\MainBundle\\Entity\\Banner::TYPE_GOOGLE')%}
            GOOGLE
        {% endif %}
    {%- endif -%}
{% endblock %}