{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/easybadvert/js/upload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/easybadvert/js/jquery.numeric.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/easybadvert/js/datepicker.min.js') }}"></script>
{% endblock %}

{% block content %}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <h1>Размещение тендера</h1>
    <div class="parts">
        <section class="">
            {# <form action="{{ savePath }}" method="post" {{ form_enctype(form) }}>#}
            {{ form_start(form) }}
            <fieldset>
                <ul class="form html-input">
                    <li class="parts">
                        <div class="big_half" id="job-part">
                            {{ form_row(form.name) }}
                        </div>
                    </li>
                    <li class="">
                        <div class="checkbox">
                            <label>
                                {{ form_widget(form.isPublic) }}
                            </label>
                        </div>
                    </li>
                    <li class="parts" {% if demand.isPublic %} style="display: none" {% endif %} id="invites">
                        <div class="big_half" id="job-part">
                            <ul id="invites_list" data-prototype="{{ form_widget(form.invites.vars.prototype) | e }}">
                                {% if form.invites | length == 0 %}
                                    <li><input type="email" id="demand_type_invites_0" name="demand_type[invites][0]" placeholder="Email"></li>
                                    <li><input type="email" id="demand_type_invites_1" name="demand_type[invites][1]" placeholder="Email"></li>
                                {% endif %}
                                {% for invite in form.invites %}
                                    <li>
                                        {{ form_errors(invite) }}
                                        {{ form_widget(invite) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="#" id="add-another-email">Добавить приглашение</a>
                        </div>
                    </li>
                    <li class="parts">
                        <div class="big_half" id="job-part">
                            <label class="label{% if form.job.vars.errors is not empty %} error{% endif %}">{{ form_label(form.job) }}</label>
                                <span id="job-help" class="info-pic">
                                    <span class="pic"></span>
                                    <span class="popup">
                                        <a href="/profile/job/add">Добавить место работы</a>
                                        Вы сможете в личном кабинете<span class="arr">
                                        </span>
                                    </span><!-- end .popup-->
                                </span>
                            {{ form_widget(form.job) }}
                            {{ form_errors(form.job) }}
                        </div>
                    </li>
                    <li class="parts">
                        <div class="half">
                            <label class="label{% if form.category.vars.errors is not empty %} error{% endif %}">{{ form_label(form.category) }}</label>
                            {{ form_widget(form.category) }}
                            {{ form_errors(form.category) }}
                        </div>
                    </li>
                    <li class="parts">
                        <div class="subcategories">
                            <label class="label{% if form.subcategory.vars.errors is not empty %} error{% endif %}">{{ form_label(form.subcategory) }}</label>
                            {% for subcat in form.subcategory %}
                                <div class="checkbox checkbox_triple">
                                    <label for="">
                                        {{ form_widget(subcat) }}
                                        {{ form_label(subcat) }}
                                    </label>
                                </div>
                            {% endfor %}
                            {{ form_errors(form.subcategory) }}
                        </div>
                    </li>

                    <li class="parts">
                        <div class="half big_half demand-timing">
                            {{ form_row(form.expireAt) }}
                            <p class="red error" style="display: none;"></p>
                            {% if (demand.expireAt < date("NOW")) and (demand.expireAt is not null) %}
                                <span class="red">Процедура закончилась</span>
                            {% endif %}
                        </div>
                    </li>
                    <li class="parts">
                        <div class="half big_half demand-timing">
                            {{ form_row(form.expireProposalAt) }}
                            <p class="red error" style="display: none;"></p>
                            {% if (demand.expireProposalAt < date("NOW")) and (demand.expireProposalAt is not null) %}
                                <span class="red">Процедура закончилась</span>
                            {% endif %}
                        </div>
                        <div class="half big_half" style="margin-top: 35px;">
                            <label>
                                <label for="">Разбить на 2 этапа</label>
                                <input type="checkbox" id="isSubProposal">
                            </label>
                        </div>
                    </li>
                    <li class="parts" id="subProposal" style="display: none;">
                        <div class="half big_half demand-timing">
                            {{ form_row(form.expireSubProposalAt) }}
                            <p class="red error" style="display: none;"></p>
                            {% if (demand.expireSubProposalAt < date("NOW")) and (demand.expireSubProposalAt is not null) %}
                                <span class="red">Процедура закончилась</span>
                            {% endif %}
                        </div>
                    </li>
                    <li class="parts">
                        <div class="half big_half demand-timing">
                            {{ form_row(form.expireDecisionAt) }}
                            <p class="red error" style="display: none;"></p>
                            {% if (demand.expireDecisionAt < date("NOW")) and (demand.expireDecisionAt is not null) %}
                                <span class="red">Процедура закончилась</span>
                            {% endif %}
                        </div>
                    </li>

                    <li class="html-input">
                        {% spaceless %}
                            Подробно опишите предмет тендера, критерии победы, требования к участникам, сроки, важные аспекты и другую полезную информацию.
                            <span class="red">*</span>
                            <div class="{% if errors is not empty %} error {% endif %}">
                                {{ form_widget(form.text) }}
                                {{ form_errors(form.text) }}
                            </div>
                        {% endspaceless %}
                    </li>
                    <li class="parts">
                        <div class="half big_half">
                            {{ form_row(form.price) }}
                        </div>
                    </li>
                    <li class="">
                        <label class="label">Условиях оплаты<span class="red">*</span></label>

                        <div class="checkbox">
                            <label>
                                {{ form_widget(form.payType) }}
                            </label>
                        </div>
                    </li>
                    <li class="parts">
                        <div class="half big_half">
                            {{ form_row(form.winCryteria) }}
                        </div>
                    </li>
                    <li class="html-input inviteFile">
                        {{ form_widget(form.inviteFile) }}
                    </li>
                    <li class="parts" id="curators">
                        <div class="big_half">
                            <ul id="curators_list" data-prototype="{{ form_widget(form.curators.vars.prototype) | e }}">
                                {% for invite in form.invites %}
                                    <li>
                                        {{ form_errors(invite) }}
                                        {{ form_widget(invite) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="#" id="add-another-curator">Добавить куратора тендера</a>
                        </div>
                    </li>


                    <li class="">
                        {{ form_label(form['requiredDocs']) }}
                        {% for requiredDoc in form['requiredDocs'] %}
                            <div class="checkbox">
                                <label>
                                    {{ form_widget(requiredDoc) }}
                                    {{ form_label(requiredDoc) }}
                                </label>
                            </div>
                        {% endfor %}
                        {{ form_errors(form['requiredDocs']) }}
                    </li>
                    <li class="html-input attachFiles">
                        Вы можете прикрепить к извещению о тендере Техническое задание/Бриф. <br/>
                        Внимание! Прикреплению подлежат файлы расширений Word, Excel, Power Point, PDF-документы и Фотоизображения. <br/>
                        Суммарный объем файлов не должен превышат 30 Мб<br/>
                        Объем одного файла не дложен превышать 10 Мб
                        {#<span>Выберите файл и дайте ему имя</span>#}
                        <div class="files ">
                            {{ form_widget(form.files) }}
                        </div>
                        {{ form_errors(form['files']) }}
                        {{ form_row(form._token) }}
                        {% for error in form.vars.errors %}
                            <div class="red">{{ error.getMessage() }}</div>
                        {% endfor %}
                    </li>
                    {#<li class="form_meta">
                        {{ form_row(form.metaDescription) }}
                    </li>#}
                    <li class="submit">
                        <button type="submit">Опубликовать</button>
                    </li>
                </ul>
            </fieldset>
            </form>
        </section>
    </div>

    <script type="text/javascript">
        var step1_date = $('#demand_type_expireAt');
        var step2_date = $('#demand_type_expireProposalAt');
        var step3_date = $('#demand_type_expireDecisionAt');
        var step2_2_date = $('#demand_type_expireSubProposalAt');
        $("#demand_type_price").numeric();

        if (step2_date.val() == '') step2_date.prop('disabled', true);
        if (step3_date.val() == '') step3_date.prop('disabled', true);

        function format(comma, period) {
            comma = comma || ',';
            period = period || '.';
            var split = this.toString().split('.');
            var numeric = split[0];
            var decimal = split.length > 1 ? period + split[1] : '';
            var reg = /(\d+)(\d{3})/;
            while (reg.test(numeric)) {
                numeric = numeric.replace(reg, '$1' + comma + '$2');
            }
            return numeric + decimal;
        }

        $('#demand_type_price').on('keyup', function () {
            $(this).val(format.call($(this).val().split(' ').join(''), ' ', '.'));
        });

        $(document).ready(function () {
            reloadCategories();
            $("#demand_type_inviteFile_0_file").attr("required", "required");
            $(".inviteFile .file_info").data("required", 1);

            window.advert.initialize(".inviteFile", 1);
            window.advert.initialize(".attachFiles");

            var current_date = new Date("{{ demand.expireAt | date("Y/m/d H:i") }}");

            if (step2_2_date.val() != '') {
                $("#isSubProposal").attr("checked", "checked");
                $("#subProposal").show();
                $("#subProposal label").append("<span class=\"red\">*</span>");
                $("#subProposal input").attr("required", "required");
            }

            if ($("#demand_type_isPublic_1").prop("checked")) {
                step1_date.val("{{ demand.expireAt | date("d.m.Y H:i") }}").parents("li").hide();
            }

            $(document).on("change", "#demand_type_isPublic", function () {
                if ($("#demand_type_isPublic_1").prop("checked")) {
                    $("#invites").show();
                    $("#invites input").each(function () {
                        $(this).attr("required", "required");
                    });
                    $("#demand_type_inviteFile_0_file").removeAttr('required');
                    $("#demand_type_inviteFile_0_file").parents("tr").find("span.red").remove();

                    step1_date.val("{{ demand.expireAt | date("d.m.Y H:i") }}").parents("li").hide();
                    step2_date.prop('disabled', false);
                } else {
                    $("#invites").hide();
                    $("#demand_type_invites").removeAttr('required');

                    $("#demand_type_inviteFile_0_file").attr("required", "required");
                    $("#demand_type_inviteFile_0_file").parents("tr").find("span.required").append($("<span />").addClass("red").text("*"));

                    step1_date.parents("li").show();
                    if (step2_date.val() == '') {
                        step2_date.prop('disabled', true);
                    }
                }
            });

            $("#invites").find("label").append("<span class=\"red\"> *</span>");


            //$(document).on("submit", "form", window.demand.ate_form);
            $('.demand-timing-wrapper > div > input').numeric();

            if (!$('#job-part').find('.selectText').html()) {
                $('#job-part').find('.selectText').html('<div style="color: white">.</div>');
            }


            $(document).on("submit", "form", function () {
                validateCategories(3);

                if ($(".inviteFile .file_info").data("size") != undefined) {

                } else {
                    if ($("#demand_type_inviteFile_0_file").attr('required') != 'required') {
                        $("#demand_type_inviteFile_0_file").parents("tr").remove();
                    } else {
                        return false;
                    }
                }
            });

            function parseDate(date) {
                var dateString = date;
                var reggie = /(\d{2}).(\d{2}).(\d{4}) (\d{2}):(\d{2})/;
                var dateArray = reggie.exec(dateString);
                var dateObject = new Date(
                        (+dateArray[3]),
                        (+dateArray[2]) - 1, // Careful, month starts at 0!
                        (+dateArray[1]),
                        (+dateArray[4]),
                        (+dateArray[5])
                );


                return dateObject;
            }

            function validate_form() {
                if (parseDate(step1_date.val()) < (new Date())) {
                    $(".time_error .red").text("Некорректная дата").show();
                    return false;
                }

                if (parseDate(step1_date.val()) < current_date) {
                    $(".time_error .red").text("Вы можете продлить процедуру сбора заявок, но укорачивать ее запрещено").show();
                    return false;
                }


                return true;
            }

            if ($("#demand_type_isPublic_1").prop("checked")) {
                $("#demand_type_inviteFile_0_file").removeAttr('required');
                $("#demand_type_inviteFile_0_file").parents("tr").find("span.red").remove();
            }
        });

        Date.prototype.addDays = function (days) {
            var dat = new Date(this.valueOf());
            dat.setDate(dat.getDate() + days);
            return dat;
        };

        step1_date.datetimepicker(
                {
                    startDate: new Date(),
                    minDate: new Date(),
                    lang: 'ru',
                    format: 'd.m.Y H:i',
                    dayOfWeekStart: 1,
                    onChangeDateTime: function (dp, $input) {
                        moveDate(step1_date, step2_date, 0);
                        step2_date.prop('disabled', false);
                    }
                });

        step2_date.datetimepicker(
                {
                    startDate: newDate(step1_date),
                    minDate: newDate(step1_date),
                    lang: 'ru',
                    format: 'd.m.Y H:i',
                    dayOfWeekStart: 1,
                    onChangeDateTime: function (dp, $input) {
                        moveDate(step2_date, step3_date, 0);
                        step3_date.prop('disabled', false);

                        if ($("#isSubProposal").attr("checked")) {
                            moveDate(step2_date, step2_2_date, 0);
                            step3_date.prop('disabled', false);

                            moveDate(step2_2_date, step3_date, 0);
                            step3_date.prop('disabled', false);
                        }
                    }
                }
        );

        step2_2_date.datetimepicker(
                {
                    startDate: newDate(step1_date),
                    minDate: newDate(step1_date),
                    lang: 'ru',
                    format: 'd.m.Y H:i',
                    dayOfWeekStart: 1,
                    onChangeDateTime: function (dp, $input) {
                        moveDate(step2_2_date, step3_date, 0);
                        step3_date.prop('disabled', false);
                    }
                }
        );

        step3_date.datetimepicker(
                {
                    startDate: newDate(step2_date),
                    minDate: newDate(step2_date),
                    lang: 'ru',
                    format: 'd.m.Y H:i',
                    dayOfWeekStart: 1
                });

        step2_2_date.datetimepicker(
                {
                    startDate: newDate(step2_date),
                    minDate: newDate(step2_date),
                    lang: 'ru',
                    format: 'd.m.Y H:i',
                    dayOfWeekStart: 1
                });
        /*
         $(document).on("keydown", '#demand_type_expireAt, #demand_type_expireProposalAt, #demand_type_expireDecisionAt', function () {
         return false;
         });*/

        /*$(document).on("change", '#demand_type_expireAt, #demand_type_expireProposalAt, #demand_type_expireDecisionAt', function () {
         if ((step1_date.val() != '') && (step2_date.val() != '') && (step3_date.val() != '')) {
         var step1_date_val = new Date(parseDate(step1_date.val()));
         var step2_date_val = new Date(parseDate(step2_date.val()));
         var step3_date_val = new Date(parseDate(step3_date.val()));

         if ((step2_date_val - step1_date_val) < 259200000) {
         var error = $("<p />").text('date error').css('color', 'red').addClass('step2_error');
         step3_date.after(error);
         } else {
         $(".step2_error").remove();
         }

         if ((step3_date_val - step2_date_val) < 259200000) {
         var error = $("<p />").text('date error').css('color', 'red').addClass('step3_error');
         step2_date.after(error);
         } else {
         $(".step3_error").remove();
         }

         }
         return false;
         });*/

        function moveDate(date1, date2, offset) {
            var step1 = parseDate(date1.val());
            var step2 = parseDate(date2.val());
            if ((step2 - step1) < 259200000) {
                date2.datetimepicker({
                    value: step1.addDays(offset).format2(),
                    startDate: step1.addDays(offset),
                    minDate: step1.addDays(offset),
                });
            }
        }

        function newDate(target) {
            if (target.val() != '') {
                parseDate(target.val());
            } else {
                return new Date();
            }
        }

        function parseDate(date) {
            if (date != '') {
                var dateString = date;
                var reggie = /(\d{2}).(\d{2}).(\d{4}) (\d{2}):(\d{2})/;
                var dateArray = reggie.exec(dateString);
                var dateObject = new Date(
                        (+dateArray[3]),
                        (+dateArray[2]) - 1, // Careful, month starts at 0!
                        (+dateArray[1]),
                        (+dateArray[4]),
                        (+dateArray[5])
                );
            } else {
                var dateObject = new Date();
            }


            return dateObject;
        }

        function reloadCategories($selector) {
            var $category = $('#demand_type_category');
            //var $subcategory = $('#demand_type_subcategory');
            var $subcategory = $('.subcategories');
            var $form = $("form");
            var data = {};
            data[$category.attr('name')] = $category.val();
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    //$subcategory.parent().find(".selectArea").remove();
                    $subcategory.replaceWith(function () {
                                var $select = $(html).find('.subcategories');

                                //$select.find('option[value=""]').remove();
                                return $select;
                            }
                    );
                }
            });
        }

        $(document).on("change", ".subcategories", function () {
            validateCategories(3);
        });

        function validateInvites(number) {
            if ($("#invites input").lenght < number) {
                disableSubmit();
            } else {
                enableSubmit();
            }
        }

        function validateCategories(number) {
            if ($(".subcategories input[type=checkbox]:checked").length < 1) {
                disableSubmit();
                $(".subcategories").append($("<p/>").addClass("err-text").text("Вы должны узказать хотя бы одну сферу деятельности"));
            }
            else if ($(".subcategories input[type=checkbox]:checked").length > number) {
                disableSubmit();
                $(".subcategories").append($("<p/>").addClass("err-text").text("Вы можете указать не более " + number.toString() + " сфер деятельности"));
            }
            else {
                enableSubmit();
                $(".subcategories").find(".err-text").remove();
            }
        }

        function disableSubmit() {
            $("button[type=submit]").attr('disabled', 'disabled').addClass("active");
            event.stopPropagation();
            event.preventDefault();
            return false;
        }

        function enableSubmit() {
            $("button[type=submit]").removeAttr("disabled").removeClass("active");
        }


        $('#demand_type_category').change(function () {
            reloadCategories($(this));
        });

        $(document).on("change", "#isSubProposal", function () {
            if ($("#isSubProposal").attr("checked")) {
                $("#subProposal").show();
                $("#subProposal label").append("<span class=\"red\">*</span>");
                $("#subProposal input").attr("required", "required");

                step2_2_date.datetimepicker(
                        {
                            startDate: newDate(step1_date),
                            minDate: newDate(step1_date),
                            lang: 'ru',
                            format: 'd.m.Y H:i',
                            dayOfWeekStart: 1,
                            onChangeDateTime: function (dp, $input) {
                                moveDate(step2_2_date, step3_date, 0);
                            }
                        }
                );
                moveDate(step2_date, step2_2_date, 0);
            } else {
                $("#subProposal").hide();
                $("#subProposal label .red").remove();
                $("#subProposal input").removeAttr("required");
            }
        });

    </script>
    <script type="text/javascript">
        var emailCount = $("#invites input").length;
        $(document).ready(function () {
            $('#add-another-email').click(function (e) {
                e.preventDefault();
                var emailList = $('#invites_list');
                var newWidget = emailList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, emailCount);
                emailCount++;
                var newLi = $('<li></li>').html(newWidget);
                newLi.append("<a href='#' class='deleteInvite'>Удалить</a>")
                newLi.appendTo(emailList);
            });
        });
        $(document).on("click", ".deleteInvite", function () {
            if (emailCount > 2) {
                var $row = $(this).parent("li");
                $row.remove();
            }
            return false;
        });
    </script>
    <script type="text/javascript">
        var curatorCount = $("#curator input").length;
        $(document).ready(function () {
            $('#add-another-curator').click(function (e) {
                e.preventDefault();
                var curatorsList = $('#curators_list');
                var newWidget = curatorsList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, curatorCount);
                curatorCount++;
                var newLi = $('<li></li>').html(newWidget);
                newLi.append("<a href='#' class='deleteCurator'>Удалить</a>")
                newLi.appendTo(curatorsList);
            });
        })
        $(document).on("click", ".deleteCurator", function () {
            var $row = $(this).parent("li");
            $row.remove();
            return false;
        });
    </script>
{% endblock %}