{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block actions %}
{% endblock %}

{% block show %}

    <br>
    <h1>Тендер</h1>
    <div class="widget justTable">
        <table cellpadding="0" cellspacing="0" width="100%" class="tDefaultSpecial">

            <tr>
                <td>Тендер</td>
                <td>
                    {{ object.name }}
                </td>
            </tr>
            <tr>
                <td>Текст тендер</td>
                <td>
                    {{ object.text | raw }}
                </td>
            </tr>
            <tr>
                <td>Вложения</td>
                <td>
                    <ul>
                        {% for file in object.files %}
                            <li>
                                <a target="_blank" href="{{ path('preview_file', {'id' : file.id } ) }}">
                                    {{ file.displayName }}
                                </a>
                                <a target="_blank" href="{{ path('save_file', {'id' : file.id } ) }}">
                                    (скачать)
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
<br>
    <h1>Коммерческие предложения</h1>
    <div class="widget justTable">
        <table cellpadding="0" cellspacing="0" width="100%" class="tDefaultSpecial">
            <thead>
            <tr>
                <td style="border-right: 1px #000 solid; width: 100px;">Компания</td>
                <td style="width: 470px;">Сопроводительное письмо 1 этапа</td>
                <td style="border-right: 1px #000 solid; width: 100px;">Вложения</td>
                <td style="width: 470px;">Сопроводительное письмо 2 этапа</td>
                <td style="border-right: 1px #000 solid; width: 100px;">Вложения</td>
                <td style=" width: 100px;">Окончательная сумма</td>
            </tr>
            </thead>
            {% for reaction in object.reactions %}
                {% if reaction.proposal != null %}
                    {% set proposal = reaction.proposal %}
                    <tr>
                        <td style="border-right: 1px #000 solid;">{{ reaction.job.name }}</td>
                        <td>{{ reaction.message | raw }}</td>
                        <td style="border-right: 1px #000 solid;">
                            <ul>
                                {% for file in reaction.files %}
                                    <li>
                                        <a target="_blank" href="{{ path('preview_file', {'id' : file.id } ) }}">
                                            {{ file.displayName }}
                                        </a>
                                        <a target="_blank" href="{{ path('save_file', {'id' : file.id } ) }}">
                                            (скачать)
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ proposal.message }}</td>
                        <td style="border-right: 1px #000 solid;">
                            <ul>
                                {% for file in proposal.files %}
                                    <li>
                                        <a target="_blank" href="{{ path('preview_file', {'id' : file.id } ) }}">
                                            {{ file.displayName }}
                                        </a>
                                        <a target="_blank" href="{{ path('save_file', {'id' : file.id } ) }}">
                                            (скачать)
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ proposal.price }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}