<h4>
    <a href="{{ advert_show_route(demand) }}">
        {{ demand.name | truncate(66, true) }}
    </a>
    {% if demand.expireDecisionAt < date("now") or demand.isFinished %}
        {% if demand.winner is null %}
            <span class="red" style="font-size: 12px;">Тендер не состоялся</span>
        {% endif %}
    {% endif %}
</h4>
{#{% if date(demand.expireAt) < date("now") %}
    <p><strong style="color: red;">Процедура закончилась</strong></p>
{% else#}
{% if not demand.isApproved and demand.notes is same as (null) and demand.invalidRules is empty %}
    <p><strong style="color: red;">Ожидает проверки администратором</strong></p>
{% elseif not demand.isApproved and demand.notes is not same as (null) or demand.invalidRules is not empty %}
    <div class="invalid-rules">
        {% for invalidRule in demand.invalidRules %}
            <p>
                <strong style="color: red;">{{ invalidRule|raw }}</strong>
            </p>
        {% endfor %}

        {% if demand.notes is not empty %}
            <p>
                <strong style="color: red;">{{ demand.notes|raw }}</strong>
            </p>
        {% endif %}
    </div>
{% endif %}
<p class="section">
    <a href="{{ path('catalog') }}?categoryId={{ demand.category.id }}&advertTypeId={{ constant('Easyb\\AdvertBundle\\Entity\\AbstractAdvert::DEMAND') }}&cityId={{ demand.getJob().getCity().id }}">
        {{ demand.category.name }}
    </a>
</p>
{% if demand.isPublic %}
    <p class="grey">
        Сбор заявок до: {{ demand.expireAt|date('H:i d.m.Y') }}
        {% if date("now") > demand.expireAt or demand.isFinished %}
            <span class="red">(Процедура закончилась)</span>
        {% endif %}
    </p>
{% endif %}
<p class="grey">
    Сбор КП до: {{ demand.expireProposalAt|date('H:i d.m.Y') }}
    {% if date("now") > demand.expireProposalAt or demand.isFinished %}
        <span class="red">(Процедура закончилась)</span>
    {% endif %}
</p>
<p class="grey">
    Принятие решения до: {{ demand.expireDecisionAt|date('H:i d.m.Y') }}
    {% if date("now") > demand.expireDecisionAt or demand.isFinished %}
        <span class="red">(Процедура закончилась)</span>
    {% endif %}
</p>

{% if demand.isPublic == false %}
    <p class="grey">
        Ссылка для доступа к тендеру: <br>

        {{ app.request.host }}{{ path('hidden_demand', {'private_hash' : demand.privateHash }) }}
    </p>
{% endif %}

<p class="grey">
    Дата последнего обновления публикации: {{ demand.publicationAt |date('H:i d.m.Y') }}<br>
    {{ demand.views }} просмотров</p>
{% if demand.isActive %}
    <p class="green">Опубликовано</p>
{% else %}
    <p class="red">Не опубликовано</p>
{% endif %}
<div class="actions2">
    {% if not demand.isFinished %}
        {% if demand.isApproved %}
            {% if demand.expireDecisionAt > date("now") %}
                <div class="action_link">
                    {% if demand.checkUpTime() %}
                        <a class="bg-refresh ajax-link" href="{{ path('demand_up', {'id' : demand.id }) }}"><span class="dash">Обновить дату публикации</span></a>
                    {% else %}
                        <strong class="bg-refresh">Обновить дату публикации <span class="popup">Обновление станет возможным через<br>
                                {{ demand.whenUpTime() }}<em class="arr"></em></span> </strong>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <div class="action_link">
                <strong class="bg-refresh">
                    Поднять тендер в каталоге
                        <span class="popup">
                            Обновление станет возможным после<br>
                            проверки администратором<em class="arr"></em>
                        </span>
                </strong>
            </div>
        {% endif %}
        <div class="action_link">
            <a class="bg-edit" href="{{ path('demand_edit', {'id' : demand.id }) }}">
                <span class="dash">Редактировать</span>
            </a>
            <a class="" href="{{ advert_show_route(demand) }}#questions">
                <span class="dash">Вопросы-Ответы ({{ demand.questions | length }})</span>
            </a>
            <a id="dele-{{ demand.id }}" class="bg-delete thickbox" href="#TB_inline?height=150&width=450&inlineId=demandStop&modal=true" onclick="sure('{{ path('demand_stop', {'id' : demand.id }) }}')">
            <span class="dash">Объявить тендер несостоявшимся</span>
            </a>
        </div>
    {% endif %}
    <div class="action_link">
        <a id="dele-{{ demand.id }}" class="bg-delete thickbox" href="#TB_inline?height=150&width=450&inlineId=demandDelete&modal=true" onclick="sure('{{ path('demand_delete', {'id' : demand.id }) }}')">
            <span class="dash">Удалить</span>
        </a>
    </div>

</div>
<script>
    tb_init('#dele-{{ demand.id }}');
</script>

