{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block content %}
    {{ render(controller('EasybMainBundle:Banners:upBanner')) }}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <section class="mainContent-article">
        <h1>Объявления: Мой тендер</h1>

        <div class="autosearch"><a class="btn" href="{{ path('autosearch') }}">Автопоиск</a> <span class="info-pic"><span class="pic"></span><span class="popup">Включите функцию уведомления, чтобы получать сообщения о новых объявлениях<span class="arr"></span></span><!-- end .popup--></span><!-- end .info-pic-->
            <a class="btn right-button" href="{{ path('add_demand') }}">Добавить Тендер</a>
        </div>

        {% include 'EasybMainBundle:Common:showMaterials.html.twig' with {'path' : 'demands', 'count' : ['50', '100'], 'url' : '' } %}
        <section class="articles2">
            {% for demand in adverts %}
                {% if not demand.isDeleted %}
                    <article id="advert_{{ demand.id }}">
                        {% include 'EasybAdvertBundle:Demand:demand.html.twig' %}
                    </article>
                    {% if loop.last and loop.index0 > constant('Easyb\\AdvertBundle\\Entity\\AbstractAdvert::COUNT_ON_LIST_PAGE') %}
                        {{ pagerfanta(adverts, 'pager') }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if adverts is empty %}
                <div class="text-align-center">Вы еще не разместили ни одного тендера</div>
            {% endif %}
        </section>

    </section>
    {{ render(controller('EasybMainBundle:Banners:sideBanner')) }}
    {{ render(controller('EasybMainBundle:Banners:downBanner')) }}

    <div id="demandDelete" style="display: none">
        <div class="modal">
            <h3>Удаление тендера</h3>

            <p>После удаления тендера он будет признан несостоявшимся. Вы, действительно, хотите удалить тендер?</p>
            <nav class="actions2">
                <table>
                    <tr>
                        <td><a class="bg-delete url" href=""><span class="dash">Да</span></a></td>
                    </tr>
                </table>
            </nav>
            <span class="close" id="close_modal"></span>
        </div>
    </div>

    <div id="demandStop" style="display: none">
        <div class="modal">
            <h3>Завершить тендер</h3>

            <p>Вы, действительно, хотите объявить тендер несостоявшимся?</p>
            <nav class="actions2">
                <table>
                    <tr>
                        <td><a class="bg-delete url" href=""><span class="dash">Да</span></a></td>
                    </tr>
                </table>
            </nav>
            <span class="close" id="close_modal"></span>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('newAdvert') %}
        {% if flashMessage %}
            <div id="TB_overlay" class="TB_overlayBG"></div>
            <div id="TB_window" style="margin-left: -265px;width: 530px;margin-top: -90px;
    display: block;">
                {#<div id="TB_ajaxContent" class="TB_modal" style="width: 500px; height: 745px;">
                    {{ render_new_advert_added_modal('demand') }}
                </div>#}
                <div id="TB_ajaxContent" class="TB_modal" style="width: 500px; height: 150px;">
                    <div class="modal">
                        <section>
                            {{ flashMessage | raw }}
                        </section>
                        <span class="close" id="close_modal"></span></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '.ajax-link', function () {
                $.ajax({
                    url: this.href,
                    type: 'POST',
                    success: function (data) {
                        $('#advert_' + data.id).html(data.newTemplate);
                    }
                });
                return false;
            });
        });
        function sure(url) {
            $('.url').attr('href', url);
        }
    </script>
{% endblock %}