{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block content %}
    {{ render(controller('EasybMainBundle:Banners:upBanner')) }}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <section class="mainContent-article">
        <h1>Статус моих тендеров</h1>
        <section class="show nobg"><span>Показывать по</span>
            <select class="small" onchange="count()" id="count_on_page">
                <option {% if app.request.get('count') == '50' %}selected{% endif %} value="{{ path('my_demand', {'count' : '50'}) }}">50</option>
                <option {% if app.request.get('count') == '100' %}selected{% endif %} value="{{ path('my_demand', {'count' : '100'}) }}">100</option>
            </select>
            <span>откликов на странице</span>
        </section>
        <form action="{{ path('delete_demand_reactions') }}" method="POST">
            <div class="action-btn">
                <input value="Удалить выбранные" type="submit">
            </div>
            <section class="responds">
                <header>
                    <div class="fl">Мой тендер</div>
                    <div class="fl">Сбор заявок</div>
                    <div class="fl">Сбор КП</div>
                    <div class="fl">Принятие решения</div>
                    <div class="check">
                        <input type="checkbox" value="" id="check-all">
                    </div>
                </header>
                {% for demand in demands %}
                    {% set show_demand = true %}
                    {% for reaction in demand.reactions %}
                        {% if reaction.deletedFromDemand == false %}
                            <article id="reaction_{{ reaction.id }}">
                                {% include 'EasybAdvertBundle:Demand:reaction.html.twig' %}
                            </article>
                            {% set show_demand = false %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </section>
            {#{{ pagerfanta(reactions, 'pager') }}#}
            <div class="action-btn">
                <input value="Удалить выбранные" type="submit">
            </div>
        </form>
    </section>
    {{ render(controller('EasybMainBundle:Banners:sideBanner')) }}
    {{ render(controller('EasybMainBundle:Banners:downBanner')) }}
    <script>
        $(document).on('click', '.ajax-link', function () {
            $.ajax({
                url: this.href,
                type: 'POST',
                success: function (data) {
                    var template = (data.newTemplate).replace(/(\r\n|\n|\r)/gm,"");
                    template = template.replace(/<!--[\s\S]*?-->/g, "");
                    $('#reaction_' + data.id + " .step1").html($(template)[1]);
                    if (data.demandNotification <= 0) {
                        $('#demand-notification').remove();
                    }
                }
            });
            return false;
        });
        function count() {
            location.href = $('#count_on_page').attr("selected", "selected").val();
        }
        $(document).ready(function () {
            $("#check-all").click(function () {
                if ($('#check-all').attr('checked')) {
                    $('.one-check:enabled').attr('checked', true);
                } else {
                    $('.one-check:enabled').attr('checked', false);
                }
            });
        });
    </script>
{% endblock %}