<div class="modal">
    <h3>Отправить предложение</h3>
        К сожалению, Вы не сможете одобрить это предложение. Для того, чтобы отклинуться на предложение, Вам необходимо <a  href="{{ path('demands') }}">создать объявление</a>.
    <span class="close" id="close_modal"></span>
</div>