<!-- first col -->
<div class="fl tender_info">
    {% if show_demand %}
        <a class="gray" href="{{ advert_show_route(reaction.demand) }}">
            {{ reaction.demand.name }}
        </a>

        <div class="info">
            {% if reaction.demand.isPublic %}
                <p>
                    Сбор заявок до {{ reaction.demand.expireAt | date("d.m.Y, H:i") }}
                </p>
            {% endif %}
            <p>
                Сбор КП до {{ reaction.demand.expireProposalAt | date("d.m.Y, H:i") }}
            </p>
            {% if reaction.demand.expireSubProposalAt %}
                <p>
                    Сбор КП (2 этап) до {{ reaction.demand.expireSubProposalAt | date("d.m.Y, H:i") }}
                </p>
            {% endif %}
            <p>
                Принятие решения до {{ reaction.demand.expireDecisionAt | date("d.m.Y, H:i") }}
            </p>
        </div>
    {% else %}
        &nbsp;
    {% endif %}
</div>

<!-- second col -->
<div class="fl step1">
    {% if reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DIRECT') %}
        <p class="green">
            <a class="gray thickbox" href="{{ path('show_reaction', {'id' : reaction.id }) }}?width=600&modal=true">
                Закрытый тендер
            </a>
        </p>
    {% elseif reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_APPROVE') %}
        <p class="green">
            <a class="gray thickbox" href="{{ path('show_reaction', {'id' : reaction.id }) }}?width=600&modal=true">
                Заявка одобрена
            </a>
        </p>
    {% elseif reaction.getStatus()== constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DECLINE') %}
        <p class="red">
            <a class="thickbox " href="{{ path('show_reaction', {'id' : reaction.id }) }}?width=600&modal=true">
                Заявка отклонена
            </a>
        </p>
    {% elseif reaction.getStatus()== constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DISQUALIFIED') %}
        <p class="green">
            <a class="gray thickbox" href="{{ path('show_reaction', {'id' : reaction.id }) }}?width=600&modal=true">
                Заявка одобрена
            </a>
        </p>
    {% else %}
        <a class="gray thickbox" href="{{ path('show_reaction', {'id' : reaction.id }) }}?width=600&modal=true">
            Заявка не рассмотрена
        </a>
    {% endif %}
    <p class="info">
        <a href="{{ path('show_job', {'slug' : reaction.job.slug }) }}">
            {{ reaction.job.name }}, {{ reaction.job.organizationType }}
        </a>
    </p>

    <p>
        Заявка получена {{ reaction.createdAt | date("d.m.Y, в H:i") }}
    </p>
    {% if reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_START') %}
        <p class="actions3">
            <a class="opt-link ajax-link" href="{{ path('demand_approve', {'id' : reaction.id }) }}">
                Пригласить
            </a>
            <span class="sep">/</span>
            <a class="opt-link ajax-link" href="{{ path('demand_decline', {'id' : reaction.id }) }}">
                Отклонить
            </a>
        </p>
    {% endif %}
</div>

<!-- third col -->
<div class="fl step2">
    {% if reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_APPROVE') or reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DIRECT') %}
        {% if reaction.proposal is empty %}
            {% if date("now") < reaction.demand.expireProposalAt %}
                <p>Участник тендера еще не отправил КП</p>
            {% else %}
                <p class="red">Дисквалифицирован</p>
            {% endif %}
        {% else %}
            {% if reaction.proposal[0] is defined %}
                {% if date("now") > reaction.demand.expireProposalAt %}
                    <p>
                        <a class="thickbox" href="{{ path('show_proposal', { 'id' : reaction.proposal[0].id }) }}?width=600&modal=true">Посмотреть КП</a>
                    </p>
                    <p class="info">
                        Финальная стоимость лота: <br>
                        {{ reaction.proposal[0].price }} руб. с НДС
                    </p>
                {% else %}
                    <p>
                        КП получено. Посмотреть его можно будет сразу же после окончания процедуры "Сбора КП"
                    </p>
                {% endif %}
                <p class="info">
                    Получено {{ reaction.proposal[0].createdAt | date("d.m.Y, в H:i") }}
                </p>
            {% endif %}

            {% if reaction.demand.expireSubProposalAt is not null %}
                {% if reaction.proposal[1] is defined %}
                    <hr>
                    {% if date("now") > reaction.demand.expireSubProposalAt %}
                        <p>
                            <a class="thickbox" href="{{ path('show_proposal', { 'id' : reaction.proposal[1].id }) }}?width=600&modal=true">Посмотреть КП (2 этап)</a>
                        </p>
                        <p class="info">
                            Финальная стоимость лота: <br>
                            {{ reaction.proposal[1].price }} руб. с НДС
                        </p>
                    {% else %}
                        <p>
                            КП получено. Посмотреть его можно будет сразу же после окончания процедуры "Сбора КП" (2 этап)
                        </p>
                    {% endif %}
                    <p class="info">
                        Получено {{ reaction.proposal[1].createdAt | date("d.m.Y, в H:i") }}
                    </p>
                {% else %}
                    <hr>
                    <p>Участник тендера еще не отправил КП</p>
                {% endif %}
            {% endif %}

        {% endif %}
    {% elseif reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DISQUALIFIED') %}
        <p class="red">
            Дисквалифицирован
        </p>
    {% else %}
        &nbsp;
    {% endif %}
</div>

<!-- fourth col -->
<div class="fl step3">
    {% if reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_APPROVE') or reaction.status == constant('Easyb\\AdvertBundle\\Entity\\Reaction::STATUS_DIRECT') %}
        {% if reaction.demand.isFinished %}
            {% if reaction.demand.winner is not null %}
                {% if reaction.proposal | length != 0 %}
                    {% set proposal = reaction.proposal[(reaction.proposal | length) - 1] %}
                    {% if proposal.status == constant('Easyb\\AdvertBundle\\Entity\\Proposal::STATUS_WINNER') %}
                        <p class="green">
                            Вы победили в тендере
                        </p>
                    {% elseif proposal.status == constant('Easyb\\AdvertBundle\\Entity\\Proposal::STATUS_LOSER') %}
                        <p class="red">
                            Ваше КП не выбрали
                        </p>
                    {% endif %}
                {% else %}
                    {% set proposal = null %}
                {% endif %}
            {% else %}
                <p class="red">
                    Тендер не состоялся
                </p>
            {% endif %}
        {% else %}
            {% if date("now") > reaction.demand.expireSubProposalAt and date("now") < reaction.demand.expireDecisionAt %}
                {% if reaction.proposal is not null %}
                    {% if reaction.proposal[1] is defined %}
                        {% set proposal = reaction.proposal[1] %}
                    {% else %}
                        {% set proposal = reaction.proposal[0] %}
                    {% endif %}
                    <p>
                        <a class="thickbox" href="{{ path('winner_popup', {'id' : proposal.id } ) }}?width=600&modal=true">Выбрать победителя</a>
                    </p>
                {% endif %}
            {% else %}
                <p>Выбрать победителя</p>
            {% endif %}
        {% endif %}
    {% else %}
        {% if reaction.demand.isFinished and  reaction.demand.winner is null %}
            <p class="red">
                Тендер не состоялся
            </p>
        {% else %}
            <p>Выбрать победителя</p>
        {% endif %}
    {% endif %}
</div>
<div class="check">
    <input type="checkbox" value="{{ reaction.id }}" name="reactions[]" class="one-check">
</div>
