<div class="modal">
    {% block h3_send %}
        <h3>Одобрить предложение</h3>
    {% endblock %}
    <section class="send-offer">
        {% block form_action %}
        <form action="{{ path('send_demand', {'id' : advert.getId()}) }}" method="POST">
        {% endblock %}
            <fieldset>
                <div class="offering"><a  href="{{ path('show_job', {'slug' : advert.getJob().getSlug()}) }}">{{ advert.getJob().getName() }}</a></div>
                <h5>Тип предложения:</h5>
                <ul class="offer-type">
                    {% for item in adverts %}
                        {% if item.getSubmittedAdverts() and item.hasSubmittedAdvert(advert.getId()) %}
                            <li class="nobg"><del>{{ item.getName() }}</del> | <a  target="_blank" href="{{ advert_show_route(item) }}">Смотреть</a>
                                <div class="text">Данное предложение уже было отправлено. Пожалуйста, выберите другое</div>
                            </li>
                        {% else %}
                            <li onclick="choice({{ item.getId() }})" id="my-offer-{{ item.getId() }}">
                                {{ item.getName() }} | <a  target="_blank" href="{{ advert_show_route(item) }}">Смотреть</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="hr"></div>
                {% block message %}
                {% endblock %}
                {{ form_widget(form['proposal']) }}
                {% block send_button %}
                    <input class="btn active" value="Одобрить предложение" type="submit" id="send-but">
                {% endblock %}
            </fieldset>
            {{ form_rest(form) }}
        </form>
    </section>
    <span class="close" id="close_modal"></span>
</div>
{% block script_send %}
    <script>
        function choice(id) {
            if (jQuery('#my-offer-'+id).hasClass('bg-green')) {
                jQuery('.bg-green').removeClass();
                jQuery("#send-but").attr('disabled',true).addClass('active');
            } else {
                jQuery('.bg-green').removeClass();
                jQuery('#my-offer-'+id).addClass('bg-green');
                jQuery("#send-but").removeAttr('disabled').removeClass('active');
            }
            jQuery('#reaction_type_proposal').val(id);
        }
    </script>
{% endblock %}
