{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<td width="30%">{% block name %}<strong>{{ admin.trans(field_description.label)|capitalize }}</strong>{% endblock %}</td>
<td>{% block field %}{{ value|raw }}{% endblock %}</td>