{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block content %}
        <br />
    <div class="sonata-ba-delete">

        <h1>{{ 'title_batch_confirmation'|trans({}, 'SonataAdminBundle') }}</h1>

        {% if data.all_elements %}
            {{ 'message_batch_all_confirmation'|trans({}, 'SonataAdminBundle') }}
        {% else %}
            {% transchoice data.idx|length with {'%count%': data.idx|length} from 'SonataAdminBundle' %}message_batch_confirmation{% endtranschoice %}
        {% endif %}

        <div class="well form-actions">
            <form action="{{ admin.generateUrl('batch', admin.filterParameters) }}" method="POST" >
                <input type="hidden" name="confirmation" value="ok" />
                <input type="hidden" name="data" value="{{ data|json_encode }}" />
                <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}" />

                <div style="display: none">
                    {{ form_rest(form) }}
                </div>

                <input type="submit" class="buttonS bRed" value="{{ 'btn_execute_batch_action'|trans({}, 'SonataAdminBundle') }}" />

                {% if admin.hasRoute('list') and admin.isGranted('LIST') %}
                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                    <a class="buttonS bBlue" href="{{ admin.generateUrl('list') }}">{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
