{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block content %}
        <br />
    <div class="sonata-ba-delete">

        <h1>{{ 'title_delete'|trans({}, 'SonataAdminBundle') }}</h1>

        {{ 'message_delete_confirmation'|trans({'%object%': object}, 'SonataAdminBundle') }}

        <div class="well form-actions">
            <form method="POST" action="{{ admin.generateObjectUrl('delete', object) }}">
                <input type="hidden" value="DELETE" name="_method" />
                <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}" />

                <input class="buttonS bRed" type="submit"  value="{{ 'btn_delete'|trans({}, 'SonataAdminBundle') }}"/>
                {#<input type="submit" class="btn btn-danger" value="{{ 'btn_delete'|trans({}, 'SonataAdminBundle') }}" />#}

                {% if admin.hasRoute('edit') and admin.isGranted('EDIT', object) %}
                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                    <a class="buttonS bBlue" href="{{ admin.generateObjectUrl('edit', object) }}">{{ 'link_action_edit'|trans({'%name%': object}, 'SonataAdminBundle') }}</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
