{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}


{% block form %}

<ul class="middleNavR">
    {% if admin.hasroute('list') and admin.isGranted('LIST')%}
    <li><a href="{{ admin.generateUrl('list') }}" class="tipN" original-title="{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}"><img alt="" src="{{ asset('bundles/easybadmin/images/menu_icons/home_48.png') }}"></a></li>
    {% endif %}
    {% if admin.hasroute('show') and admin.id(object) and admin.isGranted('VIEW', object) and admin.show|length > 0 %}
        <li><a href="{{ admin.generateObjectUrl('show', object) }}" class="tipN" original-title="{{ 'link_action_show'|trans({}, 'SonataAdminBundle') }}"><img alt="" src="{{ asset('bundles/easybadmin/images/menu_icons/search_48.png') }}"></a></li>
    {% endif %}
    {% if admin.hasroute('history') and admin.id(object) and admin.isGranted('EDIT', object) %}
        <li><a href="{{ admin.generateObjectUrl('history', object) }}" class="tipN" original-title="{{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}"><img alt="" src="{{ asset('bundles/easybadmin/images/menu_icons/plus_48.png') }}"></a></li>
    {% endif %}
    {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
        <li><a class="tipN" href="{{ admin.generateUrl('create') }}" original-title="{{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}"><img alt="" src="{{asset('bundles/easybadmin/images/menu_icons/plus_48.png') }}"></a></li>
    {% endif %}
    {% if admin.id(object) and admin.hasRoute('delete') and admin.isGranted('DELETE')%}
        <li><a class="tipN" href="{{ admin.generateObjectUrl('delete', object) }}" original-title="{{ 'link_action_delete'|trans({}, 'SonataAdminBundle') }}"><img alt="" src="{{asset('bundles/easybadmin/images/menu_icons/delete_48.png') }}"></a></li>
    {% endif %}
</ul>



{% set url = admin.id(object) ? 'edit' : 'create' %}

{% if not admin.hasRoute(url)%}
<div>
    {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
</div>
{% else %}
<div class="fluid">
    <form class="main" action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}) }}" {{ form_enctype(form) }} method="POST" id="validate">
        {% if form.vars.errors|length > 0 %}
        <div class="sonata-ba-form-error">
            {{ form_errors(form) }}
        </div>
        {% endif %}

        {% block sonata_pre_fieldsets %}{% endblock %}

        {% for name, form_group in admin.formgroups %}

        <fieldset>
            <div class="widget">
                <div class="whead">
                    {% if form_group.collapsed %}
                        <h6><a href="" class="sonata-ba-collapsed" title="{{ 'link_expand'|trans({}, 'SonataAdminBundle') }}">{{ name|trans({}, admin.translationdomain) }}</a></h6>
                    {% else %}
                        <h6>{{ name|trans({}, admin.translationdomain) }}</h6>
                    {% endif %}
                    <div class="clear"></div>
                </div>
                {% for field_name in form_group.fields %}
                    {% if admin.formfielddescriptions[field_name] is defined %}
                        <div class="formRow">
                            {{ form_row(form[field_name])}}
                            <div class="clear"></div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="formRow">
                    {% if app.request.isxmlhttprequest %}
                        {% if admin.id(object) %}
                            <input type="submit" class="buttonS bBlue formSubmit" name="btn_update_and_edit" value="{{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
                        {% else %}
                            <input type="submit" class="buttonS bBlue" name="btn_create" value="{{ 'btn_create'|trans({}, 'SonataAdminBundle') }}"/>
                        {% endif %}
                    {% else %}
                        {% if admin.supportsPreviewMode %}
                            <input class="buttonS bBlue" name="btn_preview" type="submit" value="{{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}"/>
                        {% endif %}
                    {% if admin.id(object) %}
                        <input type="submit" class="buttonS bBlue" name="btn_update_and_edit" value="{{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
                        <input type="submit" class="buttonS bBlue" name="btn_update_and_list" value="{{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}"/>

                        {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                            {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                            <a href="{{ admin.generateObjectUrl('delete', object) }}" class="buttonS bRed">{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>

                    {% endif %}
                    {% else %}
                        <input class="buttonS bBlue" type="submit" name="btn_create_and_edit" value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
                        <input class="buttonS bBlue" type="submit" name="btn_create_and_create" value="{{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}"/>
                    {% endif %}
                    {% endif %}
                    <div class="clear"></div>
                </div>
            </div>
        </fieldset>
        {% endfor %}

        {% block sonata_post_fieldsets %}{% endblock %}

        {{ form_rest(form) }}
    </form>
</div>
{% endif%}

<script type="text/javascript">
    jQuery(document).ready(function () {
        {% if admin.id(object) is null %}
            $( ".datepicker" ).datepicker( "setDate", new Date());
        {% endif %}
    });
</script>


{% endblock %}

{% block actions %}
{% endblock %}