{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    {%- if value is empty -%}
        &nbsp;
    {%- else -%}
        {{ value|localeDate('d MMMM y') }}
    {%- endif -%}
{% endblock %}