{% if admin.isGranted('DELETE', object) and admin.hasRoute('delete') %}
    <a href="{{ admin.generateObjectUrl('delete', object) }}" class="tablectrl_small bDefault tipS" title="{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}"><span class="iconb" data-icon="&#xe136;"></span></a>
{% endif %}