{% if admin.hasRoute('show') %}
     <a href="{{ admin.generateObjectUrl('show', object) }}" class="tablectrl_small bDefault tipS" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}"><span class="iconb" data-icon="" ></span></a>
{% endif %}