{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') %}
    <a href="{{ admin.generateObjectUrl('edit', object) }}" class="tablectrl_small bDefault tipS" title="{{ 'action_edit'|trans({}, 'SonataAdminBundle') }}"><span class="iconb" data-icon="&#xe1db;"></span></a>
{% endif %}