
    {#<a data-toggle="dropdown" class="tablectrl_small bDefault" href="#"><span data-icon="" class="iconb"></span></a>#}
    {#<ul class="dropdown-menu pull-right">#}
        {#<li><a href="#"><span class="icos-add"></span>Add</a></li>#}
        {#<li><a href="#"><span class="icos-trash"></span>Remove</a></li>#}
        {#<li><a class="" href="#"><span class="icos-pencil"></span>Edit</a></li>#}
        {#<li><a class="" href="#"><span class="icos-heart"></span>Do whatever you like</a></li>#}
    {#</ul>#}
