{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}
{% set _title        = block('title') %}
{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% if admin.datagrid.hasActiveFilters()%}
            <script type="text/javascript">
//                location.href='#filters-tab';
            </script>
        {%endif%}
        <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? '' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET">
            <div class="sideWidget">
                {% for filter in admin.datagrid.filters %}
                    <div class="formRow filter {{ filter.isActive ? 'active' : 'inactive' }}" id="filter_{{ filter.name }}_row">
                        <label>{{ admin.trans(filter.label) }}:</label>

                        <div class="pb10 mt5">{{ form_widget(form.children[filter.formName].children['type']) }}</div>
                        {{ form_widget(form.children[filter.formName].children['value']) }}
                    </div>
                {% endfor %}
                <input type="hidden" name="filter[_page]" id="filter__page" value="1"/>
                <input type="hidden" name="filter[_per_page]" id="filter__per_page" value="{{ admin.getFilterParameters()._per_page }}"/>

                {% set foo = form.children['_page'].setRendered() %}
                {{ form_rest(form) }}

                <div class="fluid sideWidget">
                    <div class="grid6"><a class="buttonS bRed  mt10" href="{{ admin.generateUrl('list') }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a></div>
                    <div class="grid6"><input type="submit" value="{{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}" class="buttonS bGreen  mt10"></div>
                </div>
            </div>

        </form>
    {% endif %}
{% endblock %}


{% block list_table %}
    {% set batchactions = admin.batchactions %}
    {% if admin.datagrid.results|length > 0 %}

        <div class="widget check">
            <div class="whead"><span class="titleIcon"> {% if batchactions|length > 0 %}<input type="checkbox" id="titleCheck" name="titleCheck"/>{%else%} &nbsp;{% endif %}</span>
                <h6>
                    {% if _title is not empty or action is defined %}
                    {% if _title is not empty %}
                        {{ _title|raw }}
                        {% elseif action is defined %}
                        {% for menu in admin.breadcrumbs(action) %}
                        {% if loop.last %}
                            {{ menu.label }}
                        {% endif %}
                        {% endfor %}
                    {% endif %}
            {% endif %}</h6>
                <div class="clear"></div>
            </div>
            <div class="hiddenpars" id="dyn">
            <a title="Options" class="tOptions "><img alt="" src="{{ asset('bundles/easybadmin/images/icons/options') }}"></a>
                <div class="borderB pl20 pr20">
                <div class="dataTables_filter" id="DataTables_Table_0_filter"><label><span>{{ 'search'|trans({}, 'emSonataAdminBundle') }}:</span> <input type="text" id="dataTables_filter"
                                                                                                                                                          placeholder="{{ 'type to filter...'|trans({}, 'emSonataAdminBundle') }}"
                                                                                                                                                          aria-controls="DataTables_Table_0">

                    <div class="srch"></div>
                </label></div>
                <form class="per-page-filter-form" action="{{ admin.generateUrl('list') }}" method="GET">
                    <div id="DataTables_Table_0_length" class="dataTables_length"><label><span class="showentries">{{ 'show_entries'|trans({}, 'emSonataAdminBundle') }}:</span>
                        {% if admin.getPerPageOptions()|length > 0 %}
                        <select size="1" aria-controls="DataTables_Table_0" name="filter[_per_page]" id="per_page_options" style="opacity: 0;">
                            {% for value in admin.getPerPageOptions() %}
                            <option value="{{value}}" {% if value == admin.getFilterParameters()._per_page %} selected="selected"{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                        <script type="text/javascript">
                            jQuery('#per_page_options').bind('change', function () {
                                jQuery('.per-page-filter-form').submit();
                            })
                        </script>
                </form>
                </label></div>
                <div class="clear"></div>
            {% endif %}
                {% if batchactions|length > 0 %}
                    <div class="grid6">
                        <div class="itemActions nomargin">
                            <span>{{ 'label_batch'|trans({}, 'emSonataAdminBundle') }}:</span>
                            <select name="action">
                                {% for action, options in batchactions %}
                                    <option value="{{ action }}">{{ options.label }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" class="buttonS bBlue mb10 mt5" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}"/>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="tablePars">
                {% if admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                    <ul class="tToolbar">
                        {% for format in admin.getExportFormats() %}
                        <li><a title="" href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}"><span
                                class="icos-outbox"></span> {{ "label_export_download"|trans({}, "SonataAdminBundle") }} {{ format }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
        </div>
            <form action="{{ admin.generateUrl('batch', admin.filterParameters) }}" method="POST">
                <table cellpadding="0" cellspacing="0" width="100%" class="tDefault checkAll tMedia" id="checkAll">
                    <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}" />
                    {% block table_header %}
                        <thead>
                        <tr>
                        {% if batchactions|length > 0 %}
                            <td><img src="{{ asset('bundles/easybadmin/images/elements/other/tableArrows.png') }}" alt=""/></td>
                        {% endif %}
                            {% for field_description in admin.list.elements %}
                            {% if field_description.getOption('code') != '_batch' %}
                                {% set sortable = false %}
                                {% if field_description.options.sortable is defined and field_description.options.sortable %}
                                    {% set sortable             = true %}
                                    {% set current              = admin.datagrid.values._sort_by == field_description %}
                                    {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                    {% set sort_active_class    = current ? 'headerSort' : '' %}
                                    {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                                {% endif %}

                                {% spaceless %}
                                    <td class="sonata-ba-list-field-header-{{ field_description.type}} {% if sortable %}sortCol header  {{ sort_active_class }}{{ sort_by|lower|capitalize }}{% endif %}">
                                    {% if sortable %}<a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
                                        <div>{{ admin.trans(field_description.label|trim) }}<span></span></div>
                                        {% if sortable %}</a>{% endif %}
                                    </td>
                                {% endspaceless %}
                            {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endblock %}
                    <div class="grid6">
                        {% if admin.datagrid.pager.haveToPaginate() %}
                            <div class="tPages">
                                <ul class="pages">
                                    {% if admin.datagrid.pager.page != 1 %}
                                        <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, 1)) }}" title="{{ 'link_first_pager'|trans({}, 'SonataAdminBundle') }}">First</a></li>
                                    {% endif %}

                                    {% if admin.datagrid.pager.page != admin.datagrid.pager.previouspage %}
                                        <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.previouspage)) }}"
                                               title="{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}">Previous</a></li>
                                    {% endif %}

                                    {# Set the number of pages to display in the pager #}
                                    {% for page in admin.datagrid.pager.getLinks() %}
                                        {% if page == admin.datagrid.pager.page %}
                                            <li class="active"><a class="active" href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a></li>
                                        {% else %}
                                            <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if admin.datagrid.pager.page != admin.datagrid.pager.nextpage %}
                                        <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.nextpage)) }}"
                                               title="{{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}">Next</a></li>
                                    {% endif %}

                                    {% if admin.datagrid.pager.page != admin.datagrid.pager.lastpage %}
                                        <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.lastpage)) }}"
                                               title="{{ 'link_last_pager'|trans({}, 'SonataAdminBundle') }}">Last</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <tbody>
                    {% for object in admin.datagrid.results %}
                        <tr id="id-{{ object.getId() }}" >
                            {% for field_description in admin.list.elements %}
                            {{ object|render_list_element(field_description) }}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="fg-toolbar tableFooter">
                    {% if batchactions|length > 0 %}
                            {% block batch_actions %}
                                <div class="grid6">
                                <div class="itemActions nomargin">
                                  <span>{{ 'label_batch'|trans({}, 'emSonataAdminBundle') }}:</span>
                                    <select name="action">
                                        {% for action, options in batchactions %}
                                            <option value="{{ action }}">{{ options.label }}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="submit" class="buttonS bBlue mb10 mt5" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}"/>
                                </div>
                                </div>
                            {% endblock %}
                    {% endif %}
                    <div class="grid6">
                        <div class="dataTables_info"> {% transchoice admin.datagrid.pager.nbresults with {'%count%': admin.datagrid.pager.nbresults} from 'SonataAdminBundle' %}list_results_count{% endtranschoice %}</div>
                    </div>
                    <div class="grid6" id="to-do">
                        {% if admin.datagrid.pager.haveToPaginate() %}
                            <div class="tPages">
                                <ul class="pages">
                                    {% if admin.datagrid.pager.page != 1 %}
                                        <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, 1)) }}" title="{{ 'link_first_pager'|trans({}, 'SonataAdminBundle') }}">First</a></li>
                                    {% endif %}

                                    {% if admin.datagrid.pager.page != admin.datagrid.pager.previouspage %}
                                        <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.previouspage)) }}"
                                               title="{{ 'link_previous_pager'|trans({}, 'SonataAdminBundle') }}">Previous</a></li>
                                    {% endif %}

                                    {# Set the number of pages to display in the pager #}
                                    {% for page in admin.datagrid.pager.getLinks() %}
                                {% if page == admin.datagrid.pager.page %}
                                    <li class="active"><a class="active" href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, page)) }}">{{ page }}</a></li>
                                {% endif %}
                                {% endfor %}
                                    {% if admin.datagrid.pager.page != admin.datagrid.pager.nextpage %}
                                        <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.nextpage)) }}"
                                               title="{{ 'link_next_pager'|trans({}, 'SonataAdminBundle') }}">Next</a></li>
                                    {% endif %}

                                    {% if admin.datagrid.pager.page != admin.datagrid.pager.lastpage %}
                                        <li><a href="{{ admin.generateUrl('list', admin.modelmanager.paginationparameters(admin.datagrid, admin.datagrid.pager.lastpage)) }}"
                                               title="{{ 'link_last_pager'|trans({}, 'SonataAdminBundle') }}">Last</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        </div>
        <div data-easyb="modal">
            <!-- Dynamic content here. -->
        </div>
    {% else %}
        <p class="notice">
            {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
        </p>
    {% endif %}
    <script type="text/javascript">
        jQuery(document).ready(function () {
            {% if app.request.attributes.get('_route') == 'admin_easyb_advert_demand_list' or app.request.attributes.get('_route') == 'admin_easyb_advert_offer_list' %}
            jQuery('.sonata-ba-list-field-header-integer').attr('width', '5%');
            jQuery('.sonata-ba-list-field-header-integer').next().attr('width', '50%');
            jQuery('.sonata-ba-list-field-header-integer').next().next().attr('width', '15%');
            jQuery('.sonata-ba-list-field-header-integer').next().next().next().attr('width', '15%');
            {% endif %}
            {% if app.request.attributes.get('_route') == 'admin_easyb_advert_abstractadvert_list' %}
            jQuery('.sonata-ba-list-field-header-integer').attr('width', '5%');
            jQuery('.sonata-ba-list-field-header-integer').next().attr('width', '25%');
            jQuery('.sonata-ba-list-field-header-integer').next().next().attr('width', '50%');
            jQuery('.sonata-ba-list-field-header-integer').next().next().next().attr('width', '15%');
            {% endif %}
        });
    </script>
{% endblock %}