{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block actions %}
<ul class="middleNavR">
    {% if admin.hasroute('list') and admin.isGranted('LIST')%}
    <li><a href="{{ admin.generateUrl('list') }}" class="tipN" original-title="{{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}"><img alt="" src="{{ asset('bundles/easybadmin/images/menu_icons/home_48.png') }}"></a></li>
    {% endif %}
    {% if admin.hasroute('history') and admin.id(object) and admin.isGranted('EDIT', object) %}
    <li><a href="{{ admin.generateObjectUrl('history', object) }}" class="tipN" original-title="{{ 'link_action_history'|trans({}, 'SonataAdminBundle') }}"><img alt="" src="{{ asset('bundles/easybadmin/images/menu_icons/plus_48.png') }}"></a></li>
    {% endif %}
    {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
    <li><a class="tipN" href="{{ admin.generateUrl('create') }}" original-title="{{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}"><img alt="" src="{{asset('bundles/easybadmin/images/menu_icons/plus_48.png') }}"></a></li>
    {% endif %}
    {% if admin.hasRoute('edit') and admin.isGranted('EDIT')%}
        <li><a class="tipN" href="{{ admin.generateObjectUrl('edit', object) }}" original-title="{{ 'link_action_edit'|trans({'%name%': object}, 'SonataAdminBundle') }}"><img alt="" src="{{asset('bundles/easybadmin/images/menu_icons/pencil_48.png') }}"></a></li>
    {% endif %}
    {% if admin.hasRoute('delete') and admin.isGranted('DELETE')%}
        <li><a class="tipN" href="{{ admin.generateObjectUrl('delete', object) }}" original-title="{{ 'link_action_delete'|trans({'%name%': object}, 'SonataAdminBundle') }}"><img alt="" src="{{asset('bundles/easybadmin/images/menu_icons/delete_48.png') }}"></a></li>
    {% endif %}
</ul>
{% endblock %}

{% block show %}
<div class="widget justTable">
    {% for name, view_group in admin.showgroups %}
        {#{% if name %}<div class="whead"><h6>{{ admin.trans(name) }}</h6><div class="clear"></div></div>{% endif %}#}
        <table cellpadding="0" cellspacing="0" width="100%" class="tDefaultSpecial">
            <tbody>
                {% for field_name in view_group.fields %}
                    <tr>
                        {% if elements[field_name] is defined %}
                             {{ elements[field_name] | render_view_element(object) }}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div>
{% endblock %}