{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block content %}
    {{ render(controller('EasybMainBundle:Banners:upBanner')) }}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <section class="mainContent">
        <h1>Автопоиск</h1>
        {% include 'EasybMainBundle:Common:showMaterials.html.twig' with {'path' : 'autosearch', 'count' : ['20', '50', '100'], 'url' : '' } %}
        <section class="articles2 ind2">
            {% for search in result %}
                <article>
                    {% if search.getText() %}<h4>{{ search.getText() }}</h4>{% endif %}
                    {% if search.getCategory() %}<p class="section"><a  href="{{ path('catalog') }}?categoryId={{ search.getCategory().getId() }}&advertTypeId={{ search.getType() }}">{{ search.getCategory() }}</a></p>{% endif %}
                    <p class="grey">{% if search.getCity() %}{{ search.getCity }},{% endif %} {% if search.getType() == constant('Easyb\\AdvertBundle\\Entity\\AutoSearch::TYPE_DEMAND') %}Тендер{% else %}Предложение{% endif %}</p>
                    <p class="res-info"><a  class="atosearch-link" href="{{ catalog_url(search) }}">{% transchoice allCount[search.getId()] with {'%count%' : allCount[search.getId()] } %}autosearch.results{% endtranschoice %}</a> <span>/</span> <strong><a href="{{ catalog_url(search, true) }}">{% transchoice newCount[search.getId()] with {'%count%' : newCount[search.getId()] } %}autosearch.newResults{% endtranschoice %}</a></strong></p>
                    <label>
                        <input onchange="changeActive({{ search.getId() }})" type="checkbox" value="{{ search.isActive() }}" {% if search.isActive() %}checked="checked"{% endif %} >
                        Получать уведомления о новых объявлениях
                    </label>
                    <a  class="opt-link" href="{{ path('autosearch_delete', {'id' : search.getId()}) }}">Удалить</a>
                </article>
            {% endfor %}
        </section>
        {{ pagerfanta(result, 'pager') }}
    </section>
    {{ render(controller('EasybMainBundle:Banners:sideBanner')) }}
    {{ render(controller('EasybMainBundle:Banners:downBanner')) }}
    <script>
        function changeActive(id) {
            jQuery.ajax({
                url: '{{ path('autosearch_change_active') }}',
                data: {'id' : id},
                type: 'POST'
            });
            return false;
        }
    </script>
{% endblock %}