{% extends app.request.isXmlHttpRequest() ? 'EasybMainBundle:Frontend:ajax.html.twig' : 'EasybMainBundle:Frontend:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="modal modal-auth ajax-content">
        <div class="l">
            <h3>Вход в систему</h3>

            <form action="{{ url("_security_check") }}" method="POST" class="ajax" id="form_login">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <fieldset>
                    <ul class="form">
                        <li>
                            <div class="input{% if error %} error{% endif %}">
                                <input placeholder="Email" type="text" name="_username"  required="required" value="{{ last_username }}">
                            </div>
                        </li>
                        <li>
                            <div class="input{% if error %} error{% endif %}">
                                <input placeholder="Пароль" type="password" name="_password" required="required">
                            </div>
                        </li>
                        {% if error %}
                            <div class="err-text">{{ error|trans }}</div>
                        {% endif %}
                        <li class="submit">
                            <input class="small-btn" value="Войти" type="submit" id="login_but">
                        </li>
                        <li class="check">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                Запомнить имя</label>
                            <span>/</span> <a  class="thickbox" href="{{ path("fos_user_resetting_request") }}?height=750&width=500&modal=true">Забыли пароль?</a></li>
                    </ul>
                </fieldset>
            </form>
        </div>
        <div class="r">
            <h3>Регистрация</h3>
            <form action="{{ url("fos_user_registration_register") }}" method="POST" class="ajax">
                <fieldset>
                    <ul class="form">
                        <li>
                            <div class="input">
                                {{ form_row(form['email'], {'attr': {'placeholder': 'Email'} }) }}
                            </div>
                        </li>
                        <li class="check">
                            <label>
                                <input onchange="changeRulesCheckBox()" type="checkbox" id="rules" name="_remember_me" value="on" />
                                Я согласен с условиями <a  target="_blank" href="/page/rules">пользовательского соглашения</a>
                            </label>
                        </li>
                        <li class="submit">
                            <input class="btn active" value="Зарегистрироваться" type="submit" id="reg-but" disabled="disabled">
                        </li>
                    </ul>
                </fieldset>
                {{ form_rest(form) }}
            </form>
        </div>
        <div class="line"></div>
        <span class="close" id="close_login"></span>
    </div>
    <script>
        tb_init('.check a.thickbox');
        jQuery('#form_login').keyup(function (event) {
            var evt = event || window.event;
            if (evt.keyCode == 13) {
                jQuery('#login_but').click();
            }
        });
        function changeRulesCheckBox() {
            if (jQuery('#rules').attr("checked") !== 'checked') {
                jQuery("#reg-but").attr('disabled',true).addClass('active');
            } else {
                jQuery("#reg-but").removeAttr('disabled').removeClass('active');
            }
        }
    </script>
{% endblock content %}
