<!DOCTYPE html>
<html>
    <head>
        <title>EasyB - Admin Panel</title>
        <meta charset="UTF-8" />
        <link href="{{ asset('bundles/easybadmin/css/styles.css') }}" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/ui.spinner.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.mousewheel.js') }}"></script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/excanvas.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/jquery.flot.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/jquery.flot.orderBars.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/jquery.flot.pie.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/jquery.flot.resize.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/jquery.sparkline.min.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/tables/jquery.dataTables.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/tables/jquery.sortable.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/tables/jquery.resizable.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/autogrowtextarea.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.uniform.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.inputlimiter.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.tagsinput.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.maskedinput.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.autotab.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.chosen.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.dualListBox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.cleditor.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.ibutton.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.validationEngine-en.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.validationEngine.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/uploader/plupload.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/uploader/plupload.html4.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/uploader/plupload.html5.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/uploader/jquery.plupload.queue.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/wizards/jquery.form.wizard.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/wizards/jquery.validate.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/wizards/jquery.form.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.collapsible.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.breadcrumbs.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.tipsy.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.progress.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.timeentry.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.colorpicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.jgrowl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.fancybox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.fileTree.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.sourcerer.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/others/jquery.fullcalendar.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/others/jquery.elfinder.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.easytabs.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/files/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/files/login.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/files/functions.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/ckeditor/ckeditor.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybmain/js/uploadify/jQuery.uploadify.ru.js') }}"></script>
    </head>
    <body>

        <!-- Top line begins -->
        <div id="top">
            <div class="wrapper">
                <a href="#" title="" class="logo"><img src="{{ asset('bundles/easybadmin/images/logo.png') }}" alt="" /></a>

                <!-- Right top nav -->
                <div class="topNav">
                    <ul class="userNav">
                        <li><a href="#" title="" class="screen"></a></li>
                        <li><a href="#" title="" class="settings"></a></li>
                        <li><a href="#" title="" class="logout"></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- Top line ends -->

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
