{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _side_menu    = block('side_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
{% set _current_group  =  false %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% block stylesheets %}
        <link href="{{ asset('bundles/easybadmin/css/styles.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/easybadmin/css/main.css') }}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{ asset('bundles/easybadmin/css/jquery.multiselect.css') }}" rel="stylesheet"/>
    {% endblock %}


        {#{% javascripts output='/bundles/easybadmin/js/compressed.js'#}
        {#'@SonatajQueryBundle/Resources/public/jquery-1.8.0.js'#}
        {#'@SonatajQueryBundle/Resources/public/jquery-ui-i18n.js'#}
        {#'@SonataAdminBundle/Resources/public/qtip/jquery.qtip-1.0.0-rc3.min.js'#}
        {#'@SonataAdminBundle/Resources/public/base.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/ui.spinner.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/jquery.mousewheel.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/charts/excanvas.min.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/charts/jquery.flot.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/charts/jquery.flot.orderBars.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/charts/jquery.flot.pie.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/charts/jquery.sparkline.min.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/tables/jquery.dataTables.ru.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/tables/jquery.sortable.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/tables/jquery.resizable.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/autogrowtextarea.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/jquery.uniform.ru.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/jquery.inputlimiter.min.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/jquery.tagsinput.min.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/jquery.maskedinput.min.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/jquery.autotab.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/jquery.chosen.min.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/jquery.dualListBox.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/jquery.cleditor.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/jquery.ibutton.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/forms/jquery.validationEngine-ru.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/wizards/jquery.form.wizard.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/wizards/jquery.validate.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/wizards/jquery.form.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/ui/jquery.collapsible.min.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/ui/jquery.collapsible.min.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/ui/jquery.tipsy.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/ui/jquery.progress.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/ui/jquery.timeentry.min.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/ui/jquery.jgrowl.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/ui/jquery.fancybox.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/others/jquery.fullcalendar.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/others/jquery.fullcalendar.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/others/jquery.elfinder.js'#}
        {#'@easybadminBundle/Resources/public/js/files/bootstrap.js'#}
        {#'@easybadminBundle/Resources/public/js/files/login.js'#}
        {#'@easybadminBundle/Resources/public/js/files/functions.js'#}
        {#'@easybadminBundle/Resources/public/js/plugins/others/jquery.jeditable.mini.js'#}
        {#'@EMJQueryBundle/Resources/public/js/jquery.ui.autocomplete.js'#}
        {#'@SonatajQueryBundle/Resources/public/jquery-ui-1.8.23.js'#}
        {#filter='yui_js'#}
        {#%}#}
        {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}

    {% block javascripts %}
        <script src="{{ asset('bundles/sonatajquery/jquery-1.8.3.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-i18n.js') }}" type="text/javascript"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/ui.spinner.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.mousewheel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/excanvas.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/jquery.flot.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/jquery.flot.orderBars.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/jquery.flot.pie.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/jquery.flot.resize.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/charts/jquery.sparkline.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/tables/jquery.dataTables.ru.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/tables/jquery.sortable.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/tables/jquery.resizable.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/autogrowtextarea.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.uniform.ru.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.inputlimiter.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.maskedinput.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.autotab.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.chosen.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.dualListBox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.cleditor.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.ibutton.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.validationEngine-ru.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/jquery.validationEngine.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/wizards/jquery.form.wizard.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/wizards/jquery.validate.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/wizards/jquery.form.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.collapsible.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.tipsy.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.progress.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.timeentry.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.jgrowl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/others/jquery.fullcalendar.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/others/jquery.elfinder.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/ui/jquery.easytabs.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/files/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/files/login.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/files/functions.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/others/jquery.jeditable.mini.js') }}"></script>
        <script src="{{ asset('bundles/sonatajquery/jquery-ui-1.8.23.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/easybadmin/js/jquery.multiselect.js') }}"></script>
        <script src="{{ asset('bundles/emjquery/js/jquery.ui.autocomplete.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/ckeditor/ckeditor.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/easybmain/js/uploadify/jQuery.uploadify.ru.js') }}"></script>

        <script src="{{ asset('bundles/easybadmin/js/base.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/easybadmin/js/main.js') }}" type="text/javascript"></script>
    {% endblock %}

    <title>
        {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

        {% if _title is not empty %}
            {{ _title|raw }}
        {% else %}
            {% if action is defined %}
                -
                {% for menu in admin.breadcrumbs(action) %}
                    {% if not loop.first %}
                        &gt;
                    {% endif %}
                    {{ menu.label }}
                {% endfor %}
            {% endif %}
        {% endif %}
    </title>
</head>
<body>

<!-- Top line begins -->
<div id="top">
    <div class="wrapper">
        <a href="{{ path('admin_dashboard') }}" title="" class="logo h2">EasyB </a>

        <!-- Right top nav -->
        <div class="topNav">
            <ul class="userNav">
                <li><a href="/" title="" class="screen"></a></li>
                {#<li><a href="{{ admin_pool.dashboardgroups['default'].items['1'].generateUrl('list')}}" title="" class="settings"></a></li>#}
                <li><a href="{{ path('_admin_logout') }}" title="" class="logout"></a></li>
            </ul>
            <a title="" class="iButton"></a>
            <a title="" class="iTop"></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- Top line ends -->

<!-- Sidebar begins -->
<div id="sidebar">
    <div class="mainNav">


        <div class="user">
            <div class="secTopMain">
                <a class="triangle-red" href="#" id="showSecNav"></a>
            </div>
            <a title="" class="leftUserDrop"><img src="{{ asset('bundles/easybadmin/images/user2.png') }}" alt=""/><!--<span><strong>3</strong></span>--></a><span>{{ app.user.username }}</span>
            <ul class="leftUser">
                {#<li><a href="{{ admin_pool.dashboardgroups['Пользователи'].items['0'].generateUrl('show',{'id': app.user.getId() }) }}" title="" class="sProfile">{{ 'My profile'|trans({},'emSonataAdminBundle') }}</a></li>#}
                {#<li><a href="{{ admin_pool.dashboardgroups['default'].items['1'].generateUrl('list')}}" title="" class="sSettings">Settings</a></li>#}
                <li><a href="{{ path('_admin_logout') }}" title="" class="sLogout">{{ 'layout.logout'|trans({},'FOSUserBundle') }}</a></li>
            </ul>
        </div>

        <!-- Responsive nav -->
        <div class="altNav">
            <!-- User nav -->
            <ul class="userNav">
                {#<li><a href="{{ admin_pool.dashboardgroups['Пользователи'].items['0'].generateUrl('show',{'id': app.user.getId() }) }}" title="" class="profile"></a></li>#}
                {#<li><a href="{{ admin_pool.dashboardgroups['default'].items['1'].generateUrl('list')}}" title="" class="settings"></a></li>#}
                <li><a href="{{ path('_admin_logout') }}" title="" class="logout"></a></li>
            </ul>
        </div>

        <!-- Main nav -->
        {% if app.user %}
            <ul class="nav">
                {% for group in admin_pool.dashboardgroups %}
                    {% if group.label != 'default' %}
                        <li>
                            <a href="#">
                                <img src="{{ asset('bundles/easybadmin/images/icons/mainnav/dashboard.png') }}"/>
                                <span>{{ group.label|trans({}, group.label_catalogue) }}</span>
                            </a>
                            <ul>
                                {% for adminGroup in group.items %}
                                    {% if admin is defined and adminGroup.label ==  admin.label %}
                                        {% set _current_group  =  group.label %}
                                    {% endif %}
                                    {% if adminGroup.hasroute('create') and adminGroup.isGranted('CREATE') or adminGroup.hasroute('list') and adminGroup.isGranted('LIST') %}
                                        <li><a href="{{ adminGroup.generateUrl('list') }}">{{ adminGroup.label|trans({}, adminGroup.translationdomain) }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
                {% for group in admin_pool.dashboardgroups %}
                    {% if group.label == 'default' %}
                        {% for admin in group.items %}
                            {% if (admin.hasroute('create') and admin.isGranted('CREATE') or admin.hasroute('list') and admin.isGranted('LIST')) and admin.label != '-' %}
                                <li>
                                    <a href="{{ admin.generateUrl('list') }}"><img src="{{ asset('bundles/easybadmin/images/icons/mainnav/dashboard.png') }}"><span>{{ admin.label|trans({}, admin.translationdomain) }}</span></a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <!-- Secondary nav -->
    <div class="secNav">
        <div class="secWrapper">
            <div class="secTop">
                <div class="balance">
                    <div class="balInfo">{{ 'Today'|trans({},'emSonataAdminBundle') }}:<span>{{ date('now')|localeDate() }}</span></div>
                </div>
                <a class="triangle-red" href="#" id="hideSecNav"></a>
            </div>
            <div class="tab-container" id="tab-container">

                <!-- Tabs container -->
                <ul class="iconsLine ic{% if _list_filters|trim is not empty %}2{% else %}1{% endif %} etabs">
                    <li><a title="" href="#general"><span class="icos-list3"></span></a></li>
                    {% if _list_filters|trim is not empty %}
                        <li><a title="" href="#filters-tab"><span class="icos-search"></span></a></li>{% endif %}
                </ul>
                <div class="divider"><span></span></div>
                <!-- Sidebar big buttons -->

                <div id="general" style="display: block;" class="active">
                    {% for group in admin_pool.dashboardgroups %}
                        {% if group.label != 'default' and   _current_group == group.label %}
                            <ul class="subNav">
                                {% for adminClass in group.items %}
                                    {% if adminClass.hasroute('create') and adminClass.isGranted('CREATE') or adminClass.hasroute('list') and adminClass.isGranted('LIST') %}
                                        <li {% if adminClass.getCode() == admin.getCode() %}class="activeli"{% endif %}><a title="" href="{{ adminClass.generateUrl('list') }}"><span
                                                class="icos-fullscreen"></span>{{ adminClass.label|trans({}, adminClass.translationdomain) }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
                <div id="filters-tab">
                    {% if _list_filters|trim is not empty %}
                        {{ _list_filters|raw }}
                    {% endif %}
                </div>
                <div class="divider"><span></span></div>
            </div>

        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- Sidebar ends -->
<div id="content">
    <div class="contentTop">
        {% if _title is not empty or action is defined %}
            <span class="pageTitle"><span class="icon-screen"></span>
                {% if _title is not empty %}
                    {{ _title|raw }}
                    {% elseif action is defined %}
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if loop.last %}
                            {{ menu.label }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                    </span>
        {% endif %}
        {% if admin is defined %}
            <ul class="quickStats">
                {% set countUsers =  admin.getCountUsers %}
                <li>
                    <a href="" class="redImg"><img src="{{ asset('bundles/easybadmin/images/icons/quickstats/user.png') }}" alt=""/></a>

                    <div class="floatR"><strong class="blue">{{ countUsers }}</strong>
                        {% transchoice countUsers with {'%count%': countUsers} from "emSonataAdminBundle" %}users_count{% endtranschoice %}
                        </span></div>
                </li>
                <li>
                    <a href="" class="blueImg"><img src="{{ asset('bundles/easybadmin/images/icons/quickstats/plus.png') }}" alt=""/></a>

                    <div class="floatR"><strong class="blue">{{ admin.getCountLastWeekUsers }}</strong><span>за последнюю неделю</span></div>
                </li>
            </ul>
        {% endif %}
        <div class="clear"></div>
    </div>

    {% if _breadcrumb is not empty or action is defined %}
        <div class="breadLine">
            <div class="bc">
                <ul id="breadcrumbs" class="breadcrumbs">

                    {% if _breadcrumb is empty %}
                        {% if action is defined %}
                            {% for menu in admin.breadcrumbs(action) %}
                                {% if not loop.last %}
                                    <li><a href="{{ menu.uri }}">{{ menu.label }}</a></li>
                                {% else %}
                                    <li class="current"><a href="#" title="">{{ menu.label }}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {{ _breadcrumb|raw }}
                    {% endif %}
                </ul>
            </div>

            {#<div class="breadLinks">#}
            {#<ul>#}
            {#<li><a href="#" title=""><i class="icos-list"></i><span>Статей</span> <strong>(+58)</strong></a></li>#}
            {#<li><a href="#" title=""><i class="icos-check"></i><span>Пользователей</span> <strong>(+12)</strong></a></li>#}
            {#<li class="has">#}
            {#<a title="">#}
            {#<i class="icos-money3"></i>#}
            {#<span>Пока непонятно</span>#}
            {#<span><img src="{{ asset('bundles/easybadmin/images/elements/control/hasddArrow.png') }}" alt=""/></span>#}
            {#</a>#}
            {#<ul>#}
            {#<li><a href="#" title=""><span class="icos-add"></span>New invoice</a></li>#}
            {#<li><a href="#" title=""><span class="icos-archive"></span>History</a></li>#}
            {#<li><a href="#" title=""><span class="icos-printer"></span>Print invoices</a></li>#}
            {#</ul>#}
            {#</li>#}
            {#</ul>#}
            {#<div class="clear"></div>#}
            {#</div>#}

        </div>
    {% endif %}

    <div class="wrapper">
        {% block notice %}
            {% for notice_level in ['success','error','info', 'warning'] %}
                {% set session_var = 'sonata_flash_' ~ notice_level %}
                {% for flash in app.session.flashbag.get(session_var) %}
                    <div class="nNote {{ 'n' ~ notice_level|capitalize }}">
                        <p> {{ flash|trans([], 'SonataAdminBundle') }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}


        {% block actions %}{% endblock %}

        <div class="row-fluid">
            {% if _side_menu is not empty %}
                <div class="sidebar span2">
                    <div class="well sonata-ba-side-menu" style="padding: 8px 0;">{{ _side_menu|raw }}</div>
                </div>
            {% endif %}

            <div class="content {{ _side_menu is not empty ? ' span10' : 'span12' }}">
                {% block sonata_admin_content %}

                    {% if _preview is not empty %}
                        {{ _preview|raw }}
                    {% endif %}

                    {% if _content is not empty %}
                        {{ _content|raw }}
                    {% endif %}

                    {% if _show is not empty %}
                        {{ _show|raw }}
                    {% endif %}

                    {% if _form is not empty %}
                        {{ _form|raw }}
                    {% endif %}

                    {% if _list_table is not empty or _list_filters is not empty %}
                        {{ _list_table|raw }}
                    {% endif %}

                {% endblock %}
            </div>
        </div>

        {% block footer %}
        {% endblock %}
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        chechForShowSecTopMain();
        jQuery(window).resize(function () {
            chechForShowSecTopMainResize();
        });

        jQuery('#hideSecNav').bind('click', function () {
            jQuery('.secNav').hide();
            jQuery('.with').css('width', '100px');
            jQuery('#content').css('margin-left', '100px');
            jQuery('.secTopMain').show();
        });

        jQuery('#showSecNav').bind('click', function () {
            if (!chechForShowSecTopMain()) {
                jQuery('.with').css('width', '327px');
                jQuery('#content').css('margin-left', '327px');
            }
            jQuery('.secNav').show();
            jQuery('.secTopMain').hide();
        });
    });

    function chechForShowSecTopMain() {
        if (jQuery(window).width() > 481 && jQuery(window).width() < 768) {
            jQuery('.secTopMain').show();

            return true;
        }

        return false;

    }

    function chechForShowSecTopMainResize() {
        setTimeout('', 1);
        if (jQuery(window).width() > 481 && jQuery(window).width() < 768) {
            if (jQuery('.secNav').is(':hidden')) {
                jQuery('.with').css('width', '100px');
                jQuery('#content').css('margin-left', '100px');
                jQuery('.secTopMain').show();
            } else {
                jQuery('.secTopMain').hide();
                jQuery('.with').css('width', '100px');
                jQuery('#content').css('margin-left', '100px');
            }
        } else {
            if (jQuery('.secTopMain').is(':hidden')) {
                jQuery('.secNav').show();
                jQuery('.with').css('width', '327px');
                jQuery('#content').css('margin-left', '327px');
            } else {
                jQuery('.secNav').hide();
            }
        }

    }

    // Initialize easyb plugin
    jQuery.easyb();
</script>
</body>
</html>

