/* General custom admin stylesheet
==================================================
    # Stylized errors
    # Stylized forms
==================================================*/
.err-text {
    text-align: center;
    color: #cc0000;
}

.ui-dialog form .note-label {
    float: none;
    font-weight: 600;
}

.rules > .rule {
    float: left;
    margin: 0 5px;
}

.rules > .rule > .rule-check > input[type="checkbox"] {
    position: relative;
    top: 2px;
}
