{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block content %}
    {% set route = app.request.attributes.get('_route') %}
    {% set offerConst = constant('Easyb\\AdvertBundle\\Entity\\AbstractAdvert::OFFER') %}
    {% set demandConst = constant('Easyb\\AdvertBundle\\Entity\\AbstractAdvert::DEMAND') %}
    {{ render(controller('EasybMainBundle:Banners:upBanner')) }}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <div class="search-hold">
        <form method="post" {{ form_enctype(form) }} action="{{ path('catalog') }}" id="search-form">
            <div class="tabs">
                <a class="{% if app.session.get('advertTypeId') == demandConst %}top-link active{% else %}opt-link{% endif %}" href="#" value="{{ demandConst }}">Открытые тендеры</a><span>|</span><a class="{% if app.session.get('advertTypeId') == offerConst %}top-link active{% else %}opt-link{% endif %}" href="#" value="{{ offerConst }}">Коммерческие предложения</a>
            </div>
            <div class="search catalog_search">
                <div class="input">
                    {{ form_widget(form.text, {'attr' : {'placeholder' : 'Введите текст для поиска', 'class' : 'search_text', 'autocomplete' : 'off'}}) }}
                </div>
                <input class="small-btn" value="Найти" type="submit">

                <div class="sub">
                </div>
            </div>

            <div class="filter">
                <div class="select-block">
                    <span class="opt-link">Регион</span>: <span class="opt-text">{% if city %}{{ city.parent }}{% else %}Все регионы{% endif %}</span>

                    <div class="sub">
                        <ul class="many region-block">
                            <li value=""><a href="#">Все регионы</a></li>
                            {% for region in regions %}
                                <li value="{{ region.id }}"><a href="#">{{ region }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="select-block">
                    <span class="opt-link" data-region="{% if city %}{{ city.parent.id }}{% endif %}">Город</span>: <span class="opt-text">{% if city %}{{ city }}{% else %}Все города{% endif %}</span>

                    <div class="sub">
                        <ul class="many city-block">
                            <li value=""><a href="#">Все города</a></li>
                        </ul>
                    </div>
                </div>
                <div class="select-block">
                    <span class="opt-link">Раздел</span>: <span class="opt-text">Все разделы</span>
                    <div class="sub">
                        <ul class="many category-block">
                            <li value=""><a href="#">Все разделы</a></li>
                            {% for category in categories %}
                                <li value="{{ category.id }}"><a href="#">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="select-block">
                    <span class="opt-link">Подраздел</span>: <span class="opt-text">Все подразделы</span>

                    <div class="sub">
                        <ul class="many subcategory-block">
                            <li value=""><a href="#">Все подразделы</a></li>
                        </ul>
                    </div>
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span class="opt-link" onclick='location.href = "{{ path('autosearch') }}"'>Автопоиск</span>
                {% endif %}
            </div>
            {{ form_rest(form) }}
        </form>
    </div>

    {% if  app.session.get('search_text') %}
        <h1>
            По запросу «{{ app.session.get('search_text') }}» {% transchoice adverts|length with {'%count%' : adverts|length } %}search{% endtranschoice %}
        </h1>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="autosearch"><a id="autos-but" class="btn active" onclick="addAutoSearch(); return false;" href="#">Создать автопоиск</a> <span class="info-pic"><span class="pic"></span><span class="popup">Включите функцию уведомления, чтобы получать сообщения о новых объявлениях<span class="arr"></span></span></span>
        </div>
        <div class="catalog-head-text-auth">
            {% if metadata['head_text'] is defined %}
                {{ metadata['head_text'] | raw }}
            {% endif %}
        </div>
    {% else %}
        <div class="catalog-head-text">
            {% if metadata['head_text'] is defined %}
                {{ metadata['head_text']|raw }}
            {% endif %}
        </div>
    {% endif %}
    <table>
        <tr>
            <td class="catalog-offer-td">
                <section class="mainContent">
                    {% include 'EasybMainBundle:Common:onlySubjectMaterials.html.twig' with {'path' : route ,'count' : ['20', '50', '100'] } %}
                    <section class="articles">
                        {% for advert in adverts.currentPageResults %}
                            {#ToDo brainstorm#}
                            {% if advert %}
                                <article>
                                    <div class="photo">
                            <span class="cell-catalog">
                                <a href="{{ advert_show_route(advert) }}">
                                    {% if (advert.job.logo ) %}
                                        <img src="{{ advert.job.getWebLogo(constant('Easyb\\UserBundle\\Entity\\Job::UPLOAD_DIR_ADVERT')) }}" width="130" height="130" alt=" ">
                                    {% else %}
                                        <span class="nophoto"></span>
                                    {% endif %}
                                </a>
                            </span>
                                    </div>
                                    <div class="nofloat">
                                        <h4>
                                            <a href="{{ advert_show_route(advert) }}">{{ advert.name|truncate(66, true) }}</a>
                                            {% if isOffer == false and advert.isPublic == false %}
                                                <img src="{{ asset("/bundles/easybmain/images/lock.png") }}" style="width: 22px;">
                                            {% endif %}
                                        </h4>

                                        <div class="info">
                                            <a href="{{ path('show_job', {'slug' : advert.job.slug}) }}">
                                                {{ advert.job |truncate(30) }}
                                                {% if advert.job.organizationType != "" %}, {{ advert.job.organizationType }}{% endif %}
                                            </a>,

                                            <span>{{ advert.job.city.region }},</span>
                                            <span>{{ advert.publicationAt|date("d.m.Y") }},</span>
                                            <br>
                                            {% if app.session.get('advertTypeId') == offerConst %}
                                                    <!--<a  rel="nofollow" href="{{ path('catalog_offer', {'url' : advert.category.slug}) }}">-->{{ advert.category }}<!--</a>-->
                                            {% endif %}
                                            {% if app.session.get('advertTypeId') == demandConst %}
                                                    <!--<a  rel="nofollow" href="{{ path('catalog_demand', {'url' : advert.category.slug}) }}">-->{{ advert.category }}<!--</a>-->
                                            {% endif %}

                                            {% if isOffer == false %}
                                                <br>
                                                <br>
                                                <p>
                                                    <strong>Сбор заявок</strong> до {{ advert.expireAt | date("d.m.Y, H:i") }}<br>
                                                    <strong>Сбор КП</strong> до {{ advert.expireProposalAt | date("d.m.Y, H:i") }}<br>
                                                    <strong>Принятие решения</strong> до {{ advert.expireDecisionAt | date("d.m.Y, H:i") }}<br>
                                                </p>
                                            {% endif %}
                                        </div>
                                        {% set text = delete_tags(advert.getText(), true) %}
                                        {% spaceless %}
                                            {#{% if advert.isPrivate %}
                                                <p class="grey">Приватный тендер</p>
                                            {% else %}
                                                {{ text|truncate(160, true)|raw }}
                                            {% endif %}#}
                                            {{ text|truncate(160, true)|raw }}
                                            {% if isOffer == false and advert.isPublic == false %}
                                                <br>
                                                <br>
                                                <p class="red">Закрытый тендер</p>
                                            {% endif %}
                                        {% endspaceless %}
                                    </div>
                                    {% if loop.last %}
                                        {{ pagerfanta(adverts, 'pager') }}
                                    {% endif %}
                                </article>
                            {% endif %}
                        {% endfor %}
                        <div class="text-align-center">
                            {% if adverts is empty or adverts.currentPageResults()|first == null %}
                                {{ pageMessages[route] }}
                            {% endif %}
                        </div>
                    </section>
                </section>
            </td>
            <td class="catalog-offer-td">
                <div class="catalog-offer-title">
                    {{ advertTypeMessage }}
                </div>
                <div class="catalog-offer-text">
                    {{ render(controller('EasybMainBundle:Components:catalogCategory', {'advertTypeId': app.session.get('advertTypeId')})) }}
                </div>
            </td>
            {{ render(controller('EasybMainBundle:Banners:sideBanner')) }}
        </tr>
    </table>

    <div class="catalog-footer-text">
        <p>{{ metadata['footer_text']|raw }}</p>
    </div>
    {{ render(controller('EasybMainBundle:Banners:downBanner')) }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            window.search.initialize('{{ path('search_ajax') }}', '{{ form.text.vars.id }}', '{{ form.categoryId.vars.id }}', '{{ form.cityId.vars.id }}', '{{ form.advertTypeId.vars.id }}', '{{ form.subcategoryId.vars.id }}');
            window.search.initializeListeners();
            if (jQuery('#{{ form.text.vars.id }}').val()) {
                jQuery('#autos-but').removeClass('active');
            }
        });
        function addAutoSearch() {
            var searchInputId = jQuery('#{{ form.text.vars.id }}').val();
            var categoryId = jQuery('#{{ form.categoryId.vars.id }}').val();
            var cityId = jQuery('#{{ form.cityId.vars.id }}').val();
            var advertTypeId = jQuery('#{{ form.advertTypeId.vars.id }}').val();
            var addurl = '{{ path('add_autosearch') }}';

            jQuery.ajax({
                url: addurl,
                data: {'searchInputId': searchInputId, 'categoryId': categoryId, 'cityId': cityId, 'advertTypeId': advertTypeId},
                processData: true,
                type: 'POST',
                success: function (data) {
                    if (data.status == 'success') {
                        jQuery('.autosearch').html('<a  href="{{ path('autosearch') }}">Добавлен новый автопоиск</a>');
                    }
                }
            });
        }
    </script>
{% endblock %}
