<ul class="search-result">
    {% for key,result in results  %}
        <li ><a  href="#">{{ result['object'].getName() | highlight(result['index'], findString) | raw }}</a></li>
    {% endfor %}
</ul>
