{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/easybadvert/js/upload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/easybadvert/js/jquery.numeric.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <h1>{% block advert_header -%}{%- endblock %}</h1>
    <div class="parts">
        <section class="">
            {# <form action="{{ savePath }}" method="post" {{ form_enctype(form) }}>#}
            {{ form_start(form) }}
            <fieldset>
                <ul class="form html-input">
                    <li class="parts">
                        <div class="big_half" id="job-part">
                            {{ form_row(form.name) }}
                        </div>
                    </li>
                    <li class="parts">
                        <div class="big_half" id="job-part">
                            <label class="label{% if form.job.vars.errors is not empty %} error{% endif %}">{{ form_label(form.job) }}</label>
                                <span id="job-help" class="info-pic">
                                    <span class="pic"></span>
                                    <span class="popup">
                                        <a href="/profile/job/add">Добавить место работы</a>
                                        Вы сможете в личном кабинете<span class="arr">
                                        </span>
                                    </span><!-- end .popup-->
                                </span>
                            {{ form_widget(form.job) }}
                            {{ form_errors(form.job) }}
                        </div>
                    </li>
                    <li class="parts">
                        <div class="half">
                            <label class="label{% if form.category.vars.errors is not empty %} error{% endif %}">{{ form_label(form.category) }}</label>
                            {{ form_widget(form.category) }}
                            {{ form_errors(form.category) }}
                        </div>
                        <div class="half">
                            <label class="label{% if form.subcategory.vars.errors is not empty %} error{% endif %}">{{ form_label(form.subcategory) }}</label>
                            {{ form_widget(form.subcategory) }}
                            {{ form_errors(form.subcategory) }}
                        </div>
                    </li>

                    {% block advert_timing -%}

                    {%- endblock %}

                    <li class="html-input">
                        {% spaceless %}
                            {% block advert_text_help -%}
                                Кратко изложите суть Вашего коммерческого предложения: что предлагаете, уникальность, выгода, почему именно Ваше предложение и т.д. Пожалуйста соблюдайте <a class="thickbox" href="{{ path('show_page', {'link': 'add_rules'}) }}?height=750&width=500&modal=true">правила</a> по размещению информации на сайте.
                            {%- endblock %}
                            <span class="red">*</span>
                            <div class="{% if errors is not empty %} error {% endif %}">
                                {{ form_widget(form.text) }}
                                {{ form_errors(form.text) }}
                            </div>
                        {% endspaceless %}
                    </li>
                    {% block required_docs %}

                    {% endblock %}
                    <li class="html-input attachFiles">
                        {% block advert_files_help -%}
                            Вы можете прикрепить к своему предложению Презентацию, Прайс-лист и тд.<br/>
                            Внимание! Прикреплению подлежат файлы расширений Word, Excel, Power Point, PDF-документы и Фотоизображения.<br/>
                            Суммарный объем файлов не должен превышат 30 Мб<br/>
                            Объем одного файла не должен превышать 10 Мб
                        {%- endblock %}
                        {#<span>Выберите файл и дайте ему имя</span>#}
                        <div class="files ">
                            {{ form_widget(form.files) }}
                        </div>
                        {{ form_errors(form['files']) }}
                        {% for error in form.vars.errors %}
                            <div class="red">{{ error.getMessage() }}</div>
                        {% endfor %}
                    </li>
                    <li class="form_meta">
                        {{ form_row(form.metaDescription) }}
                    </li>
                    <li class="submit">
                        <button type="submit">Опубликовать</button>
                    </li>
                </ul>
            </fieldset>
            {{ form_end(form) }}
        </section>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#offer_type_subcategory").val() == '') reloadCategories();


            $(document).on("submit", "form", window.advert.validate_form);
            $('.demand-timing-wrapper > div > input').numeric();

            if (!$('#job-part').find('.selectText').html()) {
                $('#job-part').find('.selectText').html('<div style="color: white">.</div>');
            }


            $(document).on("submit", "form", function () {
                if (!validate_form()) {
                    return false;
                }
            });

            function parseDate(date) {
                var dateString = date;
                var reggie = /(\d{2}).(\d{2}).(\d{4}) (\d{2}):(\d{2})/;
                var dateArray = reggie.exec(dateString);
                var dateObject = new Date(
                        (+dateArray[3]),
                        (+dateArray[2]) - 1, // Careful, month starts at 0!
                        (+dateArray[1]),
                        (+dateArray[4]),
                        (+dateArray[5])
                );


                return dateObject;
            }

            function validate_form() {
                if (parseDate($('#demand_type_expireAt').val()) < (new Date())) {
                    $(".time_error .red").text("Некорректная дата").show();
                    return false;
                }

                if (parseDate($('#demand_type_expireAt').val()) < current_date) {
                    $(".time_error .red").text("Вы можете продлить процедуру сбора заявок, но укорачивать ее запрещено").show();
                    return false;
                }


                return true;
            }

            function reloadCategories($selector) {
                var $category = $('#offer_type_category');
                var $subcategory = $('#offer_type_subcategory');
                var $form = $("form");
                var data = {};
                data[$category.attr('name')] = $category.val();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: data,
                    success: function (html) {
                        $subcategory.parent().find(".selectArea").remove();
                        $subcategory.replaceWith(function () {
                                    var $select = $(html).find('#offer_type_subcategory');

                                    $select.find('option[value=""]').remove();
                                    return $select;
                                }
                        ).customSelect();
                    }
                });
            }

            $('#offer_type_category').change(function () {
                reloadCategories();
            });


        });
    </script>
    {% block extend_scripts %}
    {% endblock %}

{% endblock %}