{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block content %}
    <h1>{{ file.displayName }}</h1>

    <div class="parts">
        {% if type %}
            <iframe style="width: 100%; height: 800px;" src="http://docs.google.com/viewer?url=http://{{ file_path }}&embedded=true"></iframe>
        {% else %}
            <img style="width: 100%" src="{{ file.webPath }}">
        {% endif %}
    </div>
{% endblock %}