{% extends "EasybMainBundle:Frontend:layout.html.twig" %}

{% block metadata %}
    {{ parent() }}
    <meta property="og:title" content="{{ advert.name }}"/>
    <meta property="og:image" content="{{ advert.job.getWebLogo(constant('Easyb\\UserBundle\\Entity\\Job::UPLOAD_DIR_LOGO')) }}"/>
    <meta property="og:description" content="{{ delete_tags(advert.getText(), true) }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if canAnswer %}
        <script type="text/javascript" src="{{ asset('bundles/easybadmin/js/plugins/forms/ckeditor/ckeditor.js') }}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    {% set route_params = app.request.attributes.get('_route_params') %}
    {{ render(controller('EasybMainBundle:Banners:upBanner')) }}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    <div class="job-content-td">
        <section class="mainContent">
            <div class="similar-jobs-height">
                <h1>{{ advert.name }}</h1>
                <section class="user-head">
                    {% if advert.job.logo %}
                        <div class="photo">
                            <span class="cell">
                                <!--[if lte IE 7]><span><span><![endif]-->
                                <img src="{{ advert.job.getWebLogo(constant('Easyb\\UserBundle\\Entity\\Job::UPLOAD_DIR_LOGO')) }}">
                                <!--[if lte IE 7]></span></span><![endif]-->
                            </span>
                        </div>
                    {% else %}
                        <div class="photo">
                            <a href="#">
                                <span class="nophoto"></span>
                            </a>
                        </div>
                    {% endif %}
                    <div class="text">
                        <div class="info">
                            <a href="{{ path('show_job', {'slug' : advert.job.slug}) }}">{{ advert.job.name }}</a>, <br>
                            <span>{{ advert.job.city.region | truncate(30) }}</span>,
                            <span>{{ advert.publicationAt | date("d.m.Y") }}</span><br>
                            {#<a  href="{{ path('catalog') }}?categoryId={{ advert.getCategory().id }}&advertTypeId={% if isOffer %}{{ constant('Easyb\\AdvertBundle\\Entity\\AbstractAdvert::OFFER') }}{% else %}{{ constant('Easyb\\AdvertBundle\\Entity\\AbstractAdvert::DEMAND') }}{% endif %}&cityId={{ advert.job.getCity().id }}">{{ advert.getCategory().name }}</a></div>#}
                            {% if app.session.get('advertTypeId') == 2 %}
                                <a href="{{ path('catalog_offer', {'url' : advert.category.slug }) }}">{{ advert.category }}</a>
                            {% endif %}
                            {% if app.session.get('advertTypeId') == 1 %}
                                <a href="{{ path('catalog_demand', {'url' : advert.category.slug}) }}">{{ advert.category }}</a>
                            {% endif %}
                            <div class="contacts">
                                <ul>
                                    <li class="name" id="pname" data-title="{{ advert.user.fio }}" style="margin-left: -30px;">
                                        {{- advert.user.fio  | truncate(18) | replace({' ': '&nbsp;'}) | raw -}}
                                    </li>
                                    <li class="stat" id="pjob" data-title="{{ advert.job.position }}">
                                        {{ advert.job.position | truncate(25) }}
                                    </li>
                                    <li class="bg-phone" id="pphone" data-title="{{ advert.job.phone }}">
                                        {{ advert.job.phone |truncate(25) }}
                                    </li>
                                    {% if advert.job.skype -%}
                                        <li class="bg-skype" id="pskype" data-title="{{ advert.job.c }}">
                                            {{ advert.job.skype |truncate(25) }}
                                        </li>
                                    {% endif %}
                                    {% if advert.job.workEmail is not null %}
                                    <li class="bg-mail" id="pemail" data-title="{{ advert.job.workEmail }}">
                                        <a href="mailto:{{ advert.job.workEmail }}">{{ advert.job.workEmail |truncate(25) }}</a>
                                    </li>
                                {% else %}
                                    <li class="bg-mail" id="pemail" data-title="{{ advert.job.email }}">
                                        <a href="mailto:{{ advert.job.email }}">{{ advert.job.email |truncate(25) }}</a>
                                        {% endif %}
                                    </li>
                                    <li class="bg-site" id="psite" data-title="{{ advert.job.site }}">
                                        <a target="_blank" rel="nofollow" href="http://{{ advert.job.link }}">{{ advert.job.site  | truncate(25) }}</a>
                                    </li>
                                    {% if advert.user.linkedIn -%}
                                        <li class="bg-linkedin" id="plinked" data-hint="always" data-title="{{ advert.user.linkedin }}">
                                            <a rel="nofollow" target="_blank" href="{{ advert.user.linkedin }}">{{ advert.user.fio | truncate(25) }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                {% block message %}
                {% endblock %}


                <div class="demand_wrapper">
                    <div class="demand_tabs">
                        <span class="tab">Тендер</span>
                        <span class="tab">Вопросы-Ответы ({{ advert.questions | length }})</span>
                        <div class="ask" style="position: absolute;top: 10px;right: 0;">
                            <div class="wrap" style="position: relative;">
                                {% if canAskQuestion %}
                                    <a href="{{ path('ask_question', {'id' : advert.id }) }}?height=450&width=800&modal=true" class="thickbox">Задать вопрос организатору тендера</a>
                                {% else %}
                                    <span>Задать вопрос организатору тендера</span>
                                {% endif %}
                                <div class="info-pic">
                                    <span class="pic"></span>
                                            <span class="popup">
                                                Задавать вопросы по тендеру могут только участники тендера, прошедшие этап одобрения заявок на участие в тендере.
                                                <span class="arr"></span>
                                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab_content">
                        <div class="offer_text tab_item">
                            {% set text = delete_tags(advert.text) %}
                            {{ text|raw }}
                            {#{{ advert.getText()|striptags('<strong><u><em>')|raw|nl2br }}#}
                            <div class="hr"></div>

                            {% for file in files %}
                                <div class="file">
                                    <strong>{{ file.displayName }}</strong> |
                                    <a href="{{ path('save_file', {'id' : file.id }) }}">Скачать</a> |
                                    <a href="{{ path('preview_file', {'id' : file.id }) }}" target="_blank">Просмотр</a>
                                </div>
                                {% if loop.last %}
                                    <div class="hr"></div>
                                {% endif %}
                            {% endfor %}

                            {% block button %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user != advert.user %}
                                    {% if advert.fromAdmin %}
                                        <a class="btn big-btn thickbox" href="{{ path('send_fromadmin', {'id' : advert.id}) }}?height=800&width=800&modal=true">Связаться с компанией</a>
                                    {% else %}
                                        {% if isOffer %}
                                            <a class="btn big-btn thickbox" href="{{ path('send_demand', {'id' : advert.id}) }}?height=800&width=800&modal=true">Одобрить предложение</a>
                                        {% else %}
                                            {% if date("now") < advert.expireAt %}
                                                {% if canAnswer %}
                                                    <a class="btn big-btn thickbox" href="{{ path('send_reaction', {'id' : advert.id}) }}?height=800&width=800&modal=true">Подать заявку на участие в тендере</a>
                                                {% else %}
                                                    <span class="btn big-btn active">Подать заявку на участие в тендере</span>
                                                {% endif %}
                                                {% if hasReactions %}
                                                    <a class="btn big-btn" href="{{ path('my_offer') }}">Редактирование заявок</a>
                                                {% endif %}


                                            {% else %}
                                                <span class="btn big-btn active">Процедура сбора заявок истекла</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% elseif not is_granted('IS_AUTHENTICATED_FULLY') and app.user != advert.user %}
                                    {% if advert.fromAdmin %}
                                        <a class="btn big-btn thickbox" href="{{ path('login') }}?height=270&width=670&modal=true">Связаться с компанией</a>
                                    {% else %}
                                        <a class="btn big-btn thickbox" href="{{ path('login') }}?height=270&width=670&modal=true">
                                            {% if isOffer %}Одобрить предложение{% else %}Подать заявку на участие в тендере{% endif %}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endblock %}
                        </div>
                        <div class="tab_item">
                            {% if isOffer == false %}

                                {% if advert.questions | length > 0 %}
                                    {% for question in advert.questions %}
                                        <div>
                                            <p>{{ question.createdAt | date("d.m.Y H:i") }}</p>

                                            <p class="question">Вопрос от компании {{ question.job.name }}:</p>

                                            <p class="question">{{ question.question | raw }}</p>
                                            {% if question.answer != '' %}
                                                <p class="answer">Ответ:</p>

                                                <p class="answer">{{ question.answeredAt | date("d.m.Y H:i") }}</p>

                                                <p class="answer">{{ question.answer | raw }}</p>
                                            {% else %}
                                                {% if app.user == advert.user %}
                                                    <a href="{{ path('answer_question', {'id' : question.id }) }}?height=600&width=800&modal=true" class="thickbox">Ответить</a>
                                                {% endif %}
                                            {% endif %}
                                            <div class="hr"></div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="no_answers">
                                        Вопросов и ответов по тендеру пока нет
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <script>
                    $(".tab_item").not(":first").hide();
                    $(".wrapper .tab").click(function () {
                        $(".wrapper .tab").removeClass("active").eq($(this).index()).addClass("active");
                        $(".tab_item").hide().eq($(this).index()).fadeIn()
                    }).eq(0).addClass("active");
                </script>
            </div>
            {% set url = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            <a href="#" onclick="Share.facebook('{{ url }}','{{ advert.job.name }}, {{ advert.name }} at Easyb.ru.','','{{ delete_tags(advert.getText(), true) |truncate(50) }}');return false;"><img src="{{ asset('bundles/easybmain/images/btn_fcb.png') }}"/></a>
            <a href="#" onclick="Share.google('http://easyb.ru{{ url }}');return false;"><img src="{{ asset('bundles/easybmain/images/btn_googl.png') }}"/></a>
            <a href="#" onclick="Share.twitter('http://easyb.ru{{ url }}','{{ advert.job.name }}, {{ advert.name }}, ');return false;"><img src="{{ asset('bundles/easybmain/images/btn_twit.png') }}"/></a>
            <a href="#" onclick="Share.vkontakte('http://easyb.ru{{ url }}', '{{ advert.name }}', '', '{{ delete_tags(advert.getText(), true) |truncate(100) }}');return false;"><img src="{{ asset('bundles/easybmain/images/btn_vk.png') }}"/></a>
            <script>
                // social share buttons
                Share = {
                    facebook: function (purl, ptitle, pimg, text) {
                        url = 'http://www.facebook.com/sharer.php?s=100';
                        url += '&p[title]=' + encodeURIComponent(ptitle);
                        url += '&p[summary]=' + encodeURIComponent('');
                        url += '&p[url]=' + encodeURIComponent(purl);
//                    url += '&p[images][0]=' + encodeURIComponent(pimg);
                        Share.popup(url);
                    },
                    twitter: function (purl, ptitle) {
                        url = 'http://twitter.com/share?';
                        url += 'text=' + encodeURIComponent(ptitle);
                        url += '&url=' + encodeURIComponent(purl);
                        url += '&counturl=' + encodeURIComponent(purl);
                        url += '&via=' + encodeURIComponent('easyb.ru');
                        Share.popup(url);
                    },
                    vkontakte: function (purl, ptitle, pimg, text) {
                        url = 'http://vkontakte.ru/share.php?';
                        url += 'url=' + encodeURIComponent(purl);
                        url += '&title=' + encodeURIComponent(ptitle);
                        url += '&description=' + encodeURIComponent(text);
//                    url += '&image='       + encodeURIComponent(pimg);
                        url += '&noparse=true';
                        Share.popup(url);
                    },
                    google: function (purl) {
                        url = 'https://plus.google.com/share?';
                        url += 'url=' + encodeURIComponent(purl);
                        Share.popup(url);
                    },

                    popup: function (url) {
                        window.open(url, '', 'toolbar=0,status=0,width=626,height=436');
                    }
                };

                $(".contacts li").each(function () {
                    if ($(this).text().trim().slice(-3) === "...") {
                        applyAdvancedTooltip($(this));
                    } else {

                    }
                    if ($(this).data("hint") == "always") {
                        applyAdvancedTooltip($(this));
                    }
                });

                $(document).on("click", ".copy", function () {
                    copyToClipboard($(this).data("text"));
                    return false;
                });

                function copyToClipboard(text) {
                    var $temp = $("<input>");
                    $("body").append($temp);
                    $temp.val(text).select();
                    document.execCommand("copy");
                    $temp.remove();
                }

                function applyAdvancedTooltip(element_id) {
                    var tooltip = $('<div/>');

                    var value = $('<span/>');
                    if (element_id.data('hint') == "always") {
                        value.html("");
                    } else value.html(element_id.data('title'));
                    value.appendTo(tooltip);

                    $('<span/>').html('&nbsp;').appendTo(tooltip);

                    var anchor = $('<a/>', {
                        'class': 'copy',
                        href: '#'
                    });

                    anchor.data("text", element_id.data("title"));

                    anchor.html('Копировать');
                    anchor.appendTo(tooltip);

                    element_id.poshytip({content: tooltip});
                }

            </script>
        </section>
    </div>
    {% if isOffer %}
        {% set similar_route = 'show_offer' %}
    {% else %}
        {% set similar_route = 'show_demand' %}
    {% endif %}
    <div class="job-td">
        <div class="job-title">
            {% if similarAds is not empty %}
                {% if isOffer %}
                    <p>Похожие коммерческие предложения</p>
                {% else %}
                    <p>Похожие тендеры</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="similar-jobs-scroll" {#style="overflow: auto; height: 800px; border: solid 0px white;"#}>
            {% for similarAd in similarAds %}
                {% if similarAd.job.logo %}
                    <a href="{{ path( similar_route, {'category' : similarAd.getCategory().slug, 'city' : similarAd.job.getCity().slug,'slug' : similarAd.slug}) }}">
                        <div class="photo" align="center"><span class="cell"><!--[if lte IE 7]><span><span><![endif]--><img class="job-picture" src="{{ similarAd.job.getWebLogo(constant('Easyb\\UserBundle\\Entity\\Job::UPLOAD_DIR_LOGO')) }}"><!--[if lte IE 7]></span></span><![endif]--></span></div>
                    </a>
                {% else %}
                    <a href="{{ path( similar_route, {'category' : similarAd.getCategory().slug, 'city' : similarAd.job.getCity().slug,'slug' : similarAd.slug}) }}">
                        <div class="photo" align="center"><span class="cell"><!--[if lte IE 7]><span><span><![endif]--><img class="job-picture" src="{{ asset('bundles/easybmain/images/no-img.jpg') }}"><!--[if lte IE 7]></span></span><![endif]--></span></div>
                    </a>
                {% endif %}
                <div class="job-name"><a href="{{ path( similar_route, {'category' : similarAd.getCategory().slug, 'city' : similarAd.job.getCity().slug,'slug' : similarAd.slug}) }}">{{ similarAd.name|truncate(85,true) }}</a></div>
            {% endfor %}
            {{ render(controller('EasybMainBundle:Banners:downBanner')) }}
        </div>
        <script>
            $("div.job-td").height($("div.similar-jobs-height").height() - 39)
        </script>
    </div>

    {% for flashMessage in app.session.flashbag.get('newReaction') %}
        {% if flashMessage %}
            <div id="TB_overlay" class="TB_overlayBG"></div>
            <div id="TB_window" style="margin-left: -265px; width: 530px; margin-top: -90px; display: block;">
                <div id="TB_ajaxContent" class="TB_modal" style="width: 500px; height: 150px;">
                    <div class="modal">
                        <section>
                            {{ flashMessage | raw }}
                        </section>
                        <span class="close" id="close_modal"></span></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}