{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{# Labels #}
{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ " control-label" }) %}

            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}

            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}

            {% if in_list_checkbox is defined and in_list_checkbox and widget is defined %}
                <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>
                {{ widget|raw }}
                <span>
                    {% if not sonata_admin.admin %}
                        {{- label|trans({}, translation_domain) -}}
                    {% else %}
                        {{- label|trans({}, sonata_admin.field_description.translationDomain) -}}
                    {% endif%}
                </span>
                </label>
            {% else %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {% if not sonata_admin.admin%}
                    {{- label|trans({}, translation_domain) -}}
                {% else %}
                    {{ sonata_admin.admin.trans(label, {}, sonata_admin.field_description.translationDomain) }}
                {% endif %}
                {{ required ? '*' : '' }}
                </label>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block widget_container_attributes_choice_widget %}
    {% spaceless %}
        id="{{ id }}"
        {% for attrname,attrvalue in attr %}{{attrname}}="{% if attrname == 'class' %}unstyled {% endif%}{{attrvalue}}" {% endfor %}
        {% if "class" not in attr %}class="unstyled"{%endif %}
    {% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <ul {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <li>
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            <ul {{ block('widget_container_attributes_choice_widget') }}>
                {% for child in form %}
                    <li>
                        {{ form_label(child, child.vars.label|default(null), { 'in_list_checkbox' : true, 'widget' : form_widget(child) } ) }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if empty_value is not none %}
                    <option value="">{{ empty_value|trans }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{% block form_row %}
    {% if sonata_admin is not defined or not sonata_admin_enabled or not sonata_admin.field_description %}
        {#<div class="grid9">{{ form_row(form) }}</div>#}
        <div class="control-group {% if errors|length > 0%} error{% endif %}">
            {#{{ form_label(form, label|default(null)) }}#}
            <div class="controls">
                {{ form_widget(form) }}
                {% if errors|length > 0 %}
                    <div class="help-inline sonata-ba-field-error-messages">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="control-group{% if errors|length > 0 %} error{% endif %}" id="sonata-ba-field-container-{{ id }}">
            {% block label %}
                {% if sonata_admin.field_description.options.name is defined %}
                    <div class="grid3">{{ form_label(form, sonata_admin.field_description.options.name, { 'attr' : {'class' : 'control-label'} }) }}</div>
                {% else %}
                    <div class="grid3">{{ form_label(form, label|default(null), { 'attr' : {'class' : 'control-label'} }) }}</div>
                {% endif %}
            {% endblock %}

            <div class="controls sonata-ba-field sonata-ba-field-{{ sonata_admin.edit }}-{{ sonata_admin.inline }}">

                <div class="grid9 {% if attr['class'] == 'select' %} searchDrop {% endif %}">
                    {{ form_widget(form) }}

                    {% if sonata_admin.field_description.help %}
                        <span class="note">{{ sonata_admin.admin.trans(sonata_admin.field_description.help)|raw }}</span>
                    {% endif %}

                    {% if errors|length > 0 %}
                        <label class="error" generated="true">
                            {{ form_errors(form) }}
                        </label>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock form_row %}

{% block collection_widget_row %}
    {% spaceless %}
        <div class="sonata-collection-row">
            {% if allow_delete %}
                <a href="#" class="btn sonata-collection-delete"><i class="icon-remove"></i></a>
            {% endif %}
            {{ form_row(child) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set child = prototype %}
            {% set attr = attr|merge({'data-prototype': block('collection_widget_row'), 'data-prototype-name': prototype.vars.name, 'class': attr.class|default('') ~ ' controls' }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            {% for child in form %}
                {{ block('collection_widget_row') }}
            {% endfor %}
            {{ form_rest(form) }}
            {% if allow_add %}
                <div><a href="#" class="btn sonata-collection-add"><i class="icon-plus"></i></a></div>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock collection_widget %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} />
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block datetime_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
    {{ block('form_widget_simple') }}
    {% else %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form.date) }}
        {{ form_errors(form.time) }}
        {{ form_widget(form.date) }}
        {{ form_widget(form.time) }}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        <div>
            <input type="text" class="datepicker" {% if value is not empty %}value="{{ value }}" {% endif %} id="{{ id }}" name="{{ full_name }}">
        </div>
    {% else %}
    <div {{ block('widget_container_attributes') }}>
        {{ date_pattern|replace({
                    '{{ year }}':  form_widget(form.year),
                    '{{ month }}': form_widget(form.month),
                    '{{ day }}':   form_widget(form.day),
                })|raw }}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        <div id="dateTimePicker">
            <input type="text" class="timepicker" {% if value is not empty %}value="{{ value }}" {% endif %} id="{{ id }}" name="{{ full_name }}">
        </div>
    {% else %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_widget(form.hour, { 'attr': { 'size': '1' } }) }}:{{ form_widget(form.minute, { 'attr': { 'size': '1' } }) }}{% if with_seconds %}:{{ form_widget(form.second, { 'attr': { 'size': '1' } }) }}{% endif %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{% block email_widget %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% set inputTypeEmail = true %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock email_widget %}

{% block textarea_widget %}
    {% spaceless %}
        {% if attr['class'] == 'editor' %}
            <div class="widget" id="widgetEditor">
                <div class="whead"><h6>HTML-редактор</h6>

                    <div class="clear"></div>
                </div>
                <textarea {{ block('widget_attributes') }} >{{ value }}</textarea>
            </div>
        {% else %}
            <textarea {{ block('widget_attributes') }} >{{ value }}</textarea>
        {% endif %}
    {% endspaceless %}
{% endblock textarea_widget %}

{% block widget_class %}
    {% spaceless %}
        {% for attrname, attrvalue in attr %}
        {% if attrname == 'class' %}
            {{ attrvalue }}
        {% endif %}
        {% endfor %}


        {% if errors|length > 0 %} error {% endif %}

        {% if required or inputTypeEmail is defined or max_length %}
            validate[{% if required %} required,{% endif %}{% if inputTypeEmail is defined %} custom[email],{% endif %}{% if max_length %} maxSize[{{ max_length }}],{% endif %}]
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}
        {% if attrname in ['placeholder', 'title'] %}
            {{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
            {% elseif attrname != 'class' %}
            {{ attrname }}="{{ attrvalue }}"
            {% elseif attrname == 'class' %}
            {{ attrname }}="{{ block('widget_class') }}"
        {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block checkbox_widget %}
    {% spaceless %}
        <div class="check">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %} {% if checked %} checked="checked"{% endif %}/>
        </div>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block integer_widget %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock integer_widget %}

{% block em_file_widget %}
    {% spaceless %}
        {{ form_errors(form['file']) }}
        {{ form_widget(form['file']) }}
        {% if type == 'image' and imagePath  %}
            <br/><br/>
            <img src="{{ imagePath }}"><br/>
        {% endif %}
        {% if type == 'file'  and imagePath  %}
            <div>{{ imagePath }}</div>
        {% endif %}
        {% if with_delete and imagePath %}
            <div class="check">
                    <span>
                         {{ form_widget(form['delete']) }}   {{ form_label(form['delete']) }}
                    </span>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock em_file_widget%}

{% block uploadbanner_widget %}
    {% spaceless %}
        <a href="#" {{ block('widget_attributes') }}></a>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                jQuery('#{{ id }}').uploadify({
                    'hideButton': true,
                    'wmode': 'transparent',
                    'height': '20',
                    'width': '255',
                    'removeTimeout': 0,
                    'successTimeout': 10,
                    'fileObjName': 'filedata',
                    'swf': '{{ asset(swfPath) }}',
                    'uploader': '{{ path(uploaderPath) }}',
                    'formData': { {% for key,data in formData %} '{{ key }}': {{ data }}, {% endfor %} },
                    'multi': {% if multi %}true{% else %}false{% endif %},
                    'fileTypeExts': '{{ fileTypeExts }}',
                    'fileSizeLimit': '5MB',
                    'buttonText': '<div class="uploader"><span class="filename" style="-moz-user-select: none;">Выберите файл...</span><span class="action" style="-moz-user-select: none;">Choose File</span></div>',
                    'onUploadSuccess': function (file, data, response) {
                        data = $.parseJSON(data);
                        addBanner(data);
                    },
                    'onUploadError': function (file, errorCode, errorMsg, errorString) {
                        console.log(errorMsg);
                        console.log(errorString);
                        if (errorString == 'Cancelled') {
                            alert('Загрузка баннера прервана');
                        } else {
                            jQuery('body').append(jQuery('#popupError'));
                            jQuery('#popupError').show();
                        }
                    }
                });
            });
        </script>
        <div class="modal" id="popupError" style="display: none">
            Ошибка
        </div>
    {% endspaceless %}
{% endblock %}

{% block admin_file_collection_widget %}
{% endblock admin_file_collection_widget %}