{% extends 'EasybMainBundle:Frontend:layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <nav class="path">
        {{ wo_render_breadcrumbs() }}
    </nav>
    {% if app.session.flashbag.get('success_confirm') %}
        <div class="notice">
            <h3>Регистрация успешно завершена!</h3>
            Добро пожаловать в систему.<br>
            Теперь вы можете добавить свое место работы. <span class="close" id="complete"></span></div>
        <script>
            $(document).delegate('#complete', 'click', function () {
                $('.notice').remove();
            })
        </script>
    {% endif %}
    <h1>Редактирование личных данных</h1>
    <div class="parts">
        <section class="half">
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">
                <fieldset>
                    <ul class="form">
                        <li>
                            <div class="input" style="width: 41%; float: left;">
                                <input type="text" id="first_name" placeholder="Фамилия" required="required">
                            </div>
                            <div class="input" style="width: 41%; float: left;">
                                <input type="text" id="second_name" placeholder="Имя" required="required">
                            </div>
                            {{ form_widget(form.fio) }}
                        </li>
                        <li>
                            {{ form_row(form.linkedin) }}
                            <div class="err-text linkedin-error" style="display: none;">Внимание! Размещению подлежит только ссылка на социальную сеть LinkedIn.</div>
                        </li>
                        <li>
                            {{ form_row(form['email']) }}
                        </li>
                        {#<li class="check">
                            <label>
                                {{ form_widget(form['reviewNotification']) }}
                                Получать уведомления о новых откликах</label>
                        </li>#}
                    </ul>
                    <h3>Смена пароля</h3>
                    <ul class="form">

                        <li class="parts">
                            <div class="half">
                                {{ form_row(form['plainPassword']['first']) }}
                            </div>
                            <div class="half">
                                {{ form_row(form['plainPassword']['second']) }}
                            </div>
                        </li>
                        <li class="submit">
                            <input type="submit" value="Сохранить">
                        </li>
                    </ul>
                </fieldset>
                {{ form_rest(form) }}
            </form>
        </section>
        <!-- end .half-->
    </div>
    <div id="hiddenModalContent" style="display: none">
        <div class="modal">
            <h3>Удаление места работы</h3>

            <p>Одновременно с удалением места работы будут удалены все коммерческие предложения и тендеры, созданные Вами. Вы уверены, что хотите удалить страницу компании?</p>
            <nav class="actions2">
                <table>
                    <tr>
                        <td><a id="take-url" class="bg-delete" href=""><span class="dash">Удалить</span></a></td>
                    </tr>
                </table>
            </nav>
            <span class="close" id="close_modal"></span>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('newJob') %}
        {% if flashMessage %}
            <div id="TB_overlay" class="TB_overlayBG"></div>
            <div id="TB_window" style="margin-left: -265px;width: 530px;margin-top: -90px;display: block;">
                <div id="TB_ajaxContent" class="TB_modal" style="width: 500px; height: 745px;">
                    <div class="modal">
                        <section>
                            {{ flashMessage | raw }}
                        </section>
                        <span class="close" id="close_modal"></span></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div id="hiddenFirstJobAddedContent" style="display: none">
        {{ render_new_job_added_modal() }}
    </div>

    <script>
        function sure(url) {
            $('#take-url').attr('href', url);
        }
        $(document).ready(function () {
            {%- if app.request.get('first') %}
            tb_show("hiddenFirstJobAddedContent", "#TB_inline?height=750&amp;width=500&amp;inlineId=hiddenFirstJobAddedContent&amp;modal=true", null);
            {% endif -%}
            if ($("#fos_user_profile_form_fio").val() != "") {
                var names = $("#fos_user_profile_form_fio").val().split(" ");
                $("#first_name").val(names[0]);
                $("#second_name").val(names[1])
            }
        });

        $("form").on("submit", function () {
            $("#fos_user_profile_form_fio").val(function () {
                return $("#first_name").val() + " " + $("#second_name").val();
            });
        });

        $("#fos_user_profile_form_linkedin").on("change keyup", function () {
            if (!this.checkValidity()) {
                $(".linkedin-error").show();
            } else {
                $(".linkedin-error").hide();
            }
        });
    </script>
{% endblock content %}
