<div class="modal">
    <h3>Ответить вопрос по тендеру: {{ demand.name }}</h3>
    <section class="send-question">
        {{ form_start(form, {'action' : path('answer_question', {'id' : question.id }), 'attr' : {'class' : 'answer_form'}}) }}
        <fieldset>
            <p class="question">
                {{ question.question }}
            </p>
            {{ form_widget(form.answer) }}
            <hr>
            <div class="submit">
                <button class="btn" type="submit" id="send-but">Ответить</button>
            </div>
        </fieldset>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </section>
    <span class="close" id="close_modal"></span>
</div>

<script>
    var editor = CKEDITOR.instances['answer_type_answer'];
    if (editor) {
        editor.destroy(true);
    }
    CKEDITOR.replace('answer_type_answer');

    $("#TB_window").css("position", "absolute");
</script>