<div class="modal">
    <h3>Задать вопрос организатору тендера: {{ demand.name }}</h3>
    <section class="send-question">
        {{ form_start(form, {'action' : path('ask_question', {'id' : demand.id }), 'attr' : {'class' : 'question_form'}}) }}
        <fieldset>
            {#<h4>Сопроводительное письмо</h4>#}
            {{ form_label(form.job) }}
            {{ form_widget(form.job) }}
            <br>
            {{ form_widget(form.question) }}
            <hr>
            <div class="submit">
                <button class="btn" type="submit" id="send-but">Задать вопрос</button>
            </div>
        </fieldset>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </section>
    <span class="close" id="close_modal"></span>
</div>

<script>
    var editor = CKEDITOR.instances['question_type_question'];
    if (editor) {
        editor.destroy(true);
    }
    CKEDITOR.replace('question_type_question');

    $("#TB_window").css("position", "absolute");
</script>